<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$CategoriesInfo[CategoryName]}</title>
    <link href="{echo CssURL}/common/reset.css" rel="stylesheet" type="text/css" />
    <link href="{echo CssURL}/common/TourPublic.css" rel="stylesheet" type="text/css" />
    <link href="{echo CssURL}/www/tourstyle3.0.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="wrap">
    <div class="MtopBar">
        {template HeaderTop}
    </div>
    <div class="InHeader">
        <div class="w1200 cf">
            <img src="http://images.57us.com/img/common/headerPhone3.0.png" class="fr" />
            <a href="http://www.57us.com" class="NewsLogo" title="57美国网">57美国网</a>
        </div>
    </div>
    <div class="w1200 mt45 cf">
        <div class="styleLeft fl">
            <ul class="styleMenu styleMenuSt">
                {loop $Category $lists}
                <li {if $ArticlesInfo[0][CategoryID]==$lists[CategoryID] || $CategoriesInfo[ParentCategoryID]==$lists[CategoryID]}class="on"{/if}>
                {if count($lists[Two])>1}
                <a href="/about/{$lists['Two'][0]['Alias']}.html" class="FirstA" {if $lists[ 'Alias']=='map' }target="_blank" {/if}><span class="f20 dian">▪</span>{$lists['CategoryName']}{if $lists['Two']}<em></em>{/if}</a>
                {else}
                <a href="/about/{$lists['Alias']}.html" class="FirstA"><span class="f20 dian">▪</span>{$lists['CategoryName']}</a>
                <span class="line"></span>
                {/if}
                
							
                            
                    
                    {if $lists['Two']}
                    <div class="styleSecondMenu">
                        {loop $lists['Two'] $val}
                        <a href="/about/{$val['Alias']}.html" {if $ArticlesInfo[0][CategoryID]==$val[CategoryID]}class="on"{/if}>{$val['CategoryName']}</a>
                        {/loop}
                    </div>
                    {/if}
                    
                </li>
                {/loop}
            </ul>
        </div>
        <div class="styleRight fr">
            <div class="tit stutit"><span class="name fl">{if count($ArticlesInfo)==1}{$ArticlesInfo[0][Title]}{else}{$CategoriesInfo[CategoryName]}{/if}</span></div>
            {if count($ArticlesInfo)==1}
            {$ArticlesInfo[0][Content]}
            {else}
            {loop $ArticlesInfo $lists}
            <ul class="mediaList">
                <li>
                    <p class="title"><a href="{echo WEB_MAIN_URL}/about/{$lists[ArticleID]}.html" target="_blank" title="{$lists[Title]}">{$lists[Title]}</a></p >
                    {echo _substr($lists[Content],200)}
                </li>
            </ul>
            {/loop}
            {/if}
        </div>
    </div>
    <div class="NewsFoot mt50">
					<div class="w1200 cf NewsFooter">
						<a class="FootLogo mt15" href="{echo WEB_MAIN_URL}" title="57美国网">57美国网</a>
						<div class="FootCont mt25 fl">
							<a href="{echo WEB_MAIN_URL}/about/contacts.html" target="_blank" title="公司简介">公司简介</a>
							<a href="JavaScript:void(0)">|</a>
							<a href="{echo WEB_MAIN_URL}/about/contact.html" target="_blank" title="联系我们">联系我们</a>
							<a href="JavaScript:void(0)">|</a>
							<a href="{echo WEB_MAIN_URL}/about/map.html" target="_blank" title="站点地图">站点地图</a>
							<a href="JavaScript:void(0)">|</a>
							<a href="{echo WEB_MAIN_URL}/about/tiaokuan.html" target="_blank" title="使用条款">使用条款</a>
							<a href="JavaScript:void(0)">|</a>
							<a href="{echo WEB_MAIN_URL}/about/privacy.html" target="_blank" title="隐私保护">隐私保护</a>
							<br> Copyright © 2015 57US.com
							<a href="{echo WEB_MAIN_URL}" title="57美国网">57美国网 </a> All rights reserved. 闽ICP备15017345号
						</div>
						<ul class="FootMeida fr">
							<li class="i1">
								<div class="ChatCode"><img src="{echo ImageURL}/img/common/wx.png" width="112" height="112"><em></em></div>
							</li>
							<li class="i2">
								<div class="ChatCode"><img src="{echo ImageURL}/img/common/wb.jpg" width="112" height="112"><em></em></div>
							</li>
						</ul>
						<div class="safeBox mt20 fl">
							<a href="http://www.isc.org.cn/" target="_blank" rel="nofollow"><img src="{echo ImageURL}/img/common/safe1_3.0.png" height="47" /></a>
							<a href="http://wsgs.fjaic.gov.cn/creditpub/notice/view?uuid=1gM0nGULIzO5wVPW8xQpfwZUq0lfoM7X&tab=01" target="_blank" rel="nofollow"><img src="{echo ImageURL}/img/common/safe2_3.0.png" height="47" /></a>
							<a href="http://www.12377.cn/" target="_blank" rel="nofollow"><img src="{echo ImageURL}/img/common/safe3_3.0.png" height="47" /></a>
							<a href="http://www.cyberpolice.cn/wfjb/" target="_blank" rel="nofollow"><img src="{echo ImageURL}/img/common/safe4_3.0.png" height="47" /></a>
							<a href="http://webscan.360.cn/index/checkwebsite/url/www.57us.com" rel="nofollow" target="_blank"><img border="0" src="{echo ImageURL}/img/common/safe6_3.0.png" height="47" /></a>
							<a href="https://ss.knet.cn/verifyseal.dll?sn=e16091435020064717vyo0000000&comefrom=trust&trustKey=dn&trustValue=www.57us.com" target="_blank" rel="nofollow"><img src="{echo ImageURL}/img/common/safe5_3.0.png" height="47" /></a>
							<a href="http://ec.eqixin.com/?sn=QX2066134012191473748886" rel="nofollow" target="_blank"><img src="{echo ImageURL}/img/common/safe7_3.0.png" height="47"></a>
						</div>
					</div>
				</div>
                
</div>

</body>
</html>