<div class="w1200 ModelHeader">
    <ul>
        <li class="i1">
            <i class="ico"></i>
            <p class="f16"><b><a href="/tour/">旅游资讯</a>：</b>
                <a href="/tour_tournews/">旅游新发现</a>
                <a href="/tour_fengjing/">当季推荐</a>
                <a href="/tour_meishi/">美食购物</a>
                <a href="/travels/">美国游记</a>
            </p>
        </li>
        <li class="i2">
            <i class="ico"></i>
            <p class="f16"><b><a href="/study/">留学资讯</a>：</b>
                <a href="/studytopic_uscolege/">院校</a>
                <a href="/studytopic_news/">留学</a>
                <a href="/studytopic_exam/">考试</a>
                <a href="/studytopic_learning/">游学</a>
                <a href="/studytopic_guide/">签证</a>
                <a href="{echo WEB_STUDY_URL}/college/" target="_blank">选校</a></p>
        </li>
        <li class="i3">
            <i class="ico"></i>
            <p class="f16"><b><a href="/immigrant/">移民资讯</a>：</b>
                <a href="/immigtopic_way/">移民攻略</a>
                <a href="/immigtopic_genre/">移民类别</a>
                <a href="/immigtopic_guide/">生活指南</a>
                <a href="/immigtopic_house/">投资房产</a>

            </p>
        </li>
    </ul>
</div>