{template Header}
<div class="wrap">
	<div class="NewsHeader">
		{template HeaderTop} {template HeaderTop1}
	</div>
	{template HeaderTop2}
	<div class="w1200 cf NewsTourMain">
    
    <div class="NewsTourSlideR fr">
			{if count($AdStudyRight)>0}
			<ul class="TjTourList mt20">
				{loop $AdStudyRight $key $lists}
				<li>
					<a href="{$lists[Link]}" target="_blank" title="{$lists[Title]}">
						<p class="ImgBlackBg"><img src="{echo ImageURLP4}{$lists[Picture]}" alt="{$lists[Title]}" title="{$lists[Title]}" width="100%" class="transition" /></p>
						{if $lists[Title]!=''}
						<p class="tit">{$lists[Title]}</p>{/if}
					</a>
				</li>
				{/loop}
			</ul>
			{/if} {template TagsCloud}
			<div class="HotTip cf mt25">
				<div class="HotTipT"><i></i>热门标签</div>
				<div class="HotTipM">
					{loop $Keyhot $val}
					<a href="{echo WEB_MAIN_URL}/study/tags_{$val[Keyword]}.html" target="_blank" title="{$val['Keyword']}">{$val['Keyword']}</a>
					{/loop}
				</div>
			</div>
			<div class="NowNews mt25">
				<div class="HotTipT"><i></i>最新文章</div>
				<ul class="HotNewsList">
					{loop $NewNews $key $val}
					<li {if $key==0 }class="on" {/if}>
						<p class="date">{echo date("Y-m-d",strtotime($val['AddTime']))}</p>
						<a href="/study/{$val['StudyID']}.html" class="FirstCont" title="{$val['Title']}" target="_blank"><b>●</b>{$val['Title']}</a>
						<div class="SecondCont">
							<a href="/study/{$val['StudyID']}.html" target="_blank" title="{$val['Title']}"><img src="{echo ImageURLP2}{$val['Image']}" alt="{$val['Title']}" title="{$val['Title']}" /></a>
							<p class="tit">
								<a href="/study/{$val['StudyID']}.html" target="_blank" title="{$val['Title']}">{$val['Title']}</a>
							</p>
							<p class="nr">{echo mb_substr($val['Description'], 0,30, 'utf-8')}...
								<a href="/study/{$val['StudyID']}.html" target="_blank" title="{$val['Title']}">【查看全部】</a>
							</p>
						</div>
					</li>
					{/loop}
				</ul>
			</div>
			<div class="NowNews mt25">
				<div class="HotTipT"><i></i>热门文章</div>
				<ul class="NewsList">
					{loop $HotNews $key $val}
					<li {if $key < 3}class="i{echo $key+1}{/if}">
						<a href="/study/{$val['StudyID']}.html" target="_blank" title="{$val['Title']}"><i>{echo $key+1}</i>{$val['Title']}</a>
					</li>
					{/loop}
				</ul>
			</div>
			<div class="NowNews LikeNews mt25">
				<div class="HotTipT"><i></i>猜你喜欢</div>
				<ul class="NewsList">
					{loop $LikeNews $key $val}
					<li>
						<a href="/study/{$val['StudyID']}.html" target="_blank" title="{$val['Title']}"><i>{echo $key+1}</i>{$val['Title']}</a>
					</li>
					{/loop}
				</ul>
			</div>
		</div>
        
        
		<div class="NewsTourSlideL fl">
			<div class="NewsLocation f16">您当前位置：
				<a href="{echo WEB_MAIN_URL}" title="57美国网">首页</a>>
				<a href="/study/" title="留学资讯">留学资讯</a>> {if $TopCateInfo}
				<a href="/studytopic_{$TopCateInfo['Alias']}/" title="{$TopCateInfo['CategoryName']}">{$TopCateInfo['CategoryName']}</a>>
				<a href="/study{if $PrveCateInfo['ParentCategoryID'] == 0}topic{/if}_{$PrveCateInfo['Alias']}/" title="{$PrveCateInfo['CategoryName']}">{$PrveCateInfo['CategoryName']}</a>>{/if} {if !$TopCateInfo && $PrveCateInfo}
				<a href="/study{if $PrveCateInfo['ParentCategoryID'] == 0}topic{/if}_{$PrveCateInfo['Alias']}/" title="{$PrveCateInfo['CategoryName']}">{$PrveCateInfo['CategoryName']}</a>>{/if}
				<a href="/study_{$CateInfo['Alias']}/" title="{$CateInfo['CategoryName']}">{$CateInfo['CategoryName']}</a>><span>正文</span></div>
			<div class="NewsTourDetail mt15 cf">
				<h1 class="NewsTourDetailT">{$NewsInfo['Title']}</h1>
				<div class="NewsTourDetailS f16 tac mt15">
					<span>发布时间：{echo date("Y-m-d",strtotime($NewsInfo['AddTime']))}</span><span>来源：{if $NewsInfo[ComeFrom]!=''}{$NewsInfo[ComeFrom]}{else}57美国网{/if}</span>{if $NewsInfo[Redactor]}<span>编辑：{$NewsInfo[Redactor]}</span>{/if}
				</div>
				<div class="fun cf mt35">
					<span class="viewTip fr"><i></i>{$NewsInfo['ViewCount']}</span> {if $KeyWord[0]}
					<div class="TourTip f16 fl">
						{loop $KeyWord $key $val}
						<span><i></i><a href="/study/tags_{$val['Keyword']}.html" target="_blank" title="{$val['Keyword']}">{$val['Keyword']}</a></span> {/loop}
					</div>
					{/if}
				</div>
				<div class="DetailIns mt20">
					<i class="left"></i>
					<i class="right"></i>
					<span data-cmd='depict'>
						{$NewsInfo['Description']}
					</span>
				</div>
				<div class="DetailCont">
					{$NewsInfo['Content']}
				</div>
				<div class="statement mt20">
					<p>版权及免责声明</p>
					<p>
						（一）凡注明“57美国网”来源之文章，未经授权，任何媒体和个人不得全部或者部分转载。如需转载，请与57美国网联系；经许可后转载务必请注明出处，违者本网将依法追究。<br> （二）本文仅代表作者个人观点，与本网无关。其原创性以及文中陈述文字和内容未经本站证实，对本文以及其中全部或者部分内容、文字的真实性、完整性、及时性本站不作任何保证或承诺，请读者仅作参考，并请自行核实相关内容。
						<br> （三）如本文有涉及版权等问题，请及时与本网管理员联系，我们将立即删除。
					</p>
				</div>
				<div class="DetailShare cf tac mt40">
					<div class="ChatShare">
						<img src="{echo ImageURL}/img/common/ewm57_study.jpg" width="92" height="92">
						<p class="tal f16">更多精彩内容，尽在57美国网微信（微信号：study57us）<br>请扫描二维码关注。</p>
					</div>
					<ul class="DetailShareBtn mt30">
						<li>
							<a href="JavaScript:void(0)" class="a"><i class="i1"></i>分享</a>
							<div class="ShareBox transition">
								<em></em>
								<div class="ShareBoxList" id="ShareBoxList"></div>
							</div>
						</li>
						<li>
							<a data-type="collection" data-id="{$ID}" href="JavaScript:void(0)" data-val="11" class="a _MustLogin">
								<i class="i2"></i>
								收藏
							</a>
						</li>
					</ul>
				</div>
				<ul class="NewsPageState cf mt50">
					{if $PrveNews}
					<li class="fl">上一篇：
						<a href="/study/{$PrveNews['StudyID']}.html" title="{$PrveNews['Title']}">{$PrveNews['Title']}</a>
					</li>
					{/if} {if $NextNews}
					<li class="fr tar">下一篇：
						<a href="/study/{$NextNews['StudyID']}.html" title="{$NextNews['Title']}">{$NextNews['Title']}</a>
					</li>
					{/if}
				</ul>
				<div class="RelateRead mt20">
					<div class="RelateReadTit">相关阅读</div>
					<ul class="HotNewsList mt15 fl">
						{loop $CorrelationNews $key $val} 
                        {if $key<4} 
                        <li {if $key==0 }class="on" {/if}>
							<a href="/study/{$val['StudyID']}.html" class="FirstCont" title="{$val['Title']}" target="_blank"><b>●</b>{$val['Title']}</a>
							<div class="SecondCont">
								{if $val[Image]!=''}<a href="/study/{$val['StudyID']}.html" target="_blank" title="{$val['Title']}"><img src="{echo ImageURLP2}{$val['Image']}"></a>{/if}
								<p class="tit">
									<a href="/study/{$val['StudyID']}.html" target="_blank" title="{$val['Title']}">{$val['Title']}</a>
								</p>
								<p class="nr">{echo mb_substr($val['Description'], 0,30, 'utf-8')}..
									<a href="/study/{$val['StudyID']}.html" target="_blank" title="{$val['Title']}">【查看全部】</a>
								</p>
							</div>
							</li>
							{/if} {/loop}
					</ul>
					<ul class="HotNewsList mt15 fr">
						{loop $CorrelationNews $key $val}
						{if $key > 3}
						<li {if $key == 4}class="on"{/if}>
						<a href="/study/{$val['StudyID']}.html" class="FirstCont" target="_blank" title="{$val['Title']}"><b>●</b>{$val['Title']}</a>
						<div class="SecondCont">
							{if $val[Image]!=''}<a href="/study/{$val['StudyID']}.html" target="_blank" title="{$val['Title']}"><img src="{echo ImageURLP2}{$val['Image']}"></a>{/if}
							<p class="tit"><a href="/study/{$val['StudyID']}.html" target="_blank" title="{$val['Title']}">{$val['Title']}</a></p>
							<p class="nr">{echo mb_substr($val['Description'], 0,30, 'utf-8')}..<a href="/study/{$val['StudyID']}.html" target="_blank" title="{$val['Title']}">【查看全部】</a></p>
						</div>
						</li>
						
						{/if} {/loop}
					</ul>
				</div>
			</div>
		</div>
		
	</div>
<div class="cf mt50"></div>
	<script type="text/javascript" src="{echo JsURL}/base/tc_login.js"></script>
	{template Footer}