{template Header}
	<div class="wrap">
		<div class="NewsHeader">
			{template HeaderTop}
			<link href="{echo WEB_MAIN_URL}/Templates/News/Lecture/css/style.css" rel="stylesheet" type="text/css" />
			{template HeaderTop1}
		</div>
			<div class="baner">
				<ul class="pic">
					<li>
						<a href=""><img src="http://images.57us.com/img/lecture/pic/ban1.jpg" width="1920" height="600" /></a>
					</li>
					<li>
						<a href=""><img src="http://images.57us.com/img/lecture/pic/ban2.jpg" width="1920" height="600" /></a>
					</li>
					<li>
						<a href=""><img src="http://images.57us.com/img/lecture/pic/ban3.jpg" width="1920" height="600" /></a>
					</li>
					<li>
						<a href=""><img src="http://images.57us.com/img/lecture/pic/ban4.jpg" width="1920" height="600" /></a>
					</li>
					<li>
						<a href=""><img src="http://images.57us.com/img/lecture/pic/ban5.jpg" width="1920" height="600" /></a>
					</li>
				</ul>
			</div>
			<div class="headerHow"></div>
			<div class="box mt20">
				<p class="boxTit tit1">57US留学讲堂课程表</p>
				<ul class="classList mt30">
					<li>
						<p class="img"><img src="http://images.57us.com/img/lecture/pic/teach1.jpg" /></p>
						<div class="classListR">
							<p class="nr"><b>分享时间：</b>9月29日<br>
								<b>分享嘉宾：</b>庞佳老师<br>
								<b>分享主题：</b><em class="red">《新SAT的学习与美国高中学习的相关性》</em><br>
								<b>嘉宾简介：</b>美西国际教学主管；前北京新东方北美项目教师，所教科目：SAT文法，SAT写作，托福阅读；加州州立大学教育学硕士；克莱蒙特大学教育学博士在读。</p>
						</div>
					</li>
					<li class="even">
						<p class="img"><img src="http://images.57us.com/img/lecture/pic/teach2.jpg" /></p>
						<div class="classListR">
							<p class="nr"><b>分享时间：</b>10月13日<br>
								<b>分享嘉宾：</b>Jon Wei老师<br>
								<b>分享主题：</b><em class="red">《美国当地学生的学业规划及升学准备》</em><br>
								<b>嘉宾简介：</b>JON WEI，15岁随家庭移民美国， 在旧金山完成高中教育， 考入卡内基梅隆大学攻读电机工程专业本科， 后获得西北大学硕士学位。 曾就职凯撒医疗 (Kaiser)， 甲骨文公司 (Oracle) 等著名企业。2004年转入大学申请与规划咨询行业，获得伯克利加大 (UC Berkeley) 认证的大学申请及职业规划咨询师。 </p>
						</div>
					</li>
					<li class="old">
						<p class="img"><img src="http://images.57us.com/img/lecture/pic/teach3.jpg" /></p>
						<div class="classListR">
							<p class="nr"><b>分享时间：</b>10月20日<br>
								<b>分享嘉宾：</b>王晓丹老师<br>
								<b>分享主题：</b><em class="red">《美国留学历史性联姻——雅思国际英语标准化测试风向标》</em><br>
								<b>嘉宾简介：</b>毕业于英国格拉斯哥大学，攻读国际市场管理专业硕士学位，在英国工作学习4年时间。学术经验潜心研究雅思考试体系长达9年；曾经编著《凉月雅思口语真题-分类破解》等国际英语标准考试——雅思系列丛书；曾担任3G雅思预测专家，预测准确率达90%以上；曾任北京知名大学及培训机构任教，雅思阅读、写作主讲老师。</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="box mt20">
				<p class="boxTit tit2">关于57US讲堂</p>
				<ul class="AboutList cf mt10">
					<li class="i1">7us留学讲堂，集结了一群专注提供专业留学服务的资深行业人士，为您提供一切留学相关的一站式服务，包括语言培训、院校咨询、申请指导、低龄留学……等在内的所有内容。时间：每周四20:00-21:00（节假日除外）方式：微信群语音地点：微信群“57US讲堂”</li>
					<li class="i2">1.名师聚集行业大牛、留学名师聚集。根据您的需求，每期都由不同的名师分享不同课题。2.真实案例经验丰富，案例真实。以最新鲜的案例，告诉你留学相关注意事项。3.实时答疑微信群语音，形式便捷，随时随地都可互动参与，与讲师实时互动。
					</li>
					<li class="i3">扫一扫二维码，注明参加讲座，班主任拉您进群；</li>
				</ul>
			</div>
			<div class="box mt25">
				<p class="boxTit tit3">往期回顾</p>
				<ul class="hostryList mt15">
					<li>
						<img src="http://images.57us.com/img/lecture/pic/teach4.jpg" />
						<p class="name">分享嘉宾：Jessica Ling</p>
						<p class="shareTit">分享主题：《中学生留学美国需关注的六大问题》</p>
						<p class="nr mt10"><b>嘉宾简介：</b>AISESC美国海外留学生交流与服务中心创始人；国际教育事务专家，美国纽约州立大学教育管理硕士毕业；集留学生、留学生母亲、留学后服务事业开拓者、中美教育专家等多角色于一身；</p>
					</li>
					<li>
						<img src="http://images.57us.com/img/lecture/pic/teach5.jpg" />
						<p class="name">分享嘉宾：杨子江老师</p>
						<p class="shareTit">分享主题：《方法论：15天背完一本单词书》</p>
						<p class="nr mt10"><b>嘉宾简介：</b>原新东方集团美国研究生项目GRE教研主管；北京新东方学校北美项目经理，原新东方集团教师培训师，功勋教师，12年授课经验；美国宾大教育学访问学者，资深留学申请专家；培训过政界商界文艺界众多名人及子女，并协助申请到美国英国的顶尖名校；</p>
					</li>
					<li>
						<img src="http://images.57us.com/img/lecture/pic/teach6.jpg" />
						<p class="name">分享嘉宾：莫单玉老师</p>
						<p class="shareTit">分享主题：《留学生如何面对及处理文化差异以及校园冲突问题》</p>
						<p class="nr mt10"><b>嘉宾简介：</b>国内资深美国留学专家，十年留学行业一线业务及管理经验；中央人民广播电台特约评论员；中国教育电视台留学节目嘉宾；北京师范大学数学硕士，美国教育学硕士；</p>
					</li>
				</ul>
				<div class="Information mt40">
					<p class="tit">讲堂资料<span>information</span></p>
					<ul class="InforList">
						<li><a href="http://mp.weixin.qq.com/s?__biz=MzIxNDMzMzIzNg==&mid=2247483922&idx=3&sn=3925b76b8c3b0bb14a6cb8d71f7afef9&mpshare=1&scene=1&srcid=09306kX1irtvuEUBWWTrGIm9#wechat_redirect" target="_blank">《干货分享！留学妈妈Jessica分享文字（上）：低龄留学，人生没有彩排，需要认真规划！！》</a></li>
						<li><a href="http://mp.weixin.qq.com/s?__biz=MzIxNDMzMzIzNg==&mid=2247484002&idx=4&sn=be01e8e1d95ad595714dadc2e4245c91&chksm=97a86039a0dfe92fc016cc0f8cedce668ef282521ed449f992003e5bd3b314fc8222951ca6e4&mpshare=1&scene=1&srcid=09300x35o2BRcNZP3wKjnef0#wechat_redirect" target="_blank">《干货分享！留学妈妈Jessica分享文字（下）：低龄留学，如何引导孩子的自我定位，申请规划！》</a></li>
						<li><a href="http://mp.weixin.qq.com/s?__biz=MzIxNDMzMzIzNg==&mid=2247484002&idx=5&sn=cecaa5b21aca0d5ed85dd0541cda37db&chksm=97a86039a0dfe92fe0eaf1099aecd262dd9d5ee6c4c2e739da10d638fa4d2e17335d3097f44a&mpshare=1&scene=1&srcid=0930EXKYDLzRe1synNU46c9q#wechat_redirect" target="_blank">《干货整理！原新东方名师杨子江老师的超强分享，内含PPT和音频（上）》<i class="hotIco"></i></a></li>
						<li><a href="http://mp.weixin.qq.com/s?__biz=MzIxNDMzMzIzNg==&mid=2247484056&idx=5&sn=c6acaf82e6c073bc2f1df1788d8e8d47&chksm=97a860c3a0dfe9d5ccae86cf4f60452f35a260be2f8597c6d0aa7607e1c8957de1a280c3da4d&mpshare=1&scene=1&srcid=0930xhdDxNvBLvrTFWicAe9d#wechat_redirect" target="_blank">《干货整理！GRE超强名师杨子江老师的独家分享，内含PPT和音频（下）》<i class="hotIco"></i></a></li>
						<li><a href="http://mp.weixin.qq.com/s?__biz=MzIxNDMzMzIzNg==&mid=2247484056&idx=4&sn=b74a3a0b69e31d20c1c37f7704266e9f&chksm=97a860c3a0dfe9d5a199923e18e124583580813fd8028ffd9fea7275ad0d60c29ea73aa1bfe3&mpshare=1&scene=1&srcid=093091cScfFMpWfd7KDxIiyo#wechat_redirect" target="_blank">《干货整理！PPT和音频来了，来自莫单玉老师的诚恳分享，你不得不知！》</a></li>
					</ul>
					<div class="inforChat mt30">
						<img src="http://images.57us.com/img/common/wxstudy.jpg"/>
						<p class="mt20">更多“57us留学讲堂”相关资料，欢迎关注微信公众号：57us留学！</p>
					</div>
				</div>
			</div>
			<div class="box mt30 cf">
				<p class=" boxTit tit4">深度学习</p>
				<div class="study"></div>
				<div class="studyList">
					<table border="0" cellspacing="0" cellpadding="0" width="100%">
						<tr>
							<th class="first" align="left" width="355">课程名称</th>
							<th width="150">课时</th>
							<th width="200">价格</th>
							<th width="232">在线咨询</th>
						</tr>
						<tr>
							<td class="first"><p class="classTit">终结英语三部曲（词汇）</p></td>
							<td>20</td>
							<td>1200/小时</td>
							<td><a href="JavaScript:void(0)" class="onlineChat">在线咨询</a></td>
						</tr>
						<tr>
							<td class="first"><p class="classTit">终结英语三部曲（写作）</p></td>
							<td>20</td>
							<td>1200/小时</td>
							<td><a href="JavaScript:void(0)" class="onlineChat">在线咨询</a></td>
						</tr>
						<tr>
							<td class="first"><p class="classTit">终结英语三部曲（长难句）</p></td>
							<td>20</td>
							<td>1200/小时</td>
							<td><a href="JavaScript:void(0)" class="onlineChat">在线咨询</a></td>
						</tr>
						<tr>
							<td class="first"><p class="classTit">终结英语三部曲（全套）</p></td>
							<td>20</td>
							<td>1200/小时</td>
							<td><a href="JavaScript:void(0)" class="onlineChat">在线咨询</a></td>
						</tr>
					</table>
				</div>
				<div class="studyAd">拼团折扣：2人八折，3人七五折，4人七折，5人六五折，6人六折</div>
			</div>
			<div class="ClassFaq mt45">
				<p class=" boxTit tit5">课堂问答</p>
				<div class="FaqMain w1200" >
						<ul class="pic">
							<li>
								<div style="top: 35px;" class="faqList" data-left="400" data-load="0.3">
									<img src="http://images.57us.com/img/lecture/pic/ask1.jpg"><p class="text"><b>问题1：</b>57US官方问一个问题，怎么能学好刚才说到的意思总结完全的词根学习的书或者学习资料？</p>
								</div>
								<div style="top: 105px;" class="faqList" data-left="180" data-load="0.5">
									<img src="http://images.57us.com/img/lecture/pic/t1.jpg"><p class="text"><b>回答1：</b>目前市面上所有的单词类图书，都有它优秀的地方，也有不足的地方。所以这个内容只能在我的课上去学习，我会把最优秀的词语书和材料拿来，我会告诉你哪里对哪里不对，进行相关的讲解和解释。这样才能学得比较快、比较准确。</p>
								</div>
								<div style="top:210px;" class="faqList" data-left="450" data-load="0.7">
									<img src="http://images.57us.com/img/lecture/pic/ask2.jpg"><p class="text"><b>问题2：</b>听杨老师一席话，胜背10本单词书啊！方法真的很重要啊 真感觉自己单词都白读了[……最近在背GRE单词，请问老师一天背多少个单词是最合适的？特别困惑</p>
								</div>
								<div style="top:310px;"  class="faqList" data-left="240" data-load="0.9">
									<img src="http://images.57us.com/img/lecture/pic/t1.jpg"><p class="text"><b>回答2：</b>使用我这种词根的方法，一天300个左右很轻松，最后阶段一天刷1000到1500个单词没问题。</p>
								</div>
								<div style="top:420px;width: 300px;" class="faqList" data-left="500" data-load="1.2">
									<img src="http://images.57us.com/img/lecture/pic/ask3.jpg"><p class="text"><b>问题3：</b>感谢老师的分享[强]请问老师，我在福建怎么上课呢</p>
								</div>
								<div style="top:485px;" class="faqList"  data-left="240" data-load="1.2">
									<img src="http://images.57us.com/img/lecture/pic/t1.jpg"><p class="text"><b>回答3：</b>课程可以在北京面授，也可以网课。词汇一对一的课程是20小时一套课，24000元。这是给57US的折扣优惠价，原价是每小时2000元，课程是40000元，用来解决一生的单词量。</p>
								</div>
							</li>
							
							<li>
								<div style="top:10px;" class="faqList" data-left="400" data-load="0.3">
									<img src="http://images.57us.com/img/lecture/pic/ask4.jpg"><p class="text"><b>问题1：</b>我小女儿读初二，思想上比较黏家里，不敢一个人去国外，我很不放心，这方面该怎么去培养？</p>
								</div>
								<div style="top: 75px;" class="faqList" data-left="170" data-load="0.7">
									<img src="http://images.57us.com/img/lecture/pic/t2.jpg"><p class="text"><b>回答1：</b>很多家长都和我说，到了国外几个月，胜似在中国培养几年？为什么会这样，就是教育的环境发生了改变，会逼着孩子去独立，去为生存而思考。所以，主要孩子愿意出去，你就不需要不放心。再说还有我们呢。</p>
								</div>
								<div style="top:190px;" class="faqList" data-left="450" data-load="0.5">
									<img src="http://images.57us.com/img/lecture/pic/ask5.jpg"><p class="text"><b>问题2：</b>老师您好，我觉得高中去美国应该是比较好的时机，那在初中阶段应该做哪些准备？</p>
								</div>
								<div style="top:250px;"  class="faqList" data-left="200" data-load="0.9">
									<img src="http://images.57us.com/img/lecture/pic/t2.jpg"><p class="text"><b>回答2：</b>我特别不建议这样，要准备出去，就是初三走，去美国读高一，不要中考了。初中要做的2件事情，第一标准化考试是，第二是个人特色的规划！</p>
								</div>
								<div style="top:340px;width: 350px;" class="faqList" data-left="480" data-load="0.7">
									<img src="http://images.57us.com/img/lecture/pic/ask6.jpg"><p class="text"><b>问题3：</b>老师您好，您的孩子并没有去最顶级的大学，其实是完全可以去更好的学校，当时选大学的时候是通过什么理由选的这所大学？</p>
								</div>
								<div style="top:365px;margin-left: 0;" class="faqList"  data-left="135" data-load="0.9">
									<img src="http://images.57us.com/img/lecture/pic/t2.jpg"><p class="text"><b>回答3：</b>我们去的这个学校是很棒的学校，只是中国人不太了解，再说，自己孩子自己了解，顶尖学校不适合他的。他不是学霸，但是他情商很高，选择合适的才是最好的。</p>
								</div>
								<div style="top:470px;width: 350px;" class="faqList" data-left="500" data-load="0.9">
									<img src="http://images.57us.com/img/lecture/pic/ask7.jpg"><p class="text"><b>问题4：</b>孩子确定要去美国留学念本科，目标是美本前50。目前英语基础不太好，但原动力不足，该怎么激发孩子的学习热情与行动力呢？</p>
								</div>
								<div style="top:480px;" class="faqList"  data-left="150" data-load="1.2">
									<img src="http://images.57us.com/img/lecture/pic/t2.jpg"><p class="text"><b>回答4：</b>学习都需要原动力和助动力，要综合分析，不要一味怪孩子，给予孩子自信心很重要。美本前50，这个是孩子自己的想法还是家长的想法？了解美国学校，不如先了解自己的孩子。</p>
								</div>
							</li>
							<li>
								<div style="top: 35px; " class="faqList" data-left="400" data-load="0.3">
									<img src="http://images.57us.com/img/lecture/pic/ask8.jpg"><p class="text"><b>问题5：</b>美国的枪击案好像比较多，有点担心这个，这个您怎么看？这方面在美国有哪些相应的训练吗？</p>
								</div>
								<div style="top: 105px;" class="faqList" data-left="150" data-load="0.5">
									<img src="http://images.57us.com/img/lecture/pic/t2.jpg"><p class="text"><b>回答5：</b>美国的枪支是个热点问题，尤其是最近总统选举，更是热闹，不要太担心，大多数地区还是比较安全的，可能比你想象的还要安全，这个暑假我们一个夏令营团来美国，孩子走的时候和我说，凌老师，我来的时候有点怕怕的，以为美国很不安全，现在看起来，比中国安全多了。</p>
								</div>
								<div style="top:180px;width: 300px;" class="faqList" data-left="450" data-load="0.7">
									<img src="http://images.57us.com/img/lecture/pic/ask9.jpg"><p class="text"><b>问题6：</b>我也是做幼儿园园长的，现在儿子5岁。请问您当时做幼儿园的时候是如何在幼儿阶段就综合培养孩子的？</p>
								</div>
								<div style="top:280px;"  class="faqList" data-left="150" data-load="0.9">
									<img src="http://images.57us.com/img/lecture/pic/t2.jpg"><p class="text"><b>回答6：</b>幼儿园阶段要特别重视孩子的社会性培养，不要太在乎学习，除了学习你还有很多可以关注的点。</p>
								</div>
								<div style="top:380px;" class="faqList" data-left="390" data-load="1.2">
									<img src="http://images.57us.com/img/lecture/pic/ask10.jpg"><p class="text"><b>问题7：</b>您把儿子送到军校刚开始会不会很舍不得？能多讲讲美国军校的机制吗？</p>
								</div>
								<div style="top:465px;" class="faqList"  data-left="200" data-load="1.2">
									<img src="http://images.57us.com/img/lecture/pic/t2.jpg"><p class="text"><b>回答7：</b>我真的感谢这样的培养。具体机制你可以关注我的微信，接下来，我会努力推动美国军事化高中到中国招生的。过几天有个视频，美国电视台拍我儿子的，我可以发进来让他们了解。</p>
								</div>
							</li>
						</ul>
				</div>
			</div>
			<div class="BottomContact">
				<div class="w990 ContactFeek mt25">
					<ul class="ContactList">
						<li><span>姓名：</span>
							<input type="text" name="username" id="username" value="">
						</li>
						<li><span>邮箱：</span>
							<input type="text" name="mail" id="mail" value="">
						</li>
						<li><span>电话：</span>
							<input type="text" name="phone" id="phone" value="">
						</li>
					</ul>
					<a class="ContactBtn">点击提交</a>
				</div>
			</div>
		</div>
	</body>
	<script src="{echo WEB_MAIN_URL}/Templates/News/Lecture/js/index.js" type="text/javascript"></script>
</html>