<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no, email=no" name="format-detection">
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <title>{$Title}</title>
    <link rel="stylesheet" href="<?php echo WEB_WECHAT_URL ?>/Templates/Wechat/Vote/css/reset.css" />
    <link rel="stylesheet" href="<?php echo WEB_WECHAT_URL ?>/Templates/Wechat/Vote/css/font/iconfont.css">
    <link href="<?php echo WEB_WECHAT_URL ?>/Templates/Wechat/Vote/css/style.css?20161223v2" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="<?php echo WEB_WECHAT_URL ?>/Templates/Wechat/Vote/js/jquery/2.0/jquery.min.js"></script>
    <script type="text/javascript" src="<?php echo WEB_WECHAT_URL ?>/Templates/Wechat/Vote/js/index.js"></script>
</head>
<body>
