{template MemberHeader}
<div class="w1200 cf mt20">
    {template MemberTourOrderLeft}
    <div class="mRight cf fr">
        <div class="mRight_v">
            <div class="mRightit">
                <a href="/membertour/visaorderlist/" class="fr abackList">返回订单列表 ></a>
                <span class="name">订单信息</span>
            </div>
            <div class="orderDetailM">
                <table border="0" cellspacing="0" cellpadding="0" width="100%" class="orderDetTab">
                    <tr data-type="visa" data-id="{$OrderInfo[ID]}" {if  $OrderInfo[ExpirationTime]>$CurrentTime} class="settime" endTime="{$OrderInfo[ExpirationTime]}"{/if}>
                        <td width="90">订单编号：</td>
                        <td width="180">{$OrderInfo[OrderNumber]}</td>
                        <td width="90">预定时间：</td>
                        <td width="180">{$OrderInfo[CreateTime]}</td>
                        <td rowspan="2" class="tac">
                            {if $OrderInfo[Status]==1}
                            <a href="{echo WEB_VISA_URL}/visapay/{$OrderInfo[OrderNumber]}.html" class="publicBtn2 btn applyTk">去支付</a>
                            <a href="javascript:void(0)" class="publicBtn2 btn applyTk">取消订单</a>
                            {elseif $OrderInfo[Status]==2 || $OrderInfo[Status]==3 || $OrderInfo[Status]==4}
                            <a href="javascript:void(0)" class="publicBtn2 btn applyTk">申请退款</a>
                            {/if}
                        </td>
                    </tr>
                    <tr>
                        <td>总金额：</td>
                        <td><span class="red">￥<em class="f22">{$OrderInfo[Money]}</em></span></td>
                        <td>订单状态：</td>
                        <td><span class="red">{$OrderStatus[$OrderInfo[Status]]}</span></td>
                    </tr>
                </table>
            </div>
            {if $OrderInfo[Status]==5 || $OrderInfo[Status]==6 || $OrderInfo[Status]==7 ||$OrderInfo[Status]==8 ||$OrderInfo[Status]==9}
            <div class="tkBox">
                <div class="fr mt20">
                    退款申请已通过审核，客服将在<span class="green">3</span>个工作日内将金额退至付款账户
                </div>
                <div class="tkLoading fl">
                    <span class="sline"></span>
                    <ul>
                        <li class="{if $OrderInfo[Status]==5 || $OrderInfo[Status]==6 || $OrderInfo[Status]==7 || $OrderInfo[Status]==8 ||$OrderInfo[Status]==9}on{/if}">
                            <span class="cirle">1</span>
                            <p class="tit">申请退款</p>
                        </li>
                        <li class="{if $OrderInfo[Status]==5 || $OrderInfo[Status]==6}i2{elseif $OrderInfo[Status]==7 || $OrderInfo[Status]==8 ||$OrderInfo[Status]==9}on{/if}">
                            <span class="cirle">2</span>
                            <p class="tit">{if $OrderInfo[Status]==7}审核不通过{elseif $OrderInfo[Status]==8}审核通过{/if}</p>
                        </li>
                        <li class="{if $OrderInfo[Status]==5 || $OrderInfo[Status]==6 || $OrderInfo[Status]==7 || $OrderInfo[Status]==8}i3{elseif $OrderInfo[Status]==9}on{/if}">
                            <span class="cirle"><i class="icon iconfont icon-ok1"></i></span>
                            <p class="tit">退款</p>
                        </li>
                    </ul>
                </div>
            </div>
            {/if}
        </div>
        <div class="mRight_v mt20">
            <div class="mRightit">
                <span class="name">签证套餐</span>
            </div>
            <div class="orderDetailM proIns">
                <p class="proInsTit mt10"><a href="{echo WEB_VISA_URL}/visadetail/{$VisaInfo[VisaID]}.html">{$OrderInfo[OrderName]}</a></p>
                <table border="0" cellspacing="0" cellpadding="0" width="100%" class="contactTab mt15">
                    <tbody><tr>
                        <th>出行时间：</th>
                        <td>{$OrderInfo[GoDate]}</td>
                    </tr>
                    <tr>
                        <th>出行人数：</th>
                        <td>{$OrderInfo[Num]}人</td>
                    </tr>
                    <tr>
                        <th>套餐类型：</th>
                        <td>{$VisaInfo[Package]}</td>
                    </tr>
                    <tr>
                        <th>面试：</th>
                        <td>{$VisaInfo[Interview]}</td>
                    </tr>

                    </tbody></table>
            </div>
        </div>
        <div class="mRight_v mt20">
            <div class="mRightit">
                <span class="name">联系信息</span>
            </div>
            <div class="orderDetailM">
                <table border="0" cellspacing="0" cellpadding="0" width="100%" class="contactTab mt15">
                    <tr>
                        <th>姓名：</th>
                        <td>{$OrderInfo[UserName]}</td>
                    </tr>
                    <tr>
                        <th>联系号码：</th>
                        <td>{$OrderInfo[Phone]}</td>
                    </tr>
                    <tr>
                        <th>联系邮箱：</th>
                        <td>{$OrderInfo[Email]}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="cf mt20 tac">
            <a href="/membertour/visaorderlist/" class="publicBtn2 backList">返回订单列表</a>
        </div>
    </div>
</div>
<script src="{echo JsURL}/member/MemberTourPublic.js" type="text/javascript"></script>
{template MemberFooter}
</body>
</html>