{template MemberHeader}
	<div class="w1200 cf mt20">
		{template MemberStudyLeft}
		<div class="mRight cf fr">
			<table border="0" cellspacing="1" cellpadding="0" width="100%" class="OrderDetailTab">
				<tbody>
					<tr>
						<th colspan="5">
							<div class="MyOrderBody">
								<img src="{if $consultant[Avatar]}{$consultant[Avatar]}{else}http://images.57us.com/img/study/default3.0.png{/if}" width="60" height="60">
								<p class="fl StudentName">{$consultant[RealName]}</p>
								<span class="MyOrderStyle fl"><em></em>{$Status[$OrderInfo['Status']]}</span>
								<p class="MyOrderSe fl">服务名称：{$OrderInfo[OrderName]}</p>
								<div class="fr MyOrderDown">
									<a href="" class="publicBtn0 goPay fr" {if $endTime >0 && $OrderInfo[Status]==1}style="display: block;"{else}style="display: none;"{/if}>去支付</a>
									<a href="javascript:void(0)" class="publicBtn1 goRefund fr" {if $endTime >0 && $OrderInfo[Status]==2}style="display: block;"{else}style="display: none;"{/if}>申请退款</a>
									<span class="helpIco" data-text="{$OrderInfo[OrderName]}"></span>
									<p class="timeDown settime" endTime="{$TimeEnd}"></p>
								</div>
							</div>
						</th>
					</tr>
				</tbody>
			</table>
			<div class="myNewsTit mt10">
				<span class="name">办理流程</span>
			</div>
			<div class="mRight_v mt10 cf">
				<table border="0" cellspacing="1" cellpadding="0" class="detailTab" width="100%">
				<tbody>
					<tr>
						<th width="25%">订单人姓名</th>
						<td width="25%">{$OrderInfo[Contacts]}</td>
						<th width="25%">订单人手机号</th>
						<td width="25%">{$OrderInfo[Tel]}</td>
					</tr>
					<tr>
						<th>留学目标</th>
						<td>{$OrderInfo[StudyTarget]}</td>
						<th>计划留学时间</th>
						<td>{$OrderInfo[StudyDate]}</td>
					</tr>
					<tr>
						<th>订单留言</th>
						<td colspan="3">{$OrderInfo[LeaveMessage]}</td>
					</tr>
				</tbody>
			</table>
			</div>
			<div class="myNewsTit mt10">
				<span class="name">办理流程</span>
			</div>
			<div class="mRight_v mt10 cf">
				<div class="cf ProcessFlow">
					<ul class="QuestionProcess mt20">
						<li>
							<span class="circle"></span>
							<div class="QuestionL">
								<p class="tit">分析意向</p>
								<p class="time mt5">{echo date("Y-m-d H:i",$OrderInfo[AddTime])}</p>
							</div>
							<div class="QuestionR cf">
								<em class="sj"></em>
								<div class="QuestionRl">
									<p>下单后三天内，如果对顾问的服务不满意，可以申请退款。</p>
								</div>
							</div>
						</li>
						<li class="{if $OrderInfo[IsHesitate]==1}circle{elseif $OrderInfo[IsHesitate]==0}carryOut{/if}">
							<span class="circle"></span>
							<div class="QuestionL">
								<p class="tit">签约完成</p>
								<p class="time mt5">2016-09-02 16:00</p>
							</div>
							<div class="QuestionR cf">
								<em class="sj"></em>
								<div class="QuestionRl">
									<p>签约成功后，顾问即展开服务。</p>
									<p></p>
								</div>
							</div>
						</li>
						{loop $OrderConsultant $key $list}
						{if $list[TypeName]=='Questionnaire'}
						<li class="{if $list[Status]==3}circle{else}carryOut{/if}">
							<span class="circle"></span>
							<div class="QuestionL">
								<p class="tit">信息收集</p>
								<p class="time mt5">{if $list[ConfirmTime]==0}未完成{else}{echo date("Y-m-d H:i",$list[ConfirmTime])}{/if}</p>
							</div>
							<div class="QuestionR cf">
								<em class="sj"></em>
								<div class="QuestionRl">
									<p>顾问发送信息收集表给你填写。</p>
									<p></p>
								</div>
							</div>
						</li>
						{/if}
						{/loop}
						{loop $OrderConsultant $key $list}
						{if $list[TypeName]=='Document'}
						<li class="{if $list[Status]==3}circle{else}carryOut{/if}">
							<span class="circle"></span>
							<div class="QuestionL">
								<p class="tit">文书材料</p>
								<p class="time mt5">{if $list[ConfirmTime]==0}未完成{else}{echo date("Y-m-d H:i",$list[ConfirmTime])}{/if}</p>
							</div>
							<div class="QuestionR cf">
								<em class="sj"></em>
								<div class="QuestionRl">
									<p>顾问提交CV</p>
									<p>顾问提交RL</p>
									<p>顾问提交PS</p>
									<p>顾问提交Essay</p>
								</div>
							</div>
						</li>
						<li class="{if $list[Status]==3}circle{else}carryOut{/if}">
							<span class="circle"></span>
							<div class="QuestionL">
								<p class="tit">完成</p>
								<p class="time mt5">{if $list[Status]!=3}未完成{else}{echo date("Y-m-d H:i",$list[ConfirmTime])}{/if}</p>
							</div>
							<div class="QuestionR cf">
								<em class="sj"></em>
								<div class="QuestionRl">
									<p>服务完成！</p>
								</div>
							</div>
						</li>
						{/if}
						{/loop}
					</ul>
				</div>
			</div>
		</div>
	</div>
{template MemberFooter}
		</div>
	</body>
</html>