{template MemberLoginHeader}
<div class="tac mt50"><a href="{echo WEB_MAIN_URL}" class="loginLogo">57美国</a></div>
<div class="w1200 mt20 cf">
    <div class="loginPic fl"><img src="{echo ImageURL}/img/member/v3.1/jsyd.jpg" width="659" height="450"/></div>
    <div class="loginBox fr" style="height: 450px;">
        <p class="ydTit">成为入驻教师之后将不能购买平台产品 !</p>
        <div class="loginBoxM cf">
            <div class="bd ydM">
                <div class="loginCont" style="display: block;">
                    <div class="erroTip" style="display: none">
                        <i class="icon iconfont icon-close"></i><span class="erroIfno"></span>
                    </div>
                    <div class="inputBox cf">
                        <input type="text" name="zhName" value="" class="input zhName" placeholder="请输入真实姓名" />
                    </div>
                    <div class="inputBox mt35 cf">
                        <input type="text" name="mobile" value="" class="input mobile" placeholder="请输入真实手机号码" />
                    </div>
                    <div class="cf mt20"></div>
                    <a href="javascript:void(0)" class="publicBtn1 mt50 sureBtn saveBtn">提交</a>
                    <div class="loginB mt20 cf">
                        <p class="loginBr fr">
                            <a href="{echo WEB_STUDY_URL}">美国留学</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" name="Identity" id="Identity" value="3">
{template MemberLoginFooter}
<script src="{echo JsURL}/member/MemberTransition.js" type="text/javascript"></script>
</body>
</html>