{template MemberHeader}
<div class="w1200 cf mt20">
    {template MemberStudyLeft}
    <div class="mRight MyOrderBox cf fr">
        <div class="mRight_v cf">
            <ul class="MyOrderList ">
                {loop $List $Key $Data}
                <li>
                    <div class="MyOrderHeader">
                        <p>订单号：{$Data[OrderNum]}</p>
                        <p>订单日期：{echo date("Y-m-d",$Data[AddTime])}</p>
                    </div>
                    <div class="MyOrderBody">
                        <img src="{if $Data['Avatar']}{$Data['Avatar']}{else}http://images.57us.com/img/study/default3.0.png{/if}" width="60" height="60">
                        <p class="fl StudentName">{$Data['RealName']}</p>
                        <span class="MyOrderStyle fl"><em></em>{$Status[$Data['Status']]}</span>
                        <p class="MyOrderSe fl">服务类型：{$ServiceType[$Data[ServiceType]]}</p>
                    </div>
                    <div class="MyOrderTab">
                        <table border="0" cellspacing="0" cellpadding="0" width="100%">
                            <tbody>
                            <tr>
                                <td width="130"><img src="{$Data[Image]}" width="130" height="97"></td>
                                <td width="290" class="borderR">
                                    <p class="ServiceName">{$Data['OrderName']}</p>
                                </td>
                                <td width="120" class="borderR">
                                    <div class="ServicePrice">
                                        <p>总额</p>
                                        <p class="price mt10">¥<em>{$Data['Money']}</em></p>
                                    </div>
                                </td>
                                <td width="120" class="borderR tac">
                                    <div class="ServicePay">
                                        <p>{$Status[$Data['Status']]}</p>
                                        <p class="borderT">在线支付</p>
                                    </div>
                                </td>
                                <td width="" class="tac">
                                    <a href="/group/10010.html" class="CheckMore">查看详情</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
                {/loop}
            </ul>
        </div>
    </div>
</div>
{template MemberFooter}
</body>
</html>