{template MemberHeader}
<div class="w1200 cf mt20">
	{template MemberTourOrderLeft}
	<div class="mRight cf fr">
		<div class="mRight_v">
			<div class="mRightit">
				<a href="" class="fr abackList">返回订单列表 ></a>
				<span class="name">订单信息</span>
			</div>
			<div class="orderDetailM">
				<table border="0" cellspacing="0" cellpadding="0" width="100%" class="orderDetTab">
					<tr data-type="zuche" data-id="{$ZucheOrderInfo[ID]}" {if  $ZucheOrderInfo[ExpirationTime]>$CurrentTime} class="settime" endTime="{$ZucheOrderInfo[ExpirationTime]}"{/if}>
						<td width="90">订单编号：</td>
						<td width="180">{$ZucheOrderInfo[OrderNum]}</td>
						<td width="90">预定时间：</td>
						<td width="180">{$ZucheOrderInfo[CreateTime]}</td>
						<td rowspan="2" class="tac">
							{if $OrderInfo[Status]==1}
							<a href="{echo WEB_MEMBER_URL}/carrentpay/{$ZucheOrderInfo[OrderNum]}.html" class="publicBtn2 btn applyTk">去支付</a>
							<a href="javascript:void (0)" class="publicBtn2 btn applyTk">取消订单</a>
							{elseif $OrderInfo[Status]==2 || $OrderInfo[Status]==3}
							<a href="javascript:void (0)" class="publicBtn2 btn applyTk">申请退款</a>
							{/if}
						</td>
					</tr>
					<tr>
						<td>总金额：</td>
						<td><span class="red">￥<em class="f22">{$ZucheOrderInfo[Money]}</em></span></td>
						<td>订单状态：</td>
						<td><span class="red">{$OrderStatus[$ZucheOrderInfo[Status]]}</span></td>
					</tr>
				</table>
			</div>
			{if $ZucheOrderInfo[Status]==5 || $ZucheOrderInfo[Status]==6 || $ZucheOrderInfo[Status]==7 ||$ZucheOrderInfo[Status]==8 ||$ZucheOrderInfo[Status]==9}
			<div class="tkBox">
				<div class="fr mt20">
					退款申请已通过审核，客服将在<span class="green">3</span>个工作日内将金额退至付款账户
				</div>
				<div class="tkLoading fl">
					<span class="sline"></span>
					<ul>
						<li class="{if $ZucheOrderInfo[Status]==5 || $ZucheOrderInfo[Status]==6 || $ZucheOrderInfo[Status]==7 || $ZucheOrderInfo[Status]==8 ||$ZucheOrderInfo[Status]==9}on{/if}">
							<span class="cirle">1</span>
							<p class="tit">申请退款</p>
						</li>
						<li class="{if $ZucheOrderInfo[Status]==5 || $ZucheOrderInfo[Status]==6}{el}on{/if}">
							<span class="cirle">2</span>
							<p class="tit">{if $ZucheOrderInfo[Status]==7}审核不通过{elseif $ZucheOrderInfo[Status]==8}审核通过{/if}</p>
						</li>
						<li class="i3">
							<span class="cirle"><i class="icon iconfont icon-ok1"></i></span>
							<p class="tit">退款</p>
						</li>
					</ul>
				</div>
			</div>
			{/if}
		</div>
		<div class="mRight_v mt20">
			<div class="mRightit">
				<span class="name">租车信息</span>
			</div>
			<div class="orderDetailM proIns">
				<p class="proInsTit mt10">{$ZucheOrderInfo[QuoteDetail][data][vehicleInfo][vehicleName]}</p>
				<table border="0" cellspacing="0" cellpadding="0" width="100%" class="contactTab mt15">
					<tbody>
					<tr>
						<td colspan="2">{$ZucheOrderInfo[QuoteDetail][data][vehicleInfo][transmission]}/{$ZucheOrderInfo[QuoteDetail][data][vehicleInfo][door]}门/{$ZucheOrderInfo[QuoteDetail][data][vehicleInfo][seat]}座</td>
					</tr>
					<tr>
						<th>供应商：</th>
						<td>{$ZucheOrderInfo[QuoteDetail][data][supplier][supplierName]}</td>
					</tr>
					<tr>
						<th>城市：</th>
						<td>{if $ZucheOrderInfo[QuoteDetail][data][rentInfo][pickupNameCn]==$ZucheOrderInfo[QuoteDetail][data][rentInfo][dropoffNameCn]}{$ZucheOrderInfo[QuoteDetail][data][rentInfo][pickupNameCn]}{else}{$ZucheOrderInfo[QuoteDetail][data][rentInfo][pickupNameCn]}、{$ZucheOrderInfo[QuoteDetail][data][rentInfo][dropoffNameCn]}{/if}</td>
					</tr>
					<tr>
						<th>租期：</th>
						<td>{$ZucheOrderInfo[QuoteDetail][data][rentInfo][days]}天租期</td>
					</tr>
					<tr>
						<th>取车时间：</th>
						<td>{$ZucheOrderInfo[QuoteDetail][data][rentInfo][pickupDate]}  {$ZucheOrderInfo[QuoteDetail][data][rentInfo][pickupTime]}</td>
					</tr>
					<tr>
						<th>地址：</th>
						<td>{$ZucheOrderInfo[QuoteDetail][data][rentInfo][pickupNameCn]} - {$ZucheOrderInfo[QuoteDetail][data][rentInfo][pickupNameEn]}（{$ZucheOrderInfo[QuoteDetail][data][locations][pickup][address]}）</td>
					</tr>
					<tr>
						<th>还车时间：</th>
						<td>{$ZucheOrderInfo[QuoteDetail][data][rentInfo][dropoffDate]}  {$ZucheOrderInfo[QuoteDetail][data][rentInfo][dropoffTime]}</td>
					</tr>
					<tr>
						<th>地址：</th>
						<td>{$ZucheOrderInfo[QuoteDetail][data][rentInfo][dropoffNameCn]} - {$ZucheOrderInfo[QuoteDetail][data][rentInfo][dropoffNameEn]}（{$ZucheOrderInfo[QuoteDetail][data][locations][dropoff][address]}）</td>
					</tr>
					</tbody></table>
			</div>
		</div>
		<div class="mRight_v mt20">
			<div class="mRightit">
				<span class="name">驾驶员信息</span>
			</div>
			<div class="orderDetailM">
				<table border="0" cellspacing="0" cellpadding="0" width="100%" class="contactTab mt15">
					<tr>
						<th>英文姓名：</th>
						<td>{$ZucheOrderInfo[driverSurname]}{$ZucheOrderInfo[driverGivenname]}</td>
					</tr>
					<tr>
						<th>年龄：</th>
						<td>{$ZucheOrderInfo[driverAges]}岁</td>
					</tr>
					<tr>
						<th>驾照类型：</th>
						<td>{if $ZucheOrderInfo[drivingLineceType]=='CN'}中国驾照{else}其他{/if}</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="mRight_v mt20">
			<div class="mRightit">
				<span class="name">联系信息</span>
			</div>
			<div class="orderDetailM">
				<table border="0" cellspacing="0" cellpadding="0" width="100%" class="contactTab mt15">
					<tr>
						<th>姓名：</th>
						<td>{$ZucheOrderInfo[contractGivenname]}</td>
					</tr>
					<tr>
						<th>手机号码：</th>
						<td>{$ZucheOrderInfo[contractPhone]}</td>
					</tr>
					<tr>
						<th>邮箱地址：</th>
						<td>{$ZucheOrderInfo[contractEmail]}</td>
					</tr>
					<tr>
						<th>当地电话：</th>
						<td>+1000000000</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="cf mt20 tac">
			<a href="" class="publicBtn2 backList">返回订单列表</a>
		</div>
	</div>
</div>
<script src="{echo JsURL}/member/MemberTourPublic.js" type="text/javascript"></script>
{template MemberFooter}
</body>
</html>