{template MemberHeader}
<div class="w1200 cf mt20">
    {template MemberStudyLeft}
    <div class="mRight MyOrderBox cf fr">
        <div class="myNewsTit">
            <span class="name">文书材料</span>
            <ul class="ws_hd fl">
                <li {if $T==1}class="on"{/if}><a href="/memberstudy/document/?T=1">简历</a><span class="line transition"></span></li>
                <li {if $T==2}class="on"{/if}><a href="/memberstudy/document/?T=2">RL</a><span class="line"></span></li>
                <li {if $T==3}class="on"{/if}><a href="/memberstudy/document/?T=3">PS</a><span class="line"></span></li>
                <li {if $T==4}class="on"{/if}><a href="/memberstudy/document/?T=4">ESSAY</a><span class="line"></span></li>
            </ul>
        </div>
        {loop $Data $key $val}
        <div class="mRight_v mt10 cf content">
            <!--此处绑定此订单对应的id data-type绑定此前是什么类型 1代表简历 2代表RL 3代表PS 4代表ESSAY-->
            <input type="hidden" class="orderId" value="{$val[OrderID]}" data-type="{$T}">
            <div class="stuconListBody {if $val['Isok']}on{/if}">
                <span class="FigureIndia"></span>
                {if $val[DocumentCount]>0}
                <a href="javascript:void(0)" class="publicBtn1 sureBtn sureBtn2 fr finaLize {if $val['Isok']}hidden{/if}">确认定稿？</a>
                {/if}
                <img src="{if $val[Avatar]}{$val[Avatar]}{else}http://images.57us.com/img/study/default3.0.png{/if}" width="60" height="60">
                <p>顾问：{$val[RealName]}</p>
                <p>服务名称：{$val[OrderName]}</p>
                <!--<p>状态：<span class="green">顾问已确认</span></p>-->
            </div>
            <div class="stuconListM mt15">
                <!--交互状态 历史交互信息，跟信息收集表一样-->
                <ul class="dialogueList cf">
                    {if $val['Show']}
                    {loop $val['Show'] $k $v}
                    <li class="{if $v['Feedback']==2}even{/if}">
                        <span class="sj"></span>
                        <img src="{if $v['Feedback']==2}{if $val[Avatar]}{$val[Avatar]}{else}http://images.57us.com/img/study/default3.0.png{/if}{elseif $v['Feedback']==1} {if $UserInfo[Avatar]}{$UserInfo[Avatar]}{else}http://images.57us.com/img/study/default3.0.png{/if}{/if}" width="48" height="48">
                        <div class="dialogueCont">
                            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                <tr>
                                    <td width="300">
                                        <p><span class="fr">{$v[DocumentName]}</span><span class="fl">{echo date("Y-m-d",$v[AddTime])}</span><span class="pl20">{echo date("H:i:s",$v[AddTime])}</span></p>
                                        <p><span class="red">{if $v['Feedback']==1}我的反馈{elseif $v['Feedback']==2}顾问_{$val[RealName]}的反馈{/if}：{$v[Describe]}</span></p>
                                    </td>
                                    <td class="pl20 tac">
                                        {if $v[Document]}<a href="{echo ImageURL}{$v[Document]}" class="btn publicBtn0">下载</a>{/if}
                                        {if ($val[Isok] == 0 && $k == 0 && $v['Feedback'] != 1)}
                                        <a href="javascript:void(0)" class="btn publicBtn0 mt10 upbtn uploadModal" data-order="{$val[OrderID]}">反馈</a>
                                        {/if}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </li>
                    {/loop}
                    {/if}
                    {if $val['NoShow']}
                    {loop $val['NoShow'] $k $v}
                    <li style="display: none" class="{if $v['Feedback']==2}even{/if} qhide">
                        <span class="sj"></span>
                        <img src="{if $v['Feedback']==2}{if $val[Avatar]}{$val[Avatar]}{else}http://images.57us.com/img/study/default3.0.png{/if}{elseif $v['Feedback']==1}{if $UserInfo[Avatar]}{$UserInfo[Avatar]}{else}http://images.57us.com/img/study/default3.0.png{/if}{/if}" width="48" height="48">
                        <div class="dialogueCont">
                            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                <tr>
                                    <td width="300">
                                        <p><span class="fr">{$v[DocumentName]}</span><span class="fl">{echo date("Y-m-d",$v[AddTime])}</span><span class="pl20">{echo date("H:i:s",$v[AddTime])}</span></p>
                                        <p><span class="red">{if $v['Feedback']==1}我的反馈{elseif $v['Feedback']==2}顾问_{$val[RealName]}的反馈{/if}：{$v[Describe]}</span></p>
                                    </td>
                                    <td class="pl20 tac">
                                        {if $v[Document]}
                                        <a href="{echo ImageURL}{$v[Document]}" class="btn publicBtn0">下载</a>
                                        {/if}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </li>
                    {/loop}
                    {/if}
                </ul>
                <!--初始状态-->
                {if $val['Status'] == 0}
                <div class="cf mt40 tac upfilebox">
                    <span class="f20">文书服务尚未开始 </span>
                </div>
                {else}
                    {if $val[DocumentCount] == 0}
                    <div class="cf mt40 tac upfilebox">
                        <span class="f20">等待顾问开始文书服务 </span>
                    </div>
                    {/if}
                {/if}
                {if $val['NoShow']}
                <div class="QuestionMore mt40 tar" style="display:block">
                    <a href="JavaScript:void(0)" class="more">查看全部<i class="icon iconfont icon-up-copy"></i></a>
                </div>
                {/if}
            </div>
        </div>
        {/loop}
    </div>
</div>
{template MemberFooter}
<script src="{echo JsURL}/member/MemberStudyUpModal.js" type="text/javascript"></script>
<script src="{echo JsURL}/member/MemberStudyDocument.js" type="text/javascript"></script>
</body>
</html>