{template MemberHeader}
<div class="w1200 cf mt20">
    {template MemberTourOrderLeft}
    <div class="mRight cf fr">
        <div class="mRight_v">
            <div class="myNewsTit">
                <div class="hd cf">
                    <a href="/membertour/carrentorderlist/" {if $Status==''}class="on"{/if}>全部订单</a>
                    <a href="/membertour/carrentorderlist/?S=1" {if $Status=='1'}class="on"{/if}>待付款</a>
                    <a href="/membertour/carrentorderlist/?S=2" {if $Status=='2'}class="on"{/if}>已付款</a>
                    <a href="/membertour/carrentorderlist/?S=3" {if $Status=='3'}class="on"{/if}>退款</a>
                </div>
            </div>
            <table border="0" cellspacing="0" cellpadding="0" width="100%" class="orderList mt20">
                <tr>
                    <th class="tal" width="360">订单信息</th>
                    <th width="90">产品类型</th>
                    <th width="90">订单金额</th>
                    <th width="90">订单状态</th>
                    <th width="170">操作</th>
                </tr>
                {loop $Data[Data] $lists}
                <tr data-type="zuche" data-id="{$lists[ID]}" {if  $list[ExpirationTime]>$CurrentTime} class="settime" endTime="{$list[ExpirationTime]}"{/if}>
                    <div class="remain hidden"></div>
                    <td class="order_t1 tal">
                        <div class="orderHead"><span>订单号：{$lists[OrderNum]}</span><span>下单时间：{$lists[CreateTime]}</span></div>
                        <span class="rLine"></span>
                        <img src="{$lists[QuoteDetail][data][vehicleInfo][imagePath]}" width="150" height="94"/><span class="orderName">{$list[OrderName]}（{$lists[QuoteDetail][data][vehicleInfo][vehicleName]}）</span>
                    </td>
                    <td>
                        <span class="rLine"></span>
                        <p>租车</p>
                    </td>
                    <td>
                        <span class="rLine"></span>
                        <p class="red">￥<em class="f18">{$lists[Money]}</em></p>
                    </td>
                    <td>
                        <span class="rLine"></span>
                        <p>{$OrderStatus[$lists[Status]]}</p>
                    </td>
                    <td>
                        {if $lists[Status]==1}
                        <a href="{echo WEB_MEMBER_URL}/carrentpay/{$lists[OrderNum]}.html" class="publicBtn2 orderBtn goPay">去支付</a>
                        {elseif $lists[Status]==2 || $lists[Status]==3}
                        <a href="javascript:void (0)" class="publicBtn2 orderBtn againGo cancelRefundOrderBtn"  data-val="1">申请退款</a>
                        {elseif $lists[Status]==4 && $lists[EvaluateDefault]==0}
                        <a href="javascript:void (0)" class="publicBtn2 orderBtn gopj">评价</a>
                        {elseif $lists[Status]==4 && $lists[EvaluateDefault]==1}
                        <a href="javascript:void (0)" class="publicBtn3 orderBtn haspj">已评价</a>
                        {/if}
                        <a href="/carrentorderdetail/{$lists[OrderNum]}.html" class="moreDetail">查看详情</a>
                    </td>
                </tr>
                {/loop}
            </table>
            {if $ShowPage}
            <div class="orderPage mt20">
                {$ShowPage}
            </div>
            {/if}
        </div>
    </div>
</div>
</div>
<script src="{echo JsURL}/member/MemberTourPublic.js" type="text/javascript"></script>
{template MemberFooter}
</body>
</html>