{template MemberHeader}
<div class="w1200 cf mt20">
    {template MemberLeft}
    <div class="mRight cf fr">
        <div class="mRight_v">
            <div class="mRightit">
                <span class="name">修改密码</span>
            </div>
            <div class="f22 mt30 red">互联网账户存在被盗风险，建议您定期更改密码以保护账户安全。</div>
            <table border="0" cellspacing="0" cellpadding="0" width="100%" class="PaswrodTab mt40">
                <tr>
                    <th>当前密码:</th>
                    <td>
                        <div class="posDiv">
                            <input type="password" name="oldPassword" id="oldPassword" value="" class="tabInput" />
                            <span class="pl20 c9">请您输入当前使用的密码</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th valign="top">新密码:</th>
                    <td>
                        <div class="posDiv">
                            <input type="password" name="newPassword" id="newPassword" value="" class="tabInput" />
                            <span class="pl20 c9">请输入6位以上</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th valign="top">确认密码:</th>
                    <td>
                        <div class="posDiv">
                            <input type="password" name="confirmPassword" id="confirmPassword" value="" class="tabInput" />
                            <span class="pl20 c9">再次确认您的新密码</span>
                        </div>

                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td>
                        <a href="javascript:void(0)" class="publicBtn2 sureBtn" id="save">确定</a>
                        <a href="javascript:void(0)" class="publicBtn2 canceBtn" id="cancel">取消</a>
                    </td>
                </tr>
            </table>
            <div class="bottomIns mt30">
                为什么要进行身份验证？<br>
                为保障您的账户信息安全，在变更账户中的重要信息时需要进行身份验证，感谢您的理解和支持。
            </div>
        </div>
    </div>
</div>
{template MemberFooter}
<script src="{echo JsURL}/member/MemberChangePassword.js" type="text/javascript"></script>
</body>
</html>