<div class="lmenu fl">
    <ul>
        <li class="on">
            <a href="JavaScript:void(0)" class="firstA">
                <i class="fl licon icon iconfont icon-dingdan1"></i>
                <span class="name">旅游订单</span>
            </a>
            <div class="secondUl">
                <a href="javascript:void(0)" class="hidden">全部订单</a>
                <a href="/membertour/tourorderlist/" {if $UserNav =='TourOrderList'}class="on"{/if}>出游订单</a>
                <a href="/membertour/carrentorderlist/" {if $UserNav =='CarRentOrderList'}class="on"{/if}>租车订单</a>
                <a href="/membertour/hotelorderlist/" {if $UserNav =='HotelOrderList'}class="on"{/if}>酒店订单</a>
                <a href="/membertour/visaorderlist/" {if $UserNav =='VisaOrderList'}class="on"{/if}>签证订单</a>
                <a href="/membertour/highlevelorderlist/" {if $UserNav =='HighLevelOrderList'}class="on"{/if}>高端定制</a>
            </div>
        </li>
    </ul>
</div>