.SequenceUl li a i,.ChoseMore i,.DePicScroll a,.otherSer .more i,.centerUser .cityIco,.centerUser .img .ico,.consulAboutBox i,.PicTab .prev,.PicTab .next,.FirstCont i,.OfferScroll .prev,.OfferScroll .next,.consultantList li .img .sex,.SchoolDetailBody .collect i,.contBoxM .start,.nearSchool li .mapIco,.moreBtn i,.IndexCaseScrol .prev,.IndexCaseScrol .next,.HotSchool li .mapIco{background:url(http://images.57us.com/img/study/studypublic3.0.png) no-repeat;}
.choseBox  li label i,.selectListL .ico{background:url(http://images.57us.com/img/study/studyfilter3.0.png?20170110) no-repeat;}
/*排序*/
.Sequence{height:50px;line-height:50px;color:#666666;padding-top:7px;}
.allPro{color:#999999;}
.allPro i{padding:0 4px;}
.SequenceUl{position:relative;z-index:10;float: left;}
.SequenceUl li{float:left;padding:0 20px;position:relative;}
.SequenceUl li a{color:#666;}
.SequenceUl li a i{background-position:-8px -133px ;width:20px;height:20px;display:inline-block;vertical-align:middle;}
.SequenceUl li.on a{color:#ff685a;}
.SequenceUl li.first{padding-left: 0;border-left:0 ;}
.SequenceUl li:before{content:" "; width: 0;height: 18px; display: block; border-left: 1px solid #dbdbdb;position: absolute; top: 50%;left: -1px; margin-top: -9px; z-index: 1;}
.SequenceUl li.first:before{display: none;}
.SequenceChose{background:#fff;width:140px;height:auto;overflow:hidden;position:absolute;top:0;left:-2px;box-shadow:0 0 2px rgba(0,0,0,0.1); padding-bottom:15px;display:none; z-index: 2;}
.SequenceChose a{height:30px;line-height:30px;display:block;text-indent:22px;margin-top:10px;}
.SequenceChose a:hover{color:#ff685a;}
.SequenceUl li.on .SequenceChose a{color:#666;}
.SequenceUl li:hover .SequenceChose{display:block;}

/*列表*/
.SlideLeft{background:#fff;width:900px;padding-bottom:35px;}
.SlideRight{width:280px;}
/*广告位*/
.adList{width: 100%;height: auto;overflow: hidden;}
.adList li{float: left;margin-bottom: 20px;}
.adList li,.adList li img{width: 100%;}
/*微信*/
.wxShare{width: 250px; background: #29beb5;color: #fff; height: 99px; overflow: hidden;padding: 15px;}
.wxShare img{width: 99px; height: 99px; float: left;margin-right: 15px;}

.NewNews{background: #fff; height: auto;overflow: hidden; padding: 10px 20px;}
.NewNewsT{height: ;color: #333333; font-size: 18px; height: 30px;line-height: 30px;}
.NewNewsList{}
.NewNewsList li a{height: 39px;line-height: 39px;overflow: hidden; display: block;border-bottom: 1px dashed #dadada;color: #666666;}
.NewNewsList li a b{font-size: 12px; color: #999;margin-right: 4px;}
.NewNewsList li.last a{border-bottom: 0;}
.NewNewsList li a:hover{color: #ff5863;}
/*服务列表*/
.ServiceLineList{margin:0 30px;}
.ServiceLineList li{padding:25px 0;border-bottom:1px dashed #e3e3e3;height:225px;color:#999999;}
.ServiceLineList li .ListLeft{width:630px;float:left;}
.ServiceLineList li .ListRight{ text-align: center; width:170px;float:right;border-left:1px solid #e3e3e3;padding:0px 0 0 20px;margin-top:50px ;height:138px;}
.ServiceLineList li .ListLeft .tit a{width:100%;font-size:22px;color:#3f3e3c;height:50px;line-height:50px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;display:inline-block;}
.ServiceLineList li .ListLeft .tit a:hover{color:#ff5863;}
.ServiceLineList li .ListLeft .img{width:200px;height:150px;position:relative;float:left;margin-right:25px;}
.ListService{height:auto; max-height: 26px; overflow:hidden;}
.ListService span{background:#ff5863;height:26px;line-height:26px;color:#fff;margin-right:5px;display:inline-block;padding:0 10px;border-radius:3px;float: left;max-width: 84px; overflow: hidden;}
.ListIns p{height:25px;overflow:hidden;line-height:25px;}
.ListIns p b{font-weight:normal;font-size:12px;color:#b0b0b0;padding-right:5px;transform:scale(0.7,0.7);-ms-transform:scale(0.7,0.7);	/* IE 9 */-webkit-transform:scale(0.7,0.7);	/* Safari å’Œ Chrome */-o-transform: scale(0.7,0.7);	/* Opera */-moz-transform:scale(0.7,0.7);display:inline-block;vertical-align:middle;margin-top:-2px;}
.ListDescion{height: 75px;line-height: 25px;overflow: hidden;color: #999999;}
.ListDescion b{color: #666666;}
.where span{margin-right:30px;display:inline-block;}
.ListRight .price{color: #ff6767;font-size: 22px;}
.ListRight .price em{font-size:24px;}
.ListRight .price i{font-size: 20px;}
.CheckMore,.Collect{width:136px;height:38px;border:1px solid #ff5863;border-radius:38px;text-align:center;line-height:38px;color:#ff5863;font-size:16px;display:inline-block;position:relative;}
.Collect{border-color: #29beb5; color: #29beb5; margin-top: 12px;}
.CheckMore:hover{color:#fff;background:#ff5863;}
.Collect:hover{color:#fff;background:#29beb5;}

/*筛选*/
.selectBox{ background: #fff;height: auto;overflow: hidden; padding: 0 25px;}
.selectList{border-bottom:1px dashed #e3e3e3;padding:12px 0;}
.selectListL{width:120px;float:left;position:relative}
.selectListL .ico{width:40px;height:40px;display:inline-block;vertical-align:middle;margin-right:6px;}
.selectListL .ico1{background-position:0 -80px;}
.selectListL .ico2{background-position:0 -120px;}
.selectListL .ico3{background-position:0 -160px;}
.selectListL .ico4{background-position:0 -200px;}
.selectListL .ico5{background-position:0 -240px;}
.selectListL .ico6{background-position:0 -280px;}
.selectListL .ico7{background-position:0 -320px;}
.selectListL .ico8{background-position:0 -360px;}
.selectListL .ico9{background-position:0 -400px;}
.selectListL .ico10{background-position:0 -440px;}
.selectListL .ico11{background-position:0 -480px;}
.selectListL .ico12{background-position:0 -520px;}
.selectListL .ico13{background-position:0 -560px;}
.selectListL .ico14{background-position:0 -600px;}
.selectListL .ico15{background-position:0 -640px;}
.selectListL .ico16{background-position:0 -680px;}
.selectListL .ico17{background-position:0 -720px;}
.selectListL .ico18{background-position:0 -760px;}
.selectListL .ico19{background-position:0 -800px;}
.selectListL .ico20{background-position:0 -840px;}
.selectList.on .choseBox{height:auto;}
.selectList.on .ChoseMore a{display:none;}
.selectList.on .ChoseMore a.change{display:inline-block;}
.selectList.last{ border-bottom:0;}
.selectListM{width:920px;float:left;}
.selectListM dt{width:78px;height:40px;line-height:40px;}
.selectListM dt .allBtn{width:50px;height:26px;text-align:center;line-height:26px;display:inline-block;vertical-align:middle;border-radius:3px;}
.selectListM dt.on .allBtn{background:#ff6767;color:#fff;}
.selectListM dd{width:842px ;}
.choseBox{height:40px;overflow:hidden;}
.choseBox li{float:left;margin:8px 40px 0 0;}
.choseBox  li label i{background-position:-12px -12px ;width:19px;height:19px;display:inline-block;vertical-align:middle;margin-right:5px;}
.choseBox  li label.checked i,.choseBox  li label.rb_active i{background-position:-13px -51px;}
.ChoseMore{float:right;margin-top:8px;}
.ChoseMore .change{display:none;}
.ChoseMore i{background-position:-10px -133px ;width:20px;height:20px;display:inline-block;vertical-align:middle;}
.ChoseMore .change i{background-position:-10px -173px;}
/*服务列表详情页*/
.DetailBox{ background: #fbfbfb; padding: 20px;height: auto; position: relative;z-index: 1;}
.DePicScroll{width: 420px;height: 315px; float: left;overflow: hidden;margin-right: 30px;position: relative;}
.DePicScroll .pic{position: relative;z-index: 1;}
.DePicScroll .pic,.DePicScroll .pic li,.DePicScroll .pic img{width: 100%;height: 315px;}
.DePicScroll a{ width:40px; height:40px; display:inline-block;overflow:hidden; text-indent:-9999px; position:absolute; top:50%; margin-top:-20px;filter:alpha(opacity:70); opacity:0.7;z-index: 2; }
.DePicScroll a.prev{ background-position:0 -240px;  left:10px;}
.DePicScroll a.next{ background-position:0 -200px;  right:10px;}
.DePicScroll a.prevStop,.DePicScroll a.nextStop{display: none;}
.DetailInfor{position: relative;}
.DetailInfor .tit{height: 35px; line-height: 35px; overflow: hidden;font-size: 24px;color: #333333;}
.DetailInfor{width: 709px; float: right;}
.DetailInfor .description{height: 50px;line-height: 25px;overflow: hidden;border-top: 1px dashed #e5e5e5; padding-top: 20px;}
.DetailFunBox{border-top: 1px solid #e5e5e5; height: auto; max-height: 172px;overflow: hidden;}
.DetailFunBoxL{width: 480px; float: left;}
.DetailFunBoxR{width: 220px; float: right;}
.DetailFunList{line-height: 35px;height: 105px;overflow: hidden;}
.DetailFunBoxR .price{color: #ff6767;font-size: 24px;}
.DetailFunBoxR .price em{font-size: 30px;font-weight:bold;}
.NowBuyBtn{width: 149px;height: 45px;display: block;overflow: hidden;line-height: 45px;text-align: center; color: #fff;font-size: 20px; background: #ff6767; border-radius: 45px;position: relative;}
.NowBuyBtn:before{content: ''; display: block;position: absolute;top: 0;left: 0;width: 100%;height: 100%;-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;transition: transform 0.3s, opacity 0.3s;-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); border-radius: inherit;}
.NowBuyBtn:before{opacity: 0;-webkit-transform: scale3d(0.6, 0.6, 1);transform: scale3d(0.6, 0.6, 1);z-index:-1;}
.NowBuyBtn:hover{color: #fff;}
.NowBuyBtn:hover:before {-webkit-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1);opacity: 1;z-index: 1;background: #e84646;}
.NowBuyBtn span{ z-index: 2; position: relative;}

.sureClassBuy{width:700px; height: 250px; background: #fff;box-shadow:0 0 15px rgba(0,0,0,0.2);position:fixed; top:50%;left:50%; padding: 30px;border-radius: 4px; z-index:101; margin: -140px 0 0 -380px;}
.classMont{padding:0 0 10px 10px;}
.classMont li{float: left;margin:0 10px 10px 0;position: relative;}
.classMont li a,.classMont li input{width: 117px;height: 41px; display: block;text-align: center;line-height: 41px;border: 1px solid #c5c5c5;border-radius: 3px; color: #333333;}
.classMont li input{width: 107px; padding: 0 5px;}
.classMont li i{ background: url(http://images.57us.com/img/study/center3.0.png) -4px -1324px no-repeat; width: 28px; height: 26px;display: block;position: absolute;bottom: 0; right: 0;display: none;}
.classMont li.on i{display: block;}
.classMont li.on a,.classMont li.on i{border-color: #29beb5;}
.sureClassBuy table th{font-weight: normal;}
.sureClassBuy table th,.sureClassBuy table td{padding: 20px 0;}
.sureClassBuy .close{ background:url(http://images.57us.com/img/study/center3.0.png) 0 -760px no-repeat;width: 40px; height: 40px; display: inline-block;position: absolute;top: 0;right: 0;}
.num_box{width:115px;height:31px;overflow:hidden;margin-left: 10px;}
.num_box a{ background: url(http://images.57us.com/img/tour/TourProIcon.png) no-repeat; width:34px;height:31px;overflow:hidden;float:left; cursor:pointer;}
.num_box a.plus{background-position:-3px -404px;}
.num_box a.change{background-position:-3px -445px;}
.num_input{border:none;border:1px solid #cbcbcb;background:#fff;color:#333;width:45px;height:29px;line-height:29px;text-align:center;float:left;overflow:hidden;border-radius: 2px;}
.sureClassBuy .OtherFun{ padding-top: 27px; border-top: 1px dashed #d6d6d6;}
.sureClassBuy .OtherFun .btn{ background: #ff6767; width: 137px; height: 47px; text-align: center;line-height: 47px; color: #fff;font-size: 18px; float: right;margin-left: 35px;border-radius: 3px;}
.sureClassBuy .OtherFun .btn:hover{background: #f56060;}
.sureClassBuy .OtherFun .allPrice{font-size: 20px;}
.sureClassBuy .OtherFun .allPrice b,.sureClassBuy .OtherFun .allPrice b i{font-size: 30px;}
/*详情页相关推荐*/
.RelatedTj{width: 100%; }
.RelatedTjT{height: 30px; line-height: 30px; font-size: 18px; color: #333;font-weight: normal;}
.RelatedTj li{width: 100%;height: 283px; overflow: hidden;float: left;margin: 10px 0;background: #fff;}
.RelatedTj li .img{width: 100%;height: 210px; overflow: hidden;position: relative;}
.RelatedTj li .img img{width: 280px;height: 210px;}
.RelatedTj li .RelatedM{padding:7px 20px; height: 58px; line-height: 29px; overflow: hidden;}
.RelatedTj li .RelatedM p{height: 29px;display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;color: #666666;}
.RelatedTj li:hover{box-shadow: 0 0 10px rgba(0,0,0,0.1);}
/*详情内容*/
.DetailCont{background:#fbfbfb;}
.contMenu{height:61px; }
.contMenu ul{background:#fbfbfb;height:60px;line-height:60px;border-bottom:1px solid #d5d5d5;}
.contMenu li{height:60px;font-size:18px; float:left;color:#878787;cursor:pointer;padding:0 25px; position: relative;margin-right: 3px;}
.contMenu li.on{color:#ff6767;}
.fixnav{width:900px; position:fixed;top:0;left:50%;margin-left:-600px;z-index:1000;margin-top:0 !important}

.DetailContM{position:relative; padding: 30px 30px 0;}
.contBoxT{height: 40px; line-height: 40px;position: relative;}
.contBoxT .name{float: left;background: #fff;font-size: 20px; color: #666666; padding-right: 25px; z-index: 1;position: relative;}
.contBoxT .line{width: 100%; height: 0;border-top: 3px solid #e8e8e8;position: absolute;top: 20px; z-index: 0;left: 0;}
.contBoxT .hd{position: relative; z-index:1;}
.contBoxT .hd a{ color: #ff6767; float: left; padding: 0 3px; margin-right: 15px;font-size: 16px;}
.contBoxT .hd a.on{border-bottom: 2px solid #ff6767;}
.contBoxNr{line-height: 30px;height: auto;overflow: hidden; padding:15px 10px;}
.contBoxNr img{max-width: 100%;}
.detailList{ padding:20px;background: #f3f3f3;}
.detailList td{padding: 10px 5px;}
.detailList td i{background:url(http://images.57us.com/img/study/detail3.0.png) no-repeat; width:40px;height:40px;display:inline-block;vertical-align:middle;margin-right:6px;}
.detailList td .ico1{background-position:0 0 ;}
.detailList td .ico2{background-position:0 -40px;}
.detailList td .ico3{background-position:0 -80px;}
.detailList td .ico4{background-position:0 -120px;}
.detailList td .ico5{background-position:0 -160px;}
.detailList td .ico6{background-position:0 -200px;}
.detailList td .ico7{background-position:0 -240px;}
.detailList td .ico8{background-position:0 -280px;}
.detailList td .ico9{background-position:0 -320px;}
.consultantIns{padding: 0 30px 30px; border-bottom: 1px solid #e5e5e5;}
.consultantInsL{width: 160px; margin-right: 35px; text-align: center;}
.consultantInsL img{width: 124px;height: 124px;border-radius: 100%;}
.consultantTip{color: #29beb5;height: 26px;overflow: hidden;}
.consultantTip span{padding: 0 8px;border: 1px solid #29beb5;border-radius: 3px; margin-right: 9px; display: inline-block;vertical-align: top;}
.consultantIns .nr{height: 90px; line-height: 30px; overflow:hidden;}
.consultantIns .more a{ background: #29beb5; width: 90px; height: 34px;text-align: center;line-height: 34px; color: #fff; border-radius: 3px; display: inline-block;}
.consultantIns .more a:hover{background: #23ada5;}
.consultantIns .tit{height: 40px; overflow: hidden;line-height:40px; font-size: 14px !important;}
.consultantIns .tit span{padding-right:50px;font-size: 14px;}
.consultantIns .tit .name{color: #ff6767;font-size: 30px;}
.otherSer{}
.otherSerT{color: #999; font-size: 18px;}
.otherSerList{margin-top: -15px;}
.otherSerList li{ height:113px; overflow: hidden;border-bottom: 1px dashed #e0e0e0;padding: 30px 170px 30px 0; position: relative;}
.otherSerList li img{width: 150px; height:113px; float: left;margin-right: 20px;}
.otherSerList li .tit{height: 30px; line-height: 30px; font-size: 20px; color: #3f3e3c;display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.otherSerList li .nr{height: 56px; overflow: hidden;line-height: 28px;}
.otherSerList li .BoxR{width: 150px; text-align: center; position: absolute; top:40px; right: 0;}
.otherSerList li .BoxR .price{color: #ff6767;font-size:16px;}
.otherSerList li .BoxR .price em{font-size: 22px;}
.otherSerList li .BoxR .editeFun{text-align: center;}
.otherSerList li .BoxR .editeFun a{color: #666666; margin: 0 5px; display: inline-block;}
.otherSerList li .BoxR .editeFun a:hover{color: #ff6767;}
.otherSerList li.last{border-bottom: 0;}
.otherSer .more{ background: #eaeaea; height: 43px; line-height: 43px; text-align: center;}
.otherSer .more a{color: #666666;}
.otherSer .more i{background-position:-10px -133px ;width:20px;height:20px;display:inline-block;vertical-align:middle;}


.autofix_sb.fixed {width: 280px; position: fixed !important;left: 50% !important; margin-left: 320px !important; top: auto; right: auto; bottom: auto;}
.autofix_sb.fixed.bottom {bottom:0;position: absolute !important;}

/*顾问详情*/
.consultantBody{ background: url(http://images.57us.com/img/study/deskBg3.0.png) center bottom no-repeat #ff6767; height: 365px;}
.centerUser{ padding:80px 0 0 478px;color: #fff;}
.centerUser .img{width:119px; height: 119px;border: 3px solid #FFF; border-radius: 100%; float: left; margin-right: 25px;position: relative;}
.centerUser .img img{width: 100%; height: 100%;border-radius: inherit;}
.centerUser .img .ico{ background-color: #fff; width: 26px; height: 26px;border-radius: inherit;display: inline-block;position: absolute;bottom: 0;right: 0;}
.centerUser .img .WomanIco{background-position: -7px -447px;}
.centerUser .img .ManIco{background-position: -7px -487px;}
.centerUser p{line-height: 30px;}
.centerUser .name{font-size: 24px;}
.centerUser .job{}
.centerUser .cityIco{ background-position: -13px -614px; width: 16px; height: 16px; display: inline-block;vertical-align: middle;}
.consultantBody p.n_tip span{border-radius: 2px;border: 1px solid #fff;padding: 0 5px;margin-right: 4px;color: #fff;}
.consulAboutBox{padding: 10px 10px 15px;}
.consulAboutBox .nr{ background: #f3f3f3; padding: 60px 75px;height: auto;overflow: hidden;position: relative;line-height: 30px;}
.consulAboutBox i{width: 40px; height: 40px; display: inline-block;position: absolute;}
.consulAboutBox i.lefTop{ background-position: 0 -640px; top: 25px; left: 25px;}
.consulAboutBox i.rightBottom{ background-position: 0 -680px; right: 25px;bottom: 25px;}

.PicTab{width: 100%; height: 360px;position: relative; overflow: hidden;}
.PicTab .prev,.PicTab .next{width: 40px; height: 40px;position: absolute; display: block; top: 50%; margin-top: -20px; z-index: 2; filter:alpha(opacity=20); opacity: 0.2;}
.PicTab .prev{ background-position: 0 -560px; left: 20px;}
.PicTab .next{ background-position: 0 -520px; right: 20px;}
.PicTab .prev:hover,.PicTab .next:hover{filter:alpha(opacity=100); opacity:1.0;}
.PicTab .hd{width: 100%;position: absolute;bottom: 15px; text-align: center; z-index: 3;}
.PicTab .hd a{ background: #fff; width: 24px; height: 4px; display: inline-block; margin: 0 5px;}
.PicTab .hd a.on{background: #ff6767;}
.PicTab .pic,.PicTab .pic li,.PicTab .pic img{width: 100%; height: 360px; }
.AllSerList{width: 100%; margin: 0;}

.experList{padding-left: 135px;}
.experList li{ padding:0 0 10px 40px; border-left: 1px dashed #dfdfdf;position: relative;}
.experList li .tit{height: 40px;line-height: 40px; color: #ff6767; font-size: 18px; overflow: hidden;}
.experList li .exnr{line-height: 30px; padding-bottom: 20px;}
.experList li .circle{ background: #ff6767;border-radius: 100%; width: 10px; height: 10px; display: block;position: absolute;top: 15px; left: -5px;}
.experList li .date{height: 40px;line-height: 40px;width: 120px; overflow: hidden;position: absolute; top: 0px; left: -130px;}

.suCase{}
.suCase li{border-bottom: 1px solid #d9d9d9;}
.suCase li.on .FirstCont{background: #ff6767; color: #fff;}
.suCase li.on .FirstCont img{width: 66px; height: 66px;border: 3px solid #fff;}
.suCase li.on .SecondCont{display: block;}
.FirstCont{ padding: 10px 18px; height: 72px; line-height: 72px; overflow: hidden;color: #3f3e3c;font-size: 18px;}
.FirstCont img{width: 72px; height: 72px;float: left; margin-right: 45px; float: left;border-radius: 100%;}
.FirstCont p{float: left; padding-right: 75px;}
.FirstCont i{background-position: 0 -120px;width: 40px;height: 40px; margin-top: 16px; display: block;float: right;cursor: pointer;}
.suCase li.on i{background-position: 0 -320px;}
.SecondCont{padding: 15px 15px 35px; height: auto;overflow: hidden;display: none;}
.caseOtherBox{padding-top: 50px;}
.caseOtherBoxT{ height: 40px; }
.caseOtherM{padding-left: 30px;}
.caseOtherM table{color: #666;}
.caseOtherM table td,.caseOtherM table th{padding: 10px 0;}
.caseOtherM table th{font-weight: normal; }
.caseOtherM table td{padding-right: 10px;vertical-align:top ;}

.langeScrol{text-align: center;margin-top: 20px;background: #dadada;}
.langeScrol th{font-size: 16px;color: #333333;font-weight: normal;width:100px ;}
.langeScrol td{background: #fbfbfb;}

.Casedescr{padding-left: 50px; line-height: 30px;}
.SecondLine{border-bottom: 1px dashed #e5e5e5;}

.OfferScroll{width: 680px; height: 225px; margin: 0 auto;position: relative; padding: 30px 0 50px;}
.OfferScroll .prev,.OfferScroll .next{width: 25px; height: 25px;position: absolute;top:-30px;display: block;}
.OfferScroll .prev{background-position: -8px -726px;right:35px;}
.OfferScroll .next{background-position: -8px -766px;right: 0;}
.OfferScroll .prev:hover{background-position: -8px -806px;}
.OfferScroll .next:hover{background-position: -8px -846px;}
.OfferScroll .ScrollMain{width: 680px; height: 225px;overflow: hidden;margin-left: 36px;}
.OfferScroll .pic{width: 10000px;}
.OfferScroll .pic li{width: 320px; height: 225px;float: left; margin-right: 20px;}
.OfferScroll .pic li img{width: 320px; height: 225px;}
.full{width: 1200px;}

/*顾问列表*/
.consultantList{width: 915px;}
.consultantList li{background: #fff; width: 250px; height: 201px; padding: 20px; overflow: hidden; float: left; margin: 0 15px 15px 0;}
.consultantList li .img{width: 72px; height: 72px; position: relative; border-radius: 100%; float: left;}
.consultantList li .img img{width: 72px; height: 72px; border-radius: inherit;}
.consultantList li .img .sex.man{background-position:-8px -489px;}
.consultantList li .img .sex.woman{background-position:-8px -447px;}
.consultantList li .img .sex{ background-color:#fff; width: 26px; height: 26px; display: block;position: absolute;bottom: 0;right: 0; border-radius: 100%;}
.consultantList li .contRight{width: 150px; height: 72px; float: right;color: #666666; overflow: hidden;}
.consultantList li .contRight p{width: 100%; height: 26px;;display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.consultantList li .counIns{width: 100%; float: left;border-top: 1px dashed #dadada; line-height: 25px; height: 100px; overflow: hidden;padding-top: 15px;color: #3c3c3c;}
.consultantList li .counTip{width: 100%; float: left; height: 26px; overflow: hidden; display: none;}
.consultantList li .counTip span{ background: #29beb5; float: left;padding: 0 10px;height: 26px; line-height: 26px;border-radius: 3px; color: #fff; margin-right:8px;}
.consultantList li:hover{box-shadow: 0 0 20px rgba(0,0,0,0.1);transition: all 0.3s linear;-webkit-transition: all 0.3s linear;-ms-transition: all 0.3s linear;-moz-transition: all 0.3s linear;-o-transition: all 0.3s linear;}
.consultantList li a:hover .contRight .f22{color: #ff6767;}
/*搜索无产品*/
#NoProduct{background: #f2f2f2;}
.Nosearch{height: 94px; line-height: 94px; padding: 43px 0; text-align:center;font-size:20px;}
.Nosearch .ico{ background: url(http://images.57us.com/img/study/no3.0.png) no-repeat; width: 94px; height: 94px; display: inline-block; margin-right: 15px; vertical-align:middle ;}
.TjListT{height: 50px; line-height: 51px;}
.TjListT .name{font-size: 24px;color: #333333;}
/*确认订单*/
.sureOrder{background: #fff; padding: 20px 32px 0 40px; height: auto; overflow: hidden;position: relative;}
.sureOrderL{width: 700px;}
.sureOrderBox{}
.sureOrderBoxT{height: 47px; line-height: 47px; border-bottom: 3px solid #ff6767;font-size: 22px;}
.sureOrderBoxM{padding: 20px 0 0; height: auto;}
.sureOrderBoxM .DiySelect .opts a{text-align: left;}
.deoferDetailList li{padding: 10px 30px; line-height: 27px; height: 27px; overflow: hidden;}
.deoferDetailList li .tipCLass{ background: #29beb5; padding: 0 14px; height: 26px; line-height: 26px; display: inline-block;margin: 0 5px; border-radius: 3px; color: #fff;}
.feedback{resize:none;background:#fff;width:668px;height:150px;border:1px solid #d1d1d1;border-radius:4px;padding:15px;font-family: "微软雅黑";}
.contactTab td,.contactTab th{font-size: 16px; padding: 15px 0;}
.contactTab th{font-weight: normal;text-align: right;}
.inputBox{display: inline-block;position: relative;}
.InsInput{width: 205px; height: 36px;border: 1px solid #c5c5c5; border-radius: 5px;text-indent: 10px;}
.yzmInput{background:#eaeaea;width:130px;height:36px;border:1px solid #a8a8a8;line-height:36px;border-radius:3px;text-align:center;margin-left:5px;color:#666666;cursor:pointer; vertical-align: middle;}
.yzmInput[disabled]{background:#e3e2e2;cursor:auto;}
.orderFoot{background:#e9e9e9;height:60px;line-height:60px;overflow:hidden;}
.orderFoot .nextPay{background:#ff6767;width:155px;height:60px;text-align:center;color:#fff;font-size:24px;}
.orderFoot .nextPay:hover{background:#f25a5a;}
.allPrice{ font-size:16px; color: #666;margin-right:60px;}
.allPrice b{color: #ff6767;font-weight: normal;}
.allPrice b i{font-size:20px;}

.prevStep{color:#29beb5;margin-left:15px;}
.prevStep:hover{text-decoration:underline;color:#29beb5;}
.protocol{text-align:right;padding:15px 0;}
.protocol  label i{ background: url(http://images.57us.com/img/tour/TourProIcon.png) -10px -1490px no-repeat; width:20px;height:20px;display:inline-block;vertical-align:middle;margin-right:5px;}
.protocol  label.checked i,.choseBox  label.rb_active i{background-position:-10px -1531px;}
.protocol span{color:#29beb5;}
.ordermain{position:relative;}

.OrderRight{width:376px;}
.orderIns{width:100%;}
.orderInsTop{background:url(http://images.57us.com/img/tour/ordertop.png) no-repeat;height:23px;overflow:hidden;}
.orderInsM{background:url(http://images.57us.com/img/tour/ordermiddle.png) left top repeat-y;padding:30px 28px 30px;color:#666666;}
.orderInsB{background:url(http://images.57us.com/img/tour/orderbottom.png) no-repeat;height:15px;overflow:hidden;}
.OrderRightTit{border-top:1px solid #dedede;position:relative;}
.OrderRightTit .name{background:#fff;width:118px;height:24px;font-size:18px;color:#666666;text-align:center;position:absolute;top:-12px;left:50%;margin-left:-59px;display:block;}
.OrderRightP{padding:5px 0;height:auto;overflow:hidden;}
.OrderRightP .RoomFree{width:100%;padding:0;}
.orderInsM .allPrice{text-align:center;color:#666666;border-top: 1px dashed #dedede; padding-top: 20px;font-size: 18px;}
.orderInsM .allPrice b{font-size: 24px;}
.orderInsM .allPrice i{font-size: 32px;}

/*院校库*/
.schoolList{padding:0 30px;height: auto;overflow: hidden;}
.schoolList li{ height: 150px; padding: 30px 0; position: relative;border-bottom: 1px dashed #e3e3e3;}
.schoolList li img{width:76px;height: 76px;float: left;padding: 37px;border: 1px solid #efefef;background: #fff;margin-right: 25px;}
.schoolList li .ListRight{width: 184px; height: 150px;border-left: 1px solid #e3e3e3; text-align:right ; float: right;}
.schoolList li .ListCont{width: 409px; float: left;margin-right: 20px;}
.schoolList li .ListCont .tit{height: 30px; line-height: 30px; overflow: hidden;display:block;white-space:nowrap;  text-overflow:ellipsis; font-size: 20px; color: #3f3e3c;}
.schoolList li .ListCont td{padding: 6px 0;}
.schoolList1 li .ListCont td{padding: 2px 0;}
/*院校库详情页*/
.SchoolDetailBody{height: 267px; position: relative; color: #fff;}
.SchoolDetailBody .schoolLogo{width: 150px; height: 150px;position: absolute;top: 30px; left: 40px;border-radius: 100%;}
.SchoolDetailBody .SchoolCont{background: url(http://images.57us.com/img/study/detailMask3.0.png) no-repeat; width:929px; height: 227px; padding: 40px 40px 0 50px; margin-left: 182px;}
.SchoolDetailBody .SchoolCont .tit{height: 45px; line-height: 45px;font-size: 26px; font-weight: bold;}
.SchoolDetailBody .SchoolCont .tit .en{font-size: 20px; font-family: arial; padding-left: 5px;}
.SchoolDetailBody .SchoolCont .requireCont{border-top: 1px dashed #fff; padding-top: 10px;}
.SchoolDetailBody .SchoolCont .requireCont span{margin-right: 50px; line-height: 40px; float: left;}
.SchoolDetailBody .SchoolCont .requireCont span.i6{margin-left:97px;}
.SchoolDetailBody .collect{width: 118px; height: 39px; border: 1px solid #fff;border-radius: 39px; text-align: center;line-height: 39px;position: absolute;top: 70px; right: 40px; z-index: 10;color: #fff;}
.SchoolDetailBody .collect:hover{background: #e95f5d;}
.SchoolDetailBody .collect i{ background-position: -8px -970px; width: 20px; height: 20px;display: inline-block;vertical-align: middle;margin-right: 4px;}
.SchoolDetailLeft{ background: #fff; width:840px; height: auto; float: left; padding:25px 30px;color: #666;}
.SchoolDetailLeft .contBoxT .name{background: #fff;}
.contBoxM{ padding:20px 30px 30px}
.contBoxM .red{color: #ff6767;}
.contBoxM .start{ background-position: -10px -1012px; width: 20px;height: 20px; display: inline-block;vertical-align: middle;margin: 0 3px;}
.classLis{background: #ededed; padding:25px 42px; height: auto;overflow: hidden;}
.classLis li{width:200px; float: left;position: relative; padding-left:31px;margin: 7px 0;}
.classLis li .start{position: absolute;top: 50%; margin-top: -10px; left: 0;display: none;}
.classLis li.has .start{display: inline-block;}
.nearSchool{padding: 20px 0 20px 80px;}
.nearSchool li{width:150px; height: 185px; float: left; margin-right: 40px;position: relative;}
.nearSchool li img{width: 96px; height: 96px; border-radius: 100%; margin-left: 6px;}
.nearSchool li .tit{height: 30px; line-height: 30px;font-size: 16px; color: #333;display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.nearSchool li .map{width:100%; height: 24px;display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.nearSchool li .mapIco{ background-position: -10px -932px; width:20px; height: 20px; display: inline-block;vertical-align: middle;}
.nearSchool li .shotLine{width:25px;border-bottom: 2px solid #9f9f9f;position: absolute;bottom: 33px; left: 0;display: block;}
/*固定右边菜单栏*/
.slideFixMenu{position: fixed;top:250px; left: 50%; margin-left: -671px;width: 70px;display: none; }
.slideFixMenu li{width: 100%; height: 28px;position: relative;line-height: 28px; text-align: center; color: #999999;float: left;margin: 3px 0;cursor: pointer;border-radius: 3px;font-size: 12px;}
.slideFixMenu li.on,.slideFixMenu li.on:hover{background: #ff6767; color: #fff;}
.slideFixMenu li.on .sj{display: block;}
.slideFixMenu li .sj{width: 0;height: 0;border-top:4px solid transparent;border-left: 4px solid #ff6767;border-bottom: 4px solid transparent;position: absolute;right: -4px; top: 11px;display: none;}
.slideFixMenu li:hover{background: #e5e2e2;}

.fixnav{display: block; }

/*校园展示*/
.schoolScroll{width:536px; height: 357px;position:relative; padding: 0 88px 50px;margin: 0 auto;}
.schoolScroll .prev,.schoolScroll .next{ background: url(http://images.57us.com/img/study/scrollBtn3.0.png) no-repeat; width: 30px; height: 50px; display: block;position: absolute;top: 50%; margin-top: -25px;}
.schoolScroll .prev{background-position: 0 0;left: 0;}
.schoolScroll .next{background-position: -30px 0; right: 0;}
.schoolScroll .prev:hover{background-position: 0 -50px;}
.schoolScroll .next:hover{background-position: -30px -50px;}
.scrollPic,.scrollPic li,.scrollPic img{width:536px; height: 357px;overflow: hidden;}
.schoolScroll .hd{text-align: center;width:100%;position: absolute;bottom: 0;left: 0;}
.schoolScroll .hd span{ background: #d9d9d9; width: 12px; height: 12px; display: inline-block;margin: 0 5px;border-radius: 100%;}
.schoolScroll .hd span.on{background: #ff6767;}
.moreBtn{ background: #ff6767; padding: 0 16px; height: 30px;line-height: 30px;display: inline-block; color: #fff;border-radius: 3px;}
.moreBtn:hover{background: #f15656; color: #fff;}
.moreBtn i{ background-position: -11px -289px; width: 20px; height: 20px;display: inline-block;vertical-align: middle;}
.schoolPro{ background: #fff;}
.schoolPro th{font-weight: normal;font-size: 16px;}
.schoolPro th,.schoolPro td{background: #ededed;padding:10px 20px;}
.schoolPro th{background:#29beb5;color: #fff;}
.schoolPro td span{margin:5px 30px 5px 0; float: left;}
/*搜索页面*/
.searchStyleChose a{border-radius: 3px;font-size: 16px; padding: 0 15px; height: 29px; line-height: 29px; float: left; margin: 0 5px; color: #666666;}
.searchStyleChose a.on{background: #29beb5; color: #fff; }
/*研究生申请*/
.itemTabT{ background: #29beb5; height: 45px; line-height: 45px; color: #fff; padding: 0 20px;font-size: 16px;}
.itemTab{background: #d7d7d7;}
.itemTab th,.itemTab td{ padding:15px;background: #fff; text-align: center;}
.itemTab th{color:#29beb5; font-weight: normal;}
.ItemBody{ height: 150px; overflow: hidden;}
.ItemBody img{width: 150px; height: 150px;border-radius: 100%; float: left; margin-right: 30px;}
.ItemBody .tit{ font-size: 26px; line-height: 34px; max-height:68px; overflow: hidden; margin-top:0 !important; }
.cankao{line-height: 30px; padding: 20px;}
.cankao a{color: #666666;}
.cankao a:hover{color: #ff6767;}
/*GPA计算器*/
.gpaBox{background: #fff; padding: 20px; min-height: 600px; height: auto; overflow: hidden;}
.gpaBoxR{ background: url(http://images.57us.com/img/study/GPAbg.png) no-repeat; width: 304px; height: 275px;margin: 100px 30px 0 0;}
.gpaBoxL{width: 540px; margin: 70px 0 0 80px;font-size: 22px;}
.gpaBoxL th{ text-align: center;font-weight: normal;}
.gpaBoxL th,.gpaBoxL td{padding: 8px 0;line-height: 56px;}
.gpaBoxL .input,.gpaBoxL .botton{width:184px; height: 56px; line-height: 56px; padding: 0 10px; border: 1px solid #cdcdcd;border-radius: 3px;display: block;}
.gpaBoxL .botton{border-color: #29beb5; background: #29beb5; padding: 0; width: 204px;font-size: 22px; color: #fff; cursor: pointer;}
.gpaBoxL .result{background: #ff6767;border-color: #ff6767;}


/*留学首页*/
.index{background: #fff;}
.IndexBan{height: 650px;position: relative;}
.IndexProgram{padding: 12px;position: absolute;bottom: 25px; left: 50%; margin-left: -387px;width: 750px; height: 46px;  z-index: 2;}
.IndexProgramMask{width:774px; height: 70px;position: absolute;bottom: 25px; left: 50%; margin-left: -387px;border-radius: 10px;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');background:rgba(0,0,0,0.5);z-index: 1;display: block;}
.IndexBanScr{ width:1920px; height:650px; position:relative; left:50%; margin-left:-960px; overflow:hidden; position:relative;z-index: 1;}
.IndexBanScr .pic{ position:relative; z-index:0; }
.IndexBanScr .pic img { width:1920px; height:650px; display: block; }
.IndexBanScr .hd { width:100%; position: absolute; bottom: 10px; text-align: center; font-size:0; z-index:1; }
.IndexBanScr .hd li{ background:#d5d5d4; border-radius:100%; width:11px;height:11px;overflow: hidden;display:inline-block; *display:inline; zoom:1; cursor: pointer;margin: 0 5px; box-shadow:0 0 3px rgba(255,255,255,0.5)}
.IndexBanScr .hd .on{background:#00a5e3; }

.IndexBanScr .prev,.IndexBanScr .next{ background: url(http://images.57us.com/img/www/indexicon.png) no-repeat; width: 31px; height: 55px; display: block; overflow: hidden;text-indent: -999px; position: absolute; top: 50%; left: 50%; z-index: 3; cursor: pointer;filter:alpha(opacity=30);opacity: 0.7; display: none;}
.IndexBanScr .prev{ background-position: -225px -4px; margin: -28px 0 0 -600px;}
.IndexBanScr .next{ background-position: -269px -4px;margin: -28px 0 0 560px;}
.IndexBanScr .prev:hover,.IndexBanScr .next:hover{filter:alpha(opacity=100) !important;opacity: 1 !important; }

.IndexProgram .DiySelect{background: #fff;width:199px;float: left;margin-right: 10px;}
.IndexProgram .btn{ background: #ff4f4f; width: 166px; height: 47px; text-align: center;line-height: 47px; float: left; color: #fff;cursor: pointer;font-size: 16px;border: 0;border-radius: 5px;overflow: hidden;}
.IndexProgram .btn:hover{ background: #ee3f3f;}


/*模块*/
.IndexBox{position: relative;}
.IndexBoxT{height: 22px; padding:17px 0;}
.IndexBoxT .name{float: left;border-left: 5px solid #ff6767;line-height: 22px; color: #333333; font-size: 26px;padding-left:10px;}
.IndexBoxT .name .en{font-size: 18px; font-family: arial;padding-left: 10px;}
/*首页成功案例*/
.IndexCaseScrol{ height: 265px;position: relative;}
.IndexCaseScrol .prev,.IndexCaseScrol .next{width: 25px; height: 25px; display: block; overflow: hidden; position: absolute; top:-41px; z-index: 5;}
.IndexCaseScrol .prev{ background-position: -8px -726px; right:34px;}
.IndexCaseScrol .prev:hover{ background-position: -8px -806px;}
.IndexCaseScrol .next{ background-position: -8px -766px; right: 0;}
.IndexCaseScrol .next:hover{background-position: -8px -846px;}
.IndexCaseScrol .scrolMain{ padding: 10px 0; height: 245px; overflow: hidden;}
.IndexCaseScrol .scrolMain li{width: 283px; height: 243px; border: 1px solid #dadada; background: #fff; float: left; margin-right: 16px;}
.IndexCaseBody{height: 72px; overflow: hidden;border-bottom: 1px solid #dadada;padding: 13px;}
.IndexCaseBody img{width: 72px; height:72px; float: left; margin-right:25px;border-radius: 100%;}
.IndexCaseBody .name{ color: #333333; font-size: 24px;}
.IndexCaseBody p{height: 36px; overflow: hidden; line-height: 36px;;}
.IndexCaseScrol .CaseListIns{ padding:15px 13px; height:110px; overflow: hidden;}
.IndexCaseScrol .CaseListIns .InsLis{ max-height: 44px; overflow: hidden; line-height:22px; margin-top: 10px;}
.IndexCaseScrol ul{width: 9999px;}
.IndexCaseScrol li a{color: #666;}
.IndexCaseScrol .scrolMain li:hover{box-shadow: 0 0 15px rgba(0,0,0,0.2);}
.IndexCaseScrol li a:hover .IndexCaseBody .name{color: #ff4f4f;}
/*首页广告*/
.IndexAd{ width:1210px ; height: 90px;}
.IndexAd img{float: left; margin-right: 10px;}
/*资讯信息*/
.indexNews{background: #f3f3f3; padding: 40px 0;}
.indexNewsLeft{width: 526px; }
.indexNewsRight{width:580px;}
.indexNewsLeft .IndexBoxT{border-bottom: 3px solid #d8d8d8;}
.indexNewsList{}
.indexNewsList li{padding: 13px 0; height: auto;overflow: hidden;border-bottom: 1px dashed #e1e1e1;}
.indexNewsList li .time{color: #666666;}
.indexNewsList li .firstTit,.indexNewsList li .tit{height: 35px;line-height: 35px; overflow: hidden;font-size: 18px; color: #333;display:block;white-space:nowrap; text-overflow:ellipsis;}
.secondCont{display: none;}
.secondCont img{width: 110px; height: 82px; float: left;margin-right: 10px;}
.secondCont .nr{height:50px; line-height:25px;overflow: hidden;color: #666666;}
.indexNewsList li.on .firstTit{display: none;}
.indexNewsList li.on .secondCont{display: block;}
.indexMore{float: right;margin:3px 0 0 0;}
/*精选服务*/

.SelectSerList{width: 1215px;height: 539px; overflow: hidden; margin:10px 0 50px 0;}
.SelectSerList li{width: 390px; height:217px; position: relative; float: left; margin: 0 15px 15px 0;overflow: hidden;}
.SelectSerList li .tit{filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');background:rgba(0,0,0,0.5);height: 40px;line-height: 40px; padding: 0 15px; z-index: 2; position: relative;color: #fff;margin-top:40px;}
.SelectSerList li:hover .tit{margin-top: -40px;}
.SelectSerList li.i2{width:795px; height: 292px; }
.SelectSerList li.i3{width:390px; height: 292px; }
.SelectSerList li.i4{ margin: -232px 15px 15px 0;}
.SelectSerList li.i5{ margin: -232px 0 15px 405px;}
.indexNews .SelectSerList{margin-bottom: 20px;}
/*热门学校*/
.HotSchool{width: 600px;}
.HotSchool li{width: 180px; height: 231px; overflow: hidden; float: left; margin:30px 20px 0 0;position: relative;}
.HotSchool li .img{ background: #ebebeb; height: 96px; padding: 18px 0; overflow: hidden; text-align: center;}
.HotSchool li .img img{width: 96px; height: 96px; border-radius: 100%;}
.HotSchool li .tit{height: 30px; line-height: 30px;font-size: 16px; }
.HotSchool li .mapIco{ background-position: -10px -932px; width:20px; height: 20px; display: inline-block;vertical-align: middle;}
.HotSchool li .shotLine{width:25px;border-bottom: 2px solid #9f9f9f;position: absolute;bottom:50px; left: 0;display: block;}
.HotSchool li .map{color: #3c3c3c; height: 24px; overflow: hidden; word-break: break-all;}
/*57US留学平台流程*/
.processT,.Whyt{ background: url(http://images.57us.com/img/study/processT3.0.png) no-repeat; width: 245px; height: 60px; overflow: hidden;text-indent: -9999px; margin: 0 auto;}
/*留学，为什么选择57美国网*/
.Whyt{background: url(http://images.57us.com/img/study/whyT3.0.png) no-repeat; width: 623px; height: 141px;}
.whyList{}
.whyList li{width: 130px; height: 190px; float: left;margin: 0 32px 0 75px; overflow: hidden;}
.whyList li .ico{ background: url(http://images.57us.com/img/study/why3.0.png) no-repeat; width: 75px; height: 60px; display: inline-block; overflow: hidden;}
.whyList li.i1 .ico{background-position: 0 0;}
.whyList li.i2 .ico{background-position: 0 -60px;}
.whyList li.i3 .ico{background-position: 0 -120px;}
.whyList li.i4 .ico{background-position: 0 -180px;}
.whyList li.i5 .ico{background-position: 0 -240px;}
.whyLine{width: 24px; height: 2px;background: #9f9f9f;display: inline-block;}
/*底部友情链接*/
.link{ padding: 25px 0; height: auto;overflow: hidden;border-top: 1px solid #444444; color: #dcdcdc;}
.link a{color: #999999; margin-right: 15px;}
/*foot*/
.fHotSchool{width:390px;float: left; margin-right: 60px;}
.fHotSchool .tit{height: 40px; line-height: 40px;font-size: 18px; color: #dcdcdc;position: relative;}
.fHotSchool .tit .tLine{ background: #ff6767; width: 24px; height: 2px; display: block;position: absolute;bottom: -3px;left: 0;}
.fHotSchoolList li{ width: 130px;float: left;overflow: hidden;}
.fHotSchoolList li a{width: 100%; height: 24px; overflow: hidden; color: #999999;display: block; padding: 0;}
.Cooperation{margin-right: 0;width: 314px;}
.Training{width: 321px;}
.Training li{width: 107px;}
.CooperationM img{ float: left; margin:0 10px 10px 0;}

.getProgram{ background:url(http://images.57us.com/img/study/popbg3.0.jpg) center 12px no-repeat #fff; width: 397px; height:87px;border-radius: 6px; position: fixed;top:50%; left: 50%; z-index:1002; margin:-147px  0 0 -248px; padding: 208px 50px 0; display: none;}
.getProgram .close{ background: url(http://images.57us.com/img/study/center3.0.png) -3px -763px  no-repeat; width: 34px; height: 34px; display: block; overflow: hidden;text-indent: -999px; position: absolute;top: 5px; right: 5px; cursor: pointer;}
.getProgram .close:hover{background-color: #fefdfd;}
.getProgram .input{width:253px; height:43px; line-height: 43px;border: 1px solid #bababa;border-radius: 3px; font-size: 16px; padding: 0 10px; float: left;}
.getProgram .btn{}
.getProgram .btn a{width: 102px; height:45px; display: inline-block; text-align: center;color: #fff; line-height: 45px;font-size: 18px;border-radius: 3px; float: right;}
.getProgram .btn a.no{background: #29beb5;}
.getProgram .btn a.sure{background: #ff6767;}
.getProgram .btn a.sure:hover{background: #f85e5e;}
.mask{filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');background:rgba(0,0,0,0.5);width: 100%;height: 100%;position: fixed;top: 0;left: 0; z-index:1001; display: none;}


.OrderRight.autofix_sb.fixed{width: 396px;margin-left: 195px !important;}
.OrderRight.autofix_sb.fixed.bottom{bottom: 30px;}
.GoLogin{color: #29beb5;}
.GoLogin:hover{color: #29beb5;text-decoration: underline;}

/*按钮点击提交，样式*/
.course {background-color: #d7d7d7 !important;color: #ffffff !important;cursor: default !important;}

/*2016-11-02*/
.classLisTest{background: #fff;}
.classLisTest td{background: #ededed;padding: 15px 15px 15px 41px;position: relative;}
.classLisTest td .start{position: absolute;top: 50%; margin-top: -10px; left: 7px;display: none;}
.classLisTest td.has .start{display: inline-block;}

/*2016-11-15*/
.processList{height: 395px; background: url(http://images.57us.com/img/study/processBg3.0.png) no-repeat;overflow: hidden;padding-left: 33px;}
.processList li{float: left;padding:25px 30px 0; width: 170px; height: 165px; overflow: hidden;}
.processList li .tit{height: 35px; line-height: 35px;color: #333;font-size: 18px;}
.processList li.i6{margin-left: 127px;}
.processList li .nr{ height:120px; color: #666666;overflow: hidden;}
/*2016-12-20CXB*/
.toolStudy{width: 100%; background: #fff;padding:5px 0 18px; margin-bottom: 20px;}
.toolStudy .title{height: 45px;line-height: 45px;border-bottom: 1px solid #d8d8d8; text-align: center; color: #666666;font-size: 20px;}
.toolStudyM{padding: 0 20px;}
.toolStudyM .DiySelect{margin-top: 20px; width:238px;height: 37px;}
.toolStudyM .btn{ background:#ff6767; width: 100%; height:39px; text-align: center;line-height: 39px; float: left; color: #fff;cursor: pointer;font-size: 16px;border: 0;border-radius: 5px;overflow: hidden;}
.toolStudy .getProgram .btn{background: none;height: auto; width: auto;float: right;}


/*游学*/
.studytBan{height: 320px;position: relative;overflow: hidden;}
.studytBan .pic{ position:relative; z-index:0; }
.studytBan .pic img { width:1200px; height:320px; display: block; }
.studytBan .hd { width:100%; position: absolute; bottom: 10px; text-align: center; font-size:0; z-index:1; }
.studytBan .hd ul{display: inline-block;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');background:rgba(0,0,0,0.5); border-radius: 20px; padding: 5px 10px; height: 9px; overflow: hidden;}
.studytBan .hd li{ background:#fff; border-radius:100%; width:9px;height:9px;overflow: hidden;display:inline-block; *display:inline; zoom:1; cursor: pointer;margin: 0 5px; vertical-align: top;}
.studytBan .hd .on{background:#00a5e3; }

.studytourList{width:918px;}
.studytourList li{width: 286px;height: 326px;position: relative;float: left;margin: 0 20px 20px 0;}
.studytourList li img{width: 286px; height: 181px;}
.studytourList li .listM{padding: 15px 15px 0; height: auto; overflow: hidden;color: #666666;}
.studytourList li .listM .tit{font-size: 20px; line-height: 30px; height: 60px; overflow: hidden;}
.studytourList li .listM .time{height: 25px; overflow: hidden;}
.studytourList li .listM .price{height: 30px; line-height: 30px;}
.studytourList li .listM .oldPrice{text-decoration: line-through;}
.studytourList li .listM .nowPrice{}
.studytourList li .listM .nowPrice i{font-size: 22px;}
.studytourList li .listMask{filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');background:rgba(0,0,0,0.5);  width: 100%;height: 100%;position: absolute;top: 0;left: 0;z-index: 1;display: none;}
.studytourList li .listMask a{width: 110px;height: 42px;border: 1px solid #fff; border-radius: 3px; text-align: center; line-height: 42px; font-size: 16px;position: absolute;top: 50%;left: 50%; margin: -22px 0 0 -56px;display: block;color: #fff;}
.studytourList li .listMask a:hover{background: #ff6767;border-color: #ff6767;}
.HotTj1{background:url(http://images.57us.com/img/study/studytourTj.png) no-repeat;width:92px;height:92px;position:absolute;top:-4px;left:-4px;z-index:5;display:block;overflow: hidden;text-indent: -9999px;}
.studytourList li:hover .listMask{display: block;}

/*游学详情页*/

/*相关推进啊*/
.relateTj{background: #fbfbfb; padding: 0 0 30px; height: 222px; overflow: hidden;}
.relateTj .tit{height: 56px;line-height: 56px; padding: 0 40px; }
.relateTj .tit .name{font-size: 24px; color: #666;}
.ScrollPic{height:166px;position:relative;width:100%; }
.ScrollMain{width:1100px;height:166px;overflow:hidden; float: left;}
.ScrollMain ul{width: 9999px;}
.ScrollMain li{width:265px;height:166px;overflow:hidden;float:left;margin-right:20px;background: #000;}
.ScrollMain li img{width:265px;height:166px;}
.ScrollMain li .tit{filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');background:rgba(0,0,0,0.5);padding:0 15px;height:37px;line-height:37px;overflow:hidden;margin-top:-37px;position:relative;color:#fff;font-size: 16px;}
.ScrollMain li a{width:100%;height:100%;display:block;}
.ScrollPic .prev,.ScrollPic .next{ background:url(http://images.57us.com/img/study/studytour3.0.png) ; width:18px;height:33px;text-indent:-999px;display:block;overflow:hidden; float: left; margin: 67px  15px 0; cursor: pointer;}
.ScrollPic .prev{background-position:0 0;}
.ScrollPic .next{background-position:-18px 0;}
.ScrollPic .prev:hover{background-position:0 -33px;}
.ScrollPic .next:hover{background-position:-18px -33px;}

/*游学天数*/
.DetailCont{background:#fbfbfb;}
.contMenu{height:61px; }
/*.contMenu ul{background:#fbfbfb;height:60px;line-height:60px;border-bottom:1px solid #ededed;}
.contMenu li{height:60px;font-size:18px; float:left;color:#878787;cursor:pointer;padding:0 25px;border-right:1px solid #ededed;}
.contMenu li.on{height:58px;border-bottom:3px solid #ff6767;color:#ff6767;}*/
.fix_xc{width:1198px; position:fixed;top:0;left:50%;margin-left:-600px;z-index:1000;margin-top:0 !important}

.stDetailContM{position:relative;}
.contBox{padding:20px 40px;position:relative;min-height:100px;color:#666666;}
.contBox .tit{font-size: 24px; height: 40px; line-height: 40px;}
.contBoxM{padding:10px 30px 0; height: auto; overflow: hidden; line-height: 35px;}
.DayBox{padding:15px 0 30px;}
.DayBox .DayBoxTit{ height: 63px; line-height: 63px; background:#eaeaea;font-size: 18px; padding: 0 20px;}
.DayBox .dayIn{padding-right: 20px;}
.DayBox.last{padding-bottom: 0;}
.DayBoxNr{position:relative;}
.DayBoxNr .line{border-right:1px dashed #c3c3c3;position:absolute;top:10px;left:19px;height:100%;background:none;}
.DayBoxNr .zz{background:#fff;width:40px;height:20%;overflow:hidden;display:inline-block;position:absolute;bottom:-10px;left:0;z-index:5;}
.DayBoxNr li{padding:15px 0 15px 66px;position:relative;z-index:10;}
.suNr{ line-height: 27px;}
.DayBoxNr li i{ background:url(http://images.57us.com/img/tour/TourProIcon.png) no-repeat; background-color:#fbfbfb;width:40px;height:40px;display:block;position:absolute;top:10px;left:0;}
.DayBoxNr li i.ico1{background-position:0 -880px;}
.DayBoxNr li i.ico2{background-position:0 -920px;}
.DayBoxNr li i.ico3{background-position:0 -960px;}
.DayBoxNr li i.ico4{background-position:0 -1000px;}
.DayBoxNr li i.ico5{background-position:0 -1600px;}
.ins_img{height:auto;overflow:hidden;}
.ins_img p{width:49%;height:310px;overflow:hidden;float:left;margin:8px 8px 0 0;padding-left:0px;}
.ins_img p img{width:100%;}
.DayBoxNr .ins_img{margin-left:68px}
.FreeCont{height:auto;overflow:hidden; padding:10px 30px;}
.FreeCont .sunavTit{ background:url(http://images.57us.com/img/study/studytourTip3.0.png) no-repeat;width: 88px; height:27px;line-height:27px;font-size:16px;color: #ffffff;text-align: center;}
.FreeContNr{ line-height: 35px;}

.DateMenu{width:90px; position:absolute;top:170px;left:-90px;}
.DateMenu ul{width:90px; height:auto;}
.DateMenu li{text-align:center;height:36px;line-height:36px;margin-top:-1px;cursor:pointer;color:#666666;position:relative;background:url(http://images.57us.com/img/study/studytourLi.png) right center no-repeat; padding-left: 12px; text-align: center; text-indent: 8px;position: relative;}
.DateMenu li.on{background:url(http://images.57us.com/img/study/studytourH.png) right center no-repeat;color:#fff; z-index: 1;}
.FixDateMenu{position:fixed;top:110px;left:50%;margin-left:-690px;z-index:980}

#oncebtn,.nowBuy{ background: #ff6767; color: #fff; font-size: 22px; width: 143px; height: 61px; line-height: 61px; float: right;display: block;text-align: center;}
#oncebtn:hover{background: #f45b5b;}

.stutoDeBox{width:1160px ; padding: 20px; height: 377px; background: #fbfbfb;}
.stutoDeBox .title{ max-height:60px; line-height: 30px; overflow: hidden; font-size: 26px;font-weight: normal;}
.stutoDeBox .insGg{height:30px;}
.stutoDeBox .insGg span{ max-width: 480px; background: #ffa767; float: left; height: 30px;line-height:30px; color: #fff; padding: 0 12px;}
.stutoDeBox .insGg em{width: 0;height: 0;border-left: 0 solid transparent;border-right:17px solid transparent; border-top: 30px solid #ffa767;display: inline-block; vertical-align: middle;}
.stutoDePic{width: 600px; height: 377px;position: relative; overflow: hidden; margin-right: 35px;}
.stutoDePic .prev,.stutoDePic .next{ position: absolute; top: 50%; margin-top: -43px; width:45px;height:86px;text-indent:-999px;display:block;overflow:hidden;cursor: pointer;z-index: 10;display: none;}
.stutoDePic .prev{background:url(http://images.57us.com/img/study/studytourPrev.png) no-repeat;left: 0;}
.stutoDePic .next{background:url(http://images.57us.com/img/study/studytourNext.png) no-repeat; right: 0;}

.stutoDePic .pic{ position:relative; z-index:0; }
.stutoDePic .pic img { width:600px; height:377px; display: block; }
.stutoDePic .hd { width:100%; position: absolute; bottom: 10px; text-align: center; font-size:0; z-index:1; }
.stutoDePic .hd ul{display: inline-block;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');background:rgba(0,0,0,0.5); border-radius: 20px; padding: 5px 10px; height: 9px; overflow: hidden;}
.stutoDePic .hd li{ background:#fff; border-radius:100%; width:9px;height:9px;overflow: hidden;display:inline-block; *display:inline; zoom:1; cursor: pointer;margin: 0 5px; vertical-align: top;}
.stutoDePic .hd li.on{background:#ff6767; }
.detailTab td{padding: 6px 0;}
.detailTab i{background:url(http://images.57us.com/img/study/studytourIcon3.0.png) no-repeat; width: 20px;height: 20px; display:inline-block; vertical-align: middle;margin-right: 3px;}
.detailTab i.i1{background-position: 0 0;}
.detailTab i.i2{background-position: 0 -20px;}
.detailTab i.i3{background-position: 0 -40px;}
.detailTab i.i4{background-position: 0 -60px;}
.detailTab .num_box{display: inline-block; vertical-align: middle;}
.detailTab .price{padding-top: 15px;}
.detailTab .oldPrice{text-decoration: line-through; margin-left: 10px;}
.detailTab .nowPrice em{font-size: 28px;}
.nowBuy{border-radius: 3px;width:158px; height: 56px; line-height: 56px;}
.nowBuy:hover{color: #fff;background: #f25757;}
.detailTab .DiySelect{background: #ffffff;margin-right: 8px; height: 33px;width: 200px;}
.detailTab .DiySelect .opts{border-color: #ff6767;}
.detailTab .DiySelect .opts a.selected,.detailTab .DiySelect .opts a.selected:hover{background: #ff6767;}

/*旅客信息*/
.sexChose{}
.sexChose label{height: 38px;line-height: 38px;float: left;margin: 0 20px 0 5px;}
.sexChose label.cbt i{ background:url(http://images.57us.com/img/tour/TourProIcon.png) -10px -1649px no-repeat;  width: 21px;height: 21px;margin-right: 5px; vertical-align: middle;}
.sexChose label.rb_active i{background-position: -10px -1690px;}
.lvkeTab{/*border-bottom: 1px dashed #d4d4d4;*/margin:20px 0 30px; padding-top: 20px;}
.lvkLine{border-bottom: 1px dashed #d4d4d4;margin-bottom: 15px;}
.lvkeTab th,.lvkeTab td{padding:7px 0;}
.lvkeTab th{font-weight: normal; line-height: 38px;text-align: right;padding-right: 15px;width:80px;}
.otherT .otherLi{display: none;}
.lvkeTab .InsInput{width: 312px;}
/*20170117搜索全站*/
.searchd{height: 34px;border-bottom: 2px solid #ff6767;overflow: hidden;}
.searchd a{float: left;height: 34px; line-height: 34px; float: left;padding: 0 17px;font-size: 16px;}
.searchd a.on{background: #ff6767;color: #fff;border-radius:4px 4px 0 0;}
.seachHasBox{background: #fbfbfb;margin-top: 20px;}
.seachHasBox .sutit{height: 26px;overflow: hidden;padding: 15px 10px 10px 0;border-bottom: 1px solid #dfdfdf;}
.seachHasBox .sutit .name{font-size: 24px;border-left: 5px solid #29beb5;padding-left: 8px;}
.seachHasBox .sutit a.more{color: #666666;}
.seachHasBox .studytourList li{margin: 0 20px 0 0;}
.seachHasBox .consultantList li{ margin:20px 15px 0 0;}
.seachHasBox li:nth-last-child(1){border-bottom: 0;}
.seachNoBox{ background: #fbfbfb; height: 329px;overflow: hidden;text-align: center;}
.seachNoBox .Nosearch{line-height: 35px;padding:105px 0 0;}
.seachNoBox .Nosearch .notext{display: inline-block; vertical-align: middle;}
.seachNoBox .Nosearch a{color: #29beb5;text-decoration: underline;margin: 0 2px;}
