{template NewsHeader}
<body>
<div class="page-group">
  <div class="page page-current">
    <!-- 标题栏 -->
    <header class="bar bar-nav contBar"> <a class="pull-left back" href="javascript:history.go(-1)"><i class="icon iconfont">&#xe604;</i></a>
      <h1 class="title">搜索"{$TheKeyword}"的结果</h1>
    </header>
    <div class="content ListCont">
    	<div class="buttons-tab seachHeader">
    		<a href="/news/search_tour_{$Keyword}.html" class="button active">旅游</a>
    		<a href="/news/search_study_{$Keyword}.html" class="button">留学</a>
    		<a href="/news/search_immigrant_{$Keyword}.html" class="button">移民</a>
    		<a href="/news/search_travels_{$Keyword}.html"  class="button">游记</a>
    	</div>
      <div class="tabs">
        <div class="tab active" id="tab1"> {if count($Data[Data])==0}
          <div class="searchNo"> sorry，没有找到“ <span class="red">{$TheKeyword}</span>”相关的内容！ </div>
          {else}
          <ul class="newsList">
            {loop $Data[Data] $key $lists}
            {if $lists[Image]!=''}
            <li class="onePic gun{if $key>$this->OnePageSize} hidden{/if}"><a href="{echo WEB_M_URL}/news/tour/{$lists[TourID]}.html">
              <p class="tit">{$lists[Title]}</p>
              <div class="cf">
                <p class="picImg"><img src="{echo ImageURLP4}{$lists[Image]}"  alt="{$lists[Title]}" title="{$lists[Title]}"></p>
                <p class="nr">{$lists[Description]}</p>
                <p class="diyCardFun"><span>{echo date("Y.m.d",strtotime($lists[AddTime]))}</span><span><i class="icon iconfont">&#xe620;</i>{$lists[ViewCount]}</span></p>
              </div>
              </a></li>
            {else} <a href="{echo WEB_M_URL}/news/tour/{$lists[TourID]}.html"> <li class="gun{if $key>$this->OnePageSize} hidden{/if}">
            <p class="tit">{$lists[Title]}</p>
            <p class="nr">{$lists[Description]}</p>
            <p class="diyCardFun"><span>{echo date("Y.m.d",strtotime($lists[AddTime]))}</span><span><i class="icon iconfont">&#xe620;</i>{$lists[ViewCount]}</span></p>
            </li>
            </a> {/if}
            {/loop}
          </ul>
          <!-- 加载提示符 -->
          {if count($Data[Data])>8}
          <div class="infinite-scroll-preloader">
            <div class="preloader"></div>
          </div>
          {/if}
          <div class="pageBox" style="display: none;" id="nextpage">
            {if $page>1}<a href="/news/search_tour_{$Keyword}_{echo $page-1}.html" class="prevbtn">上一页</a>{/if}
            {if $page<$Data[PageCount]}<a href="/news/search_tour_{$Keyword}_{$Data[NextPage]}.html" class="nextbtn">下一页</a>{/if}
          </div>
          {/if} </div>
      </div>
    </div>
     </div>
</div>
<script type='text/javascript' src="{echo JsURL}/m/news/NewTourListlib.js" charset='utf-8'></script>
</body>
</html>