{template NewsHeader}
<body>
<div class="page-group">
  <div class="page page-current" id="search">
    <div class="content pd25 ListCont">
      <!-- 标题栏 -->
      <header class="bar bar-nav indexHeader"> <a class="pull-right searchBtn" href="{echo WEB_M_URL}/search.html"><i class="icon iconfont">&#xe6b5;</i></a>
        <h1 class="logo"><img src="http://images.57us.com//img/m/www/logo.png" /></h1>
      </header>
      <div class="swiper-container ban">
        <div class="swiper-wrapper"> {loop $WapIndexBaner $lists}
          <div class="swiper-slide"><a href="{$lists[Link]}" target="_blank"><img src="{echo ImageURLP6}{$lists[Picture]}" width="100%" /></a></div>
          {/loop} </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Pagination -->
      </div>
      <div class="content-padded grid-demo IndexClass">
        <div class="row">
          <div class="col-33"> <a href="{echo WEB_M_URL}/news/tour/"><img src="http://images.57us.com/img/m/www/fmenu1.png"/></a> </div>
          <div class="col-33"> <a href="{echo WEB_M_URL}/news/study/"><img src="http://images.57us.com/img/m/www/fmenu2.png"/></a> </div>
          <div class="col-33"> <a href="{echo WEB_M_URL}/news/immigrant/"><img src="http://images.57us.com/img/m/www/fmenu3.png"/></a> </div>
        </div>
      </div>
      <div class="diyCard">
        <div class="diyCardHead"><span class="name">精彩活动</span></div>
        {loop $WapIndexJingCai $lists}
        <div class="diyCardCont"> <a href="{$lists[Link]}" target="_blank"><img src="{echo ImageURLP6}{$lists[Picture]}"/>
          <p class="tit">{$lists[Title]}</p>
          </a>
          <!--<p class="diyCardFun"><span>2016.10.18</span><span><i class="icon iconfont">&#xe18;</i>170</span></p>-->
        </div>
        {/loop} </div>
        {if 0}
      <div class="nstudyAd cf mt10">
        	<ul>
        		<li style="width: 53%;"><a href="{echo WEB_M_URL}/group/local/"><img src="http://images.57us.com/img/m/www/adpic/nsad1.jpg"/></a></li>
        		<li style="width: 47%;"><a href="{echo WEB_M_URL}/study/consultantlist/"><img src="http://images.57us.com/img/m/www/adpic/nsad2.jpg"/></a></li>
        		<li style="width: 47%;"><a href="{echo WEB_M_URL}/play/feature/"><img src="http://images.57us.com/img/m/www/adpic/nsad3.jpg"/></a></li>
        	</ul>
        </div>
        {/if}
      <div class="diyCard tjCard">
        <div class="diyCardHead"><span class="name">推荐</span></div>
        <ul class="newsList">
        {loop $ArrayAll $key $lists}
        {if $lists[Image]!=''}
        <li class="onePic gun{if $key>5} hidden{/if}"><a href="{echo WEB_M_URL}/news/tour/{$lists[TourID]}.html">
            <p class="tit">{$lists[Title]}</p>
          	<div class="cf">
          		<p class="picImg"><img src="{echo ImageURLP4}{$lists[Image]}"  alt="{$lists[Title]}" title="{$lists[Title]}"></p>
          		<p class="nr">{$lists[Description]}</p>
            	<p class="diyCardFun"><span>{echo date("Y.m.d",strtotime($lists[AddTime]))}</span><span><i class="icon iconfont">&#xe620;</i>{$lists[ViewCount]}</span></p>
          	</div></a>
        </li>
        {else}
        <li class="gun{if $key>5} hidden{/if}"><a href="{echo WEB_M_URL}/news/tour/{$lists[TourID]}.html">
           <p class="tit">{$lists[Title]}</p>
           <p class="nr">{$lists[Description]}</p>
           <p class="diyCardFun"><span>{echo date("Y.m.d",strtotime($lists[AddTime]))}</span><span><i class="icon iconfont">&#xe620;</i>{$lists[ViewCount]}</span></p></a>
          </li>
        {/if}
        {/loop}
        </ul>
        </div>
    </div>
    {template NewsFoot}
  </div>
</div>
<script type='text/javascript' src="{echo JsURL}/m/news/NewTourListlib.js" charset='utf-8'></script>
</body>
</html>