<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>去支付成功</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="http://css.57us.net/m/msui/0.6.2/sm.min.css">
    <link rel="stylesheet" href="http://css.57us.net/m/msui/0.6.2/sm-extend.min.css">
    <link rel="stylesheet" href="http://css.57us.net/m/lib/reset.css">
    <link rel="stylesheet" href="http://css.57us.net/m/study/style.css">
    <!--<link rel="stylesheet" href="http://www.57us.net/Plugins/fonts/mobile/iconfont.css">-->
    <!--
        作者：xiao15980751809@126.com
        时间：2017-02-20
        描述：临时
    -->
    <link rel="stylesheet" href="//at.alicdn.com/t/font_p6hnc196efr8jjor.css" />
</head>
<body>
<div class="page-group">
    <div class="page page-current" style="background: #fff;" id="">
        <header class="bar bar-nav diybar">
            <a class="pull-left back"><i class="icon iconfont icon-Left"></i></a>
            <h1 class="title">支付成功</h1>
        </header>
        <div class="content">
            <div class="paycont">
                <div class="paySty mt30">
                    <span class="ico"><i class="icon iconfont icon-ok"></i></span>订单支付成功！
                </div>
                <div class="payIns">
                    <p>订单号：1243456788990</p>
                    <p>如有疑问请拨打<span class="red">400-018-5757</span></p>
                </div>
                <div class="cf payBot">
                    <a href="">查看订单</a>
                    <a href="">继续逛逛</a>
                </div>
            </div>

        </div>

    </div>
</div>
<script type='text/javascript' src="http://js.57us.net/m/lib/zepto/1.2/zepto.js" charset='utf-8'></script>
<script type='text/javascript' src="http://js.57us.net/m/lib/msui/0.6.2/sm.min.js" charset='utf-8'></script>
<script type='text/javascript' src="http://js.57us.net/m/lib/msui/0.6.2/sm-extend.min.js" charset='utf-8'></script>
<script type='text/javascript' src="http://js.57us.net/m/lib/msui/0.6.2/sm-city-picker.min.js" charset='utf-8'></script>
<script type='text/javascript' src="http://js.57us.net/m/study/app.js" charset='utf-8'></script>
<script type="text/javascript">

</script>
</body>

</html>