{template StudyHeader}
<div class="page-group">
	<div class="page page-current" style="background: #fff;" id="conmath2">
		<header class="bar bar-nav diybar">
			<a class="back pull-left"><i class="icon iconfont">&#xe604;</i></a>
			<h1 class="title">顾问匹配</h1>
		</header>
		<div class="content pull-to-refresh-content infinite-scroll ConsultantList">
			<div class="cf">
				<ul class="matchProcess">
					<li class="on">
						<p class="text">提交个人信息</p>
						<span class="num">1</span>
						<span class="line"></span>
					</li>
					<li class="on">
						<p class="text">为您匹配顾问</p>
						<span class="num">2</span>
						<span class="line"></span>
					</li>
					<li>
						<p class="text">您挑选顾问</p>
						<span class="num">3</span>
						<span class="line"></span>
					</li>
				</ul>
				<p class="mt10 matchText">为您匹配到<span class="red Count"></span>位顾问（按匹配度高→低）</p>
			</div>
			<ul class="contantList mt10">
			</ul>
			<div class="pullUpLabel" style="display: none;text-align: center">亲，没有更多内容了！</div>
			<!-- 加载提示符 -->
			<div class="infinite-scroll-preloader" style="display: none">
				<div class="preloader">
				</div>
			</div>
		</div>
	</div>
</div>
{template StudyFooter2}
<script type='text/javascript' src="{echo JsURL}/m/study/StudyMarryConsultantTwo.js" charset='utf-8'></script>
</body>
</html>