{template StudyHeader}
<div class="page-group">
	<div class="page page-current" style="background: #fff;" id="evaluation">
		<header class="bar bar-nav diybar">
			<a class="back pull-left"><i class="icon iconfont">&#xe604;</i></a>
			<h1 class="title">免费评估</h1>
		</header>
		<div class="content ">
			<div class="evaluationMain">
				<p class="red tac mt10">57美国网竭诚为您服务~</p>
				<ul class="evaluaTab mt10">
					<li>
						<div class="left">申请项目：</div>
						<div class="right">
							<div class="seleft">
								<i class="icon iconfont">&#xe63c;</i>
								<input type="text" name="Project" id="Project" value="小学" placeholder="申请项目" readonly/>
							</div>
						</div>
					</li>
					<li>
						<div class="left">目前就读：</div>
						<div class="right">
							<div class="seleft">
								<i class="icon iconfont">&#xe63c;</i>
								<input type="text" name="Grade" id="Grade" value="初二及以前" placeholder="目前就读年级" readonly/>
							</div>
						</div>
					</li>
					<li>
						<div class="left">国内平均成绩：</div>
						<div class="right">
							<div class="seleft">
								<i class="icon iconfont">&#xe63c;</i>
								<input type="text" name="Results" id="Results" value="95 - 100" placeholder="国内平均成绩" readonly/>
							</div>
						</div>
					</li>
					<li>
						<div class="left">联系方式：</div>
						<div class="right">
							<div class="seleft">
								<input type="text" name="phone" id="phone" value="" placeholder="请输入手机号码" />
							</div>
						</div>
					</li>
				</ul>
				<div class="cf mt10">
					<a href="#" class="button button-fill getSolution">获取申请方案</a>
				</div>
				<div class="evaluaCont mt20">
					<p class="">57US的专业顾问将在24小时内通过电话为您提供专业的留学评估服务，包括：</p>
					<p class="nr">
						1.根据留学意向以及目前的学习情况，定制留学方案；<br>
						2.奖学金申请评估；<br>
						3.留学签证、文书写作等方面的咨询。<br>
						4.任何您需要了解的留学相关问题。
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
{template StudyFooter2}
</body>
</html>