<script type='text/javascript' src="{echo JsURL}/m/lib/zepto/1.2/zepto.js" charset='utf-8'></script>
<script type='text/javascript' src="{echo JsURL}/m/lib/lib.js" charset='utf-8'></script>
<script type='text/javascript' src="{echo JsURL}/m/lib/msui/0.6.2/sm.min.js" charset='utf-8'></script>
<script type='text/javascript' src="{echo JsURL}/m/lib/msui/0.6.2/sm-extend.min.js" charset='utf-8'></script>
<script type='text/javascript' src="{echo JsURL}/m/lib/msui/0.6.2/sm-city-picker.min.js" charset='utf-8'></script>
<script type='text/javascript' src="{echo JsURL}/m/lib/msui/0.6.2/dev/swiper.js" charset='utf-8'></script>
<script type='text/javascript' src="{echo JsURL}/m/study/app.js" charset='utf-8'></script>
<div class="hidden">
    <?php require_once 'cs.php';echo '<img src="'._cnzzTrackPageView(1256811158).'" width="0" height="0"/>';?>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?21f9def31aa89e3cd98d7b6b95068701";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</div>