<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{$Title}</title>
	<meta name="keywords" content="{$Keywords}">
	<meta name="description" content="{$Description}">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" href="{echo CssURL}/m/msui/0.6.2/sm.min.css">
	<link rel="stylesheet" href="{echo CssURL}/m/msui/0.6.2/sm-extend.min.css">
	<link rel="stylesheet" href="{echo CssURL}/m/lib/reset.css">
	<link rel="stylesheet" href="{echo CssURL}/m/study/style.css">
	<link rel="stylesheet" href="/Plugins/fonts/mobile/iconfont.css">
</head>
<body>