{template TourHeader}
<div class="page" id="page">
    <!-- 标题栏 -->
    <header class="bar bar-nav diybar">
        <a class="pull-left" href="/group/"><i class="icon iconfont">&#xe604;</i></a>
        <a href="{echo WEB_M_URL}/tour/search/" class="pull-right barSearch external"><i class="icon iconfont">&#xe6b5;</i></a>
        <h1 class="title">当地参团</h1>
    </header>
    <div class="content-padded grid-demo diyTab">
        <div class="row">
            <a href="/group/home/{$SoWhere}" class="col-50">国内参团</a>
            <a href="/group/local/{$SoWhere}" class="col-50 active">当地参团</a>
        </div>
    </div>
    <div id="ajaxDom" style="display:none">
        <div id="ajaxStartCity">All</div>
        <div id="ajaxEndCity">All</div>
        <div id="ajaxWayCity"><span data-id="All">All</span></div>
        <div id="ajaxStroke">All</div>
        <div id="ajaxaStartDate"><span>All</span></div>
        <div id="ajaxTheme"><span>All</span></div>
        <div id="ajaxSort">Default</div>
    </div>
    <br>
    <div id="Buffer" style="display: none">
        <div id="StartCity"></div>
        <div id="EndCity"></div>
        <div id="WayCity"></div>
    </div>
    <div class="content pull-to-refresh-content infinite-scroll ListCont">
        <!-- 默认的下拉刷新层 -->
        <div class="pull-to-refresh-layer">
            <div class="preloader"></div>
            <div class="pull-to-refresh-arrow"></div>
        </div>
        <!--列表内容-->
        <div class="list-block inner">
            <ul class="PlayList">
            </ul>
        </div>
        <div class="pullUpLabel" style="display: none;text-align: center">亲，没有更多内容了！</div>
        <!-- 加载提示符 -->
        <div class="infinite-scroll-preloader" style="display: none">
            <div class="preloader">
            </div>
        </div>
    </div>
    <nav class="bar bar-tab diyBottom">
        <a class="tab-item external" href="JavaScript:void(0)" date-id="PlayFoth">
            <i class="icon iconfont">&#x3481;</i>
            <span class="tab-label">线路玩法</span>
        </a>
        <a class="tab-item external" href="JavaScript:void(0)" date-id="Howday">
            <i class="icon iconfont">&#xe62f;</i>
            <span class="tab-label">时间天数</span>
        </a>
        <a class="tab-item external" href="JavaScript:void(0)" date-id="FeaPlay">
            <i class="icon iconfont">&#xe677;</i>
            <span class="tab-label">特色筛选</span>
        </a>
        <a class="tab-item external Ranking" href="JavaScript:void(0)" date-id="Ranking">
            <i class="icon iconfont">&#xe600;</i>
            <span class="tab-label">综合排序</span>
        </a>
    </nav>
    <div class="tabMain">
        <div class="tabBox" id="PlayFoth">
            <div class="tabBoxHead">
                <a class="pull-left close">取消</a>
                <a class="pull-right SureBtn test">确定</a>
                <a class="pull-right sxDete Clear"><i class="icon iconfont">&#xe607;</i>清空筛选</a>
            </div>
            <div class="tabBoxCity">
                <div class="tabBoxCityl">
                    <a href="javascript:void(0)" data-id="StartCity" class="on">出发城市</a>
                    <a href="javascript:void(0)" data-id="EndCity">结束城市</a>
                    <a href="javascript:void(0)" data-id="WayCity">途经城市</a>
                </div>
                <div class="tabBoxCityM swiper-letter" style="display: none" data-toggle="scroller" data-type='auto'>
                    <ul>
                        <li data-value="hot" class="on">热门</li>
                        <li data-value="A">A</li>
                        <li data-value="B">B</li>
                        <li data-value="C">C</li>
                        <li data-value="D">D</li>
                        <li data-value="E">E</li>
                        <li data-value="F">F</li>
                        <li data-value="G">G</li>
                        <li data-value="H">H</li>
                        <li data-value="I">I</li>
                        <li data-value="J">J</li>
                        <li data-value="K">K</li>
                        <li data-value="L">L</li>
                        <li data-value="M">M</li>
                        <li data-value="N">N</li>
                        <li data-value="O">O</li>
                        <li data-value="P">P</li>
                        <li data-value="Q">Q</li>
                        <li data-value="R">R</li>
                        <li data-value="S">S</li>
                        <li data-value="T">T</li>
                        <li data-value="U">U</li>
                        <li data-value="V">V</li>
                        <li data-value="W">W</li>
                        <li data-value="X">X</li>
                        <li data-value="Y">Y</li>
                        <li data-value="Z">Z</li>
                    </ul>
                </div>
                <div class="tabBoxCityR swiper-city" data-toggle="scroller" data-type='auto'>
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tabBox" id="Howday">
            <div class="tabBoxHead">
                <a class="pull-left close">取消</a>
                <a class="pull-right SureBtn">确定</a>
                <a class="pull-right sxDete Clear"><i class="icon iconfont">&#xe607;</i>清空筛选</a>
            </div>
            <div class="tabBoxBody">
                <p class="tit">行程天数</p>
                <div class="tabBoxBodyM">
                </div>
            </div>
            <div class="tabBoxBody">
                <p class="tit">出发时间</p>
                <div class="tabBoxBodyM">
                    <span class="on">不限</span><span>16年9月</span><span>16年10月</span><span>16年11月</span><span>17年1月</span><span>17年2月</span>
                </div>
            </div>
        </div>
        <div class="tabBox" id="FeaPlay">
            <div class="tabBoxHead">
                <a class="pull-left close">取消</a>
                <a class="pull-right SureBtn">确定</a>
                <a class="pull-right sxDete Clear"><i class="icon iconfont">&#xe607;</i>清空筛选</a>
            </div>
            <div class="tabBoxBody">
                <p class="tit">特色主题</p>
                <div class="tabBoxBodyM">
                </div>
            </div>
        </div>
        <div class="tabBox" id="Ranking">
            <div class="tabBoxHead">
                <a class="pull-left close">取消</a>
                <a class="pull-right SureBtn">确定</a>
                <a class="pull-right sxDete Clear"><i class="icon iconfont">&#xe607;</i>清空筛选</a>
            </div>
            <div class="tabBoxBody">
                <ul class="tabBoxPx">
                </ul>
            </div>
        </div>
    </div>
</div>
{template TourFooter}
<script type='text/javascript' src="{echo JsURL}/m/tour/TourListslib.js" charset='utf-8'></script>
<script type='text/javascript' src="{echo JsURL}/m/tour/GroupLocal.js" charset='utf-8'></script>
</body>
</html>