{template Header}
<div class="flatsHead">
    <a href="" class="logo textIn">57美国</a>
    <div class="flatPhone textIn slide-top">400-018-5757</div>
    <div class="searchBox">
        <form id="indexSearch">
            <input type="search" name="searchVal" id="searchVal" value="" class="input" placeholder="输入城市、学校、中英文公寓名">
            <a href="javascript:void(0)" class="botton fr" id="searchBtn"><span class="icon"></span></a>
            <input type="submit" class="hidden">
        </form>
    </div>
    <div class="banPic">
        <ul class="pic">
            <li>
                <a href=""><img src="http://images.57us.com/img/house/v3.1/ban.jpg" width="1920" height="742" /></a>
            </li>
        </ul>
    </div>
</div>
<div class="w1200 cf">
    <ul class="flatMenu">
        <li>
            <a href="">首页</a>
        </li>
        <li>
            <a href="">找顾问</a>
        </li>
        <li>
            <a href="">找教师</a>
        </li>
        <li>
            <a href="">留学商城</a>
        </li>
        <li>
            <a href="">院校库</a>
        </li>
        <li>
            <a href="">去游学</a>
        </li>
        <li>
            <a href="">留学资讯</a>
        </li>
    </ul>
</div>
<div class="w1200 cf flatHotCity">
    <div class="pubTit textIn" id="scene">热门城市</div>
    <a href="" class="boxMore">查看更多></a>
    <div class="hotCity slide-top">
        <img src="http://images.57us.com/img/house/v3.1/hotCityList.png" usemap="#Map" />
        <map name="Map">
            <area shape="poly" coords="144,128,271,254,394,126,268,4" href="#1" target="_blank">
            <area shape="poly" coords="426,126,552,253,678,127,552,4" href="#2" target="_blank">
            <area shape="poly" coords="834,3,708,127,836,253,960,126" href="#3" target="_blank">
            <area shape="poly" coords="126,144,3,266,127,396,255,268" href="#4" target="_blank">
            <area shape="poly" coords="282,267,410,394,536,268,410,144" href="#5" target="_blank">
            <area shape="poly" coords="691,143,566,268,692,394,818,266" href="#6" target="_blank">
            <area shape="poly" coords="977,142,848,267,976,395,1101,269" href="#7" target="_blank">
            <area shape="poly" coords="268,284,142,410,267,534,396,410" href="#8" target="_blank">
            <area shape="poly" coords="551,284,425,408,552,536,678,408" href="#9" target="_blank">
            <area shape="poly" coords="832,284,707,408,834,534,961,410" href="#10" target="_blank">
            <area shape="poly" coords="408,426,282,551,409,676,536,550" href="#11" target="_blank">
            <area shape="poly" coords="692,424,568,550,692,676,820,550" href="#12" target="_blank">
        </map>
    </div>
</div>
<div class="cityBg" style="margin-top: -80px;"></div>
<div class="w1200 cf tjflat">
    <div class="pubTit textIn">推荐房源</div>
    <a href="" class="boxMore">查看更多></a>
    <ul class="tjList">
        <li>
            <a href="">
                <img src="http://images.57us.com/l/up/2016/1116/201611161808208404.jpg" width="276" height="188" />
                <p class="tit">洛杉磯機場拉迪森飯店洛杉矶机场拉迪森酒店</p>
                <div class="boFun">
                    <p class="fr price">$<em>3,920.00</em>/月</p>
                    <p class="fl"><i class="ico"></i>所在城市</p>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <img src="http://images.57us.com/l/up/2016/1116/201611161808208404.jpg" width="276" height="188" />
                <p class="tit">洛杉磯機場拉迪森飯店洛杉矶机场拉迪森酒店</p>
                <div class="boFun">
                    <p class="fr price">$<em>3,920.00</em>/月</p>
                    <p class="fl"><i class="ico"></i>所在城市</p>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <img src="http://images.57us.com/l/up/2016/1116/201611161808208404.jpg" width="276" height="188" />
                <p class="tit">洛杉磯機場拉迪森飯店洛杉矶机场拉迪森酒店</p>
                <div class="boFun">
                    <p class="fr price">$<em>3,920.00</em>/月</p>
                    <p class="fl"><i class="ico"></i>所在城市</p>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <img src="http://images.57us.com/l/up/2016/1116/201611161808208404.jpg" width="276" height="188" />
                <p class="tit">洛杉磯機場拉迪森飯店洛杉矶机场拉迪森酒店</p>
                <div class="boFun">
                    <p class="fr price">$<em>3,920.00</em>/月</p>
                    <p class="fl"><i class="ico"></i>所在城市</p>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <img src="http://images.57us.com/l/up/2016/1116/201611161808208404.jpg" width="276" height="188" />
                <p class="tit">洛杉磯機場拉迪森飯店洛杉矶机场拉迪森酒店</p>
                <div class="boFun">
                    <p class="fr price">$<em>3,920.00</em>/月</p>
                    <p class="fl"><i class="ico"></i>所在城市</p>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <img src="http://images.57us.com/l/up/2016/1116/201611161808208404.jpg" width="276" height="188" />
                <p class="tit">洛杉磯機場拉迪森飯店洛杉矶机场拉迪森酒店</p>
                <div class="boFun">
                    <p class="fr price">$<em>3,920.00</em>/月</p>
                    <p class="fl"><i class="ico"></i>所在城市</p>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <img src="http://images.57us.com/l/up/2016/1116/201611161808208404.jpg" width="276" height="188" />
                <p class="tit">洛杉磯機場拉迪森飯店洛杉矶机场拉迪森酒店</p>
                <div class="boFun">
                    <p class="fr price">$<em>3,920.00</em>/月</p>
                    <p class="fl"><i class="ico"></i>所在城市</p>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <img src="http://images.57us.com/l/up/2016/1116/201611161808208404.jpg" width="276" height="188" />
                <p class="tit">洛杉磯機場拉迪森飯店洛杉矶机场拉迪森酒店</p>
                <div class="boFun">
                    <p class="fr price">$<em>3,920.00</em>/月</p>
                    <p class="fl"><i class="ico"></i>所在城市</p>
                </div>
            </a>
        </li>
    </ul>
</div>
<div class="cityBg"></div>
<div class="w1200 cf flatWhy  slide-top" data-plugin-options='{"speed":200, "distance":400}'>
    <ul>
        <li class="i1"><span class="ico"></span>
            <p class="tit">优质的房源</p>
        </li>
        <li class="i2"><span class="ico"></span>
            <p class="tit">专业的咨询</p>
        </li>
        <li class="i3"><span class="ico"></span>
            <p class="tit">免服务费</p>
        </li>
        <li class="i4"><span class="ico"></span>
            <p class="tit">优质100%真实的房源</p>
        </li>
    </ul>
</div>
{template Footer}
<script src="{echo JsURL}/house/HouseIndex.js"></script>
</body>
</html>