<!--留学公寓导航菜单-->
<div class="header">
    <div class="w1200 cf">
        <span class="fr HeaderTell">欢迎拨打电话咨询400-018-5757</span>
        <div class="StudySearch fr">
            <div class="StudySearchTool">
            </div>
            <div class="StudySearchBox">
                <form id="formList">
                    <input type="text" name="keyword" id="keyword" placeholder="" class="input">
                    <input type="submit" id="" value="搜索" class="SearchBtn transition">
                </form>
            </div>
        </div>
        <a href="http://study.57us.com" class="StudyLogo" title="57美国网">57美国网</a>
    </div>
</div>
<div class="StudyMenu">
    <ul class="w1200 cf">
        <li>
            <a href="http://study.57us.com" class="FirstA">首页</a><span class="line"></span></li>
        <li>
            <a href="/consultant/" class="FirstA">找顾问</a><span class="line"></span></li>
        <li>
            <a href="/teacher/" class="FirstA">找教师</a><span class="line"></span></li>
        <li>
            <a href="/consultant_service/" class="FirstA">留学商城<i></i></a><span class="line"></span>
            <div class="SeconMenu" style="width:488px; margin-left: -245px;">
                <em></em>
                <div class="SeconMenuM1">
                    <dl class="fl">
                        <dt><a href="/consultant_service/">所有服务</a></dt>
                        <dd style="border-right: 1px solid #e5e5e5;">
                            <a href="/consultant_service/?t=1">全程服务</a>
                            <a href="/consultant_service/?t=2">申请学校</a>
                            <a href="/consultant_service/?t=3">文书服务</a>
                            <a href="/consultant_service/?t=4">定校方案修改</a>
                            <a href="/consultant_service/?t=7">背景提升</a>
                            <a href="/consultant_service/?t=6">材料翻译</a>
                            <a href="/consultant_service/?t=5">签证培训</a>
                        </dd>
                    </dl>
                    <dl class="fr" style="width: 180px;">
                        <dt><a href="/teacher_course/">所有课程</a></dt>
                        <dd>
                            <a href="/teacher_course/?t=1">雅思</a>
                            <a href="/teacher_course/?t=2">托福</a>
                            <a href="/teacher_course/?t=3">SAT</a>
                            <a href="/teacher_course/?t=4">ACT</a>
                            <a href="/teacher_course/?t=5">GMAT</a>
                            <a href="/teacher_course/?t=6">GRE</a>
                            <a href="/teacher_course/?t=7">PTE</a>

                        </dd>
                    </dl>
                </div>
            </div>
        </li>
        <li>
            <a href="/highschool/" class="FirstA">院校库<i></i></a><span class="line"></span>
            <div class="SeconMenu"> <em></em>
                <div class="SeconMenuM">
                    <a href="/highschool/">高中</a>
                    <a href="/college/">本科</a>
                    <a href="/graduateschool/">研究生</a>
                </div>
            </div>
        </li>
        <li>
            <a href="/studytour/" class="FirstA">去游学</a><span class="line"></span>
        </li>
        <li>
            <a href="http://www.57us.com/study/" class="FirstA" target="_blank">留学资讯<i></i></a><span class="line"></span>
            <div class="SeconMenu">
                <em></em>
                <div class="SeconMenuM">
                    <a href="http://www.57us.com/studytopic_uscolege/" target="_blank">院校</a>
                    <a href="http://www.57us.com/studytopic_news/" target="_blank">留学</a>
                    <a href="http://www.57us.com/studytopic_exam/" target="_blank">考试</a>
                    <a href="http://www.57us.com/studytopic_guide/" target="_blank">签证</a>
                    <a href="http://www.57us.com/topic/lecture/" target="_blank">留学讲堂</a>
                </div>
            </div>
        </li>
        <li class="on">
            <a href="/studytour/" class="FirstA">留学公寓</a><span class="line"></span>
        </li>
    </ul>
</div>