body{background: #efefef;}

.baner{ width:1920px; height:600px; position:relative; left:50%; margin-left:-960px; overflow:hidden; position:relative;z-index: 1;}
.baner .pic{ position:relative; z-index:0; }
.baner .pic li{float: left;}
.baner .pic img { width:1920px; height:600px; display: block; }
.baner .hd { width:100%; position: absolute; bottom: 10px; text-align: center; font-size:0; z-index:1; }
.baner .hd li{ background:#d5d5d4; border-radius:100%; width:11px;height:11px;overflow: hidden;display:inline-block; *display:inline; zoom:1; cursor: pointer;margin: 0 5px; box-shadow:0 0 3px rgba(255,255,255,0.5)}
.baner .hd .on{background:#00a5e3; }

.headerHow{ background: url(../images/howadd.jpg) no-repeat; width: 874px; height: 160px; overflow: hidden;margin:-88px auto 0;position: relative;z-index:2 ;}
.box{width: 991px;}
.boxTit{width:350px; height: 80px; margin: 0 auto; overflow: hidden;text-indent: -999px;}
.tit1{background: url(../images/tit1.png) no-repeat; }
.tit2{background: url(../images/tit2.png) no-repeat; }
.tit3{background: url(../images/tit3.png) no-repeat; }
.tit4{background: url(../images/tit4.png) no-repeat; }
.tit5{background: url(../images/tit5.png) no-repeat; }
.classList{ background: #fff;}
.classList li{ background: #fff; height: 251px; padding: 0 0 0 218px;position: relative;border: 1px solid #afdfec;}
.classListR{ background: #fff; padding: 10px 0; height: 231px; overflow: hidden;display:table;width:100% ;vertical-align:middle ;}
.classList .img{ background: #afdfec; width: 216px; height: 252px;position: absolute;bottom: 0; left: 0;}
.classList img{width: 197px; height: 262px;position: absolute; bottom: 10px; left: 9px;}
.classListR .nr{padding: 0 20px; display: table-cell; vertical-align: middle; color: #314357; font-size:18px;line-height:30px;}
.classListR .nr b{font-size: 20px;}
.classList li.even{ padding: 28px 218px 1px 1px;}
.classList li.even .img{ left: auto;right: 0;}
.classList li.old{padding: 28px 0 0 218px;}

.AboutList{}
.AboutList li{width: 1005px; float: left; margin-top: 10px; overflow: hidden; text-indent: -99999px;}
.AboutList li.i1{background: url(../images/about1.png) no-repeat; height: 302px; margin-left: -14px;}
.AboutList li.i2{background: url(../images/about2.png) no-repeat; height: 309px; }
.AboutList li.i3{background: url(../images/about3.png) no-repeat; height: 225px;  margin-left: -14px;}

.hostryList{}
.hostryList li{ background: #fff; height:163px;position: relative; padding:40px 10px 0 219px;margin-top: 85px; color: #6d6c6c;}
.hostryList li img{width: 210px; height: 270px;position: absolute;bottom: 0; left: 0;}
.hostryList li .shareTit{font-size: 20px; font-weight:bold; line-height: 40px;}
.hostryList li .nr{ height: 90px; line-height: 30px; overflow: hidden; font-size: 18px;}
.hostryList li .nr b{font-size: 20px;}
.hostryList li .name{font-size: 24px; font-weight: bold; color: #fff; height: 48px; line-height: 48px; background: #f19186;position: absolute; left: 210px; top:-24px; padding: 0 15px;}

.Information{ background: #fff;position: relative; padding: 40px 10px;}
.Information .tit{height: 28px; line-height: 28px; padding: 10px; background: #fd9f94; color: #fff;position: absolute;top: -24px; left: 0; font-size: 30px;font-weight: bold;}
.Information .tit span{font-size: 14px; font-weight: normal;border-left: 1px solid #fff;}
.InforList{}
.InforList li{ height: 40px; overflow: hidden;line-height: 40px; font-size: 20px; font-weight: bold; }
.InforList li a{color: #6d6c6c; text-decoration: underline;}
.InforList li a:hover{color: #fa9c91;}
.InforList li .hotIco{ background: url(../images/hot.png) no-repeat; width: 53px; height: 22px; display: inline-block;overflow: hidden; vertical-align: middle;}
.inforChat{text-align: center;font-size: 20px; color: #54c3e1;}
.inforChat img{width: 169px; height: 169px;border: 1px solid #dcdcdc;}
.BottomContact{background:#252525; height: 264px; overflow: hidden;}
.ContactFeek{ background: url(../images/bottom.png) left center no-repeat;width:990px;   height: 220px; overflow: hidden;margin: 0 auto;}
.ContactList{ width: 406px; padding-top: 36px;}
.ContactList li{height: 41px; line-height: 41px; overflow: hidden;border-bottom: 1px solid #fff; text-indent: 6px; font-size: 18px; color: #cacaca;}
.ContactList li input{width: 340px; height: 41px; line-height: 41px;border: 0; background: none; color: #cacaca;font-size: 18px; }
.ContactBtn{ background: #cc3a30; width: 125px; height: 44px; text-align: center; line-height: 44px; color: #fff; border: 0; cursor: pointer; display: inline-block; font-size: 18px; margin-top: 12px;}
.ContactBtn:hover{ background: #bb271d; color: #fff;}

.ClassFaq{ background: url(../images/faqBg.jpg) center top no-repeat; height: 695px;position: relative; padding-top: 27px;}
.study{ background: url(../images/read.jpg) center top no-repeat; height: 451px;}
.studyList{ background: #fff; padding: 0 13px;height: auto;overflow: hidden;}
.studyList td,.studyList th{padding: 14px 0;border-bottom: 1px solid #d4d4d4; color: #a3a3a3; font-size: 18px;}
.studyList th{font-weight: normal;}
.studyList .first{ padding-left: 28px; text-align: left;}
.studyList .classTit{color: #54c3e1;font-size:20px; font-weight: bold;}
.onlineChat{ background: #ff786d; color: #fff; width: 104px; height: 36px; text-align: center;line-height: 36px;border-radius: 36px; display: inline-block;}
.onlineChat:hover{background: #fa6559; color: #fff;}
.studyList td{text-align: center;}
.studyAd{ background: #54c3e1; color: #fff; font-size: 24px; font-weight: bold;  padding-left:40px;height: 54px; line-height: 54px; overflow: hidden;}


.FaqMain{width: 1920px; height: 615px; overflow: hidden;position: relative;}
.FaqMain .pic,.FaqMain li{width: 1920px; height: 615px; position: relative;}

.FaqMain .faqList{ background: #fff; width:507px; height: 93px;border: 1px solid #bababa; padding: 15px 20px 15px 123px; position: absolute; top: 0; left:50%;display: table; vertical-align: middle; z-index: 1;}
.FaqMain .faqList img{width: 93px; height: 93px; position: absolute;top: 15px; left:20px; border-radius: 100%;}
.FaqMain .faqList .text{display: table-cell;vertical-align: middle;color: #6a6a6a; font-size: 16px; line-height: 30px; max-height: 90px;overflow: hidden;}
.FaqMain .faqList .text b{font-size: 18px;}
.FaqMain .faqList:hover{z-index: 2;}
