body{color: #3c3c3c;}

.PublicLine{border-top: 1px solid #eaeef2;}
.green{color: #21cc25;}
.yellow{ color: #ff9313;}
.blue{color: #55b0ff;}
.GayLine{border: 1px dashed #efefef;}
.input{width: 218px;height: 30px;line-height: 30px;border: 1px solid #bbdfff;overflow: hidden;text-indent: 6px;}
.MuserLogin .letter,.MuserLogin .UserMain i,.MsidleMenuFirst .Firsta i,.MperInfor dd i.ico,.SafeList li .ico,.AdressBox i,.Addpassengbd i{background: url(http://images.57us.com/img/user/usericon.png) no-repeat;}
.MtopBar{background:#323232;height: 27px;line-height: 27px;}
.MtopBar a{color: #999999; padding: 0 5px;margin: 0 7px;}
.MtopBar a:hover{color: #fdb968;}
.Mheader{background:#55b0ff;height: 70px;}
.MLogo{background:url(http://images.57us.com/img/user/Mlogo.png) no-repeat;width: 220px;height: 70px; overflow: hidden;text-indent: -9999px;margin-left: 34px;}
.Mmenu{margin-left: 85px;}
.Mmenu li{width: 106px; height: 70px;line-height: 70px;float: left;text-align: center; overflow: hidden;font-size: 16px;font-weight: bold;}
.Mmenu li a{display: block;color: #fff;;}
.Mmenu li.on a,.Mmenu li a:hover{background:#3e95f3;}
.MuserStyle{ line-height: 70px;color: #fff;}
.MuserStyle a{color: #fff;padding: 0 6px;margin: 0 4px;}
.MuserLogin{}
.MuserLogin .letter{background-position:0 -100px;width: 20px;height: 20px;display: inline-block; vertical-align: middle;position: relative;}
.MuserLogin .letter i{background:#fe0113;width: 18px;height: 18px;line-height: 16px;position: absolute;top:-7px;right:4px;display: inline-block;text-align: center;font-size: 10px;border-radius: 100%;color: #fff;;}
.MuserLogin .UserMain{display: inline-block;position: relative;}
.MuserLogin .UserMain .img{width: 28px;height: 28px;border: 1px  solid #3e9aff;display: inline-block;vertical-align: middle;border-radius: 100%;}
.MuserLogin .UserMain .img img{width: 28px;height: 28px;border-radius: 100%; vertical-align: top;}
.MuserLogin .UserMain a i{background-position:0 -119px;width: 20px;height: 20px;display:inline-block;vertical-align: middle;overflow: hidden;}
.MuserLogin .UserMain:hover a i{background-position: 0 -138px;}
.MuserLogin .UserList{background:#fff;color: #3c3c3c;width: 318px;height: auto;line-height:24px;padding:0 10px 5px;border: 1px solid #eaeef2;position: absolute;top:70px; left:50%;margin-left:-170px;box-shadow: 0 0 3px rgba(0,0,0,0.1);font-size: 14px;display: none;z-index: 50;}
.MuserLogin .UserList a{color: #3c3c3c; float: left; padding: 0 3px !important;}
.MuserLogin .UserList th{font-size: 16px;}
.MuserLogin .UserList th,.MuserLogin .UserList td{border-top: 1px solid #eaeef2;padding: 10px 0;}
.MuserLogin .UserList table{margin-top: -1px;}
.MuserLogin .UserList a:hover{color: #55b0ff;}
.MuserLogin .UserList b.ico{width: 0;height: 0;border-left:10px solid transparent;border-right: 10px solid transparent;border-bottom:10px solid #fff; position: absolute;top: -10px;left: 50%;margin-left: -25px;z-index: 10;}
.MuserLogin .UserMain:hover  .UserList{display: inline-block;}
.MsidleLeft{width: 184px;height: auto;overflow: hidden;padding-right: 46px;margin-left: 20px;}
.MsidleRight{width: 790px;margin-right:70px;min-height:550px;border-left: 1px solid #b6dcff;padding-left:70px;}
.MsidleRightTop{height: 49px;border-bottom: 1px solid #b6dcff;}
.MsidleRightTop .name{font-size: 16px;font-weight: bold;color: #55b0ff;padding-left: 5px; border-left: 5px solid #55b0ff;line-height: 16px;}
.MsidleRightMid{height: auto;overflow: hidden;}
.MperInfor{width: 560px;float: left;}
.MperInfor dt{font-size: 16px; color: #3c3c3c;font-weight: bold;line-height: 35px;}
.MperInfor dd{line-height:48px;}
.MperInfor dd em{color: #bcbcbc;}
.MperInfor dd span{}
.MperInfor dd i.ico{width: 20px;height: 20px;display: inline-block; vertical-align: middle;overflow: hidden;}
.MperInfor dd.i1 i.ico{background-position: 0 -20px;}
.MperInfor dd.i2 i.ico{background-position: 0 -200px;}
.MperInfor dd.i3 i.ico{background-position: 0 -40px;}
.MperInfor dd.i4 i.ico{background-position: 0 -60px;}
.MperInfor dd.i5 i.ico{background-position: 0 -80px;}
.MperInfor dd.i6 i.ico{background-position: 0 0px;}


.EditeInfor span{width: 70px;display: inline-block;}
.InforFaceBox{width: 110px; height: auto;float: left;text-align: center;line-height: 36px; color: #bcbcbc; position: relative;}
.InforFaceBox #head_photo{width: 100px;height: 100px;position: absolute;top: 5px;left:5px;z-index:1; cursor: pointer; filter:alpha(opacity=0);opacity: 0;  }
.InforFaceBox img{width: 100px;height: 100px;border: 5px solid #d9dde0;border-radius: 100%;}
.ChangeBtn{color: #ffa943 !important;margin-left: 25px;}
.ChangeBtn:hover{text-decoration: underline;}
.Mcont{margin: 60px auto 0; padding-bottom: 30px;}
.EditeBtn,.CanceBtn{background:#55b0ff;border: 1px solid #55b0ff;width:138px;height: 41px;text-align: center;line-height: 41px;color: #fff;display: inline-block;}
.CanceBtn{background:#fff;border: 1px solid #b1b1b1;margin-left: 20px; color: #3c3c3c;}
.CanceBtn:hover{color: #55b0ff;}
.EditeBtn:hover{background: #3da5ff;color: #fff;}
.MsidleMenu{font-size: 16px;text-align: center;}
.MsidleMenuFirst{}
.MsidleMenuFirst .Firsta{height: 45px;line-height: 45px;color: #3c3c3c;font-weight: bold;display: block;text-indent: 20px;}
.MsidleMenuFirst .Firsta i{background-position:0 -160px;width: 20px;height: 20px;display:inline-block;vertical-align: middle;overflow: hidden;}
.MsidleMenuSecond{display: none;}
.MsidleMenuSecond li{}
.MsidleMenuSecond li a{height:35px; display: block;line-height: 35px;margin: 5px 0;}
.MsidleMenuSecond li a i{background:url(http://images.57us.com/img/user/MenuIcon.png) no-repeat;width: 20px; height: 20px; display: inline-block; overflow: hidden; vertical-align: middle; margin:-2px 3px 0 0; display: none;}
.MsidleMenuSecond li a:hover,.MsidleMenuSecond li.on a{background: #55b0ff;color: #fff;}
.MsidleMenuSecond li a:hover i,.MsidleMenuSecond li.on a i{display: inline-block;}
.MsidleMenuFirst li.on .MsidleMenuSecond{display: block;}
.MsidleMenuFirst li.on .Firsta i{background-position: 0 -180px;}
.MsidleMenuFirst li.i1 a i{ background-position: 0 -80px;}
.MsidleMenuFirst li.i2 a i{ background-position: 0 -100px;}
.MsidleMenuFirst li.i3 a i{ background-position: 0 0;}
.MsidleMenuFirst li.i4 a i{ background-position: 0 -120px;}
.MsidleMenuFirst li.i5 a i{ background-position: 0 -140px;}
.MsidleMenuFirst li.i6 a i{ background-position: 0 -160px;}
.MsidleMenuFirst li.i7 a i{ background-position: 0 -180px;}
.MsidleMenuFirst li.i8 a i{ background-position: 0 -200px;}
.MsidleMenuFirst li.i9 a i{ background-position: 0 -240px;}
.MsidleMenuFirst li.i10 a i{ background-position: 0 -20px;}
.MsidleMenuFirst li.i11 a i{ background-position: 0 -60px;}
.MsidleMenuFirst li.i12 a i{ background-position: 0 -40px;}
.MsidleMenuFirst li.i13 a i{ background-position: 0 -220px;}
.MsidleMenuFirst li.i14 a i{ background-position: 0 -260px;}
.MsidleMenuFirst li.i15 a i{ background-position: 0 -280px;}
/*账户安全*/
.Msafe{ background:url(http://images.57us.com/img/user/SafeIcon.png) left top no-repeat; height:90px; overflow:hidden; padding:0 0 30px 180px;}
.MsafeTit{ font-size:24px; color:#3c3c3c; padding-top:20px;}
.MsafeNr{ color:#aeaeae; padding-top:10px;}
.MsafeNr a{ color:#ffa943}
.SafeList{}
.SafeList li{ padding:10px 0; line-height:32px; height:auto; overflow:hidden}
.SafeList li .ico{ width:20px; height:20px; display:inline-block; margin-right:5px;vertical-align: middle;}
.SafeList li.i1 .ico{background-position: 0 -262px;}
.SafeList li.i2 .ico{background-position: 0 -20px;}
.SafeList li.i3 .ico{background-position: 0 -200px;}
.SafeList li.i4 .ico{background-position: 0 -280px;}
.SafeList li.i5 .ico{background-position: 0 -300px;}
.SafeListLeft{width:115px;}
.SafeListRight{width: 576px;color: #bcbcbc;}
.SafeListRight span,.SafeListRight a{color: #ffa943;}
.SafeDegree{ vertical-align: middle; display: inline-block;margin-right: 30px;color: #999;}
.SafeDegree em{background:#e8e8e8;width: 94px;height:7px;float: left;margin-right: 1px;}
.SafeDegree em.on{background: #ff5863;}
.GetEmsBox a{width: 135px; height: 32px; display: inline-block;text-align: center;line-height: 32px; color: #fff;}
.GetEmsBox input{width: 135px; height: 32px; display: inline-block;text-align: center;line-height: 32px; color: #fff;border: 0px solid #000000;cursor: pointer}
.GetEmsBox input[disabled]{background:#dddddd;color: #fff;cursor:default;}
.GetEmsBox .GetEms{background:#ffa943;color: #fff;}
.GetEmsBox .WaitGetEms{background:#dddddd;color: #fff;cursor:default;}
/*修改密码*/
.ChangePassWord{}
.ChangePassWord table th{font-weight: normal;}
/*站内消息*/
.NewsTop{background: #f2f2f2; height: 31px;line-height: 31px; overflow: hidden;padding: 0 15px;}
.NewsBottom{border-bottom:1px solid #eaeef2;height: 31px;line-height: 31px;padding: 0 15px;}
.NewsBottom a{color: #3c3c3c;padding: 0 10px;}
.NewsBottom a:hover{color: #55b0ff;}
.NewsTop .i1,.NewsTop .i2,.NewsTop .i3{float: left;}
.NewsTop .i1{width: 320px;}
.NewsTop .i2{width: 280px;}
.NewsTop .i3{width: 100px;}
.NoNews{background:url(http://images.57us.com/img/user/No.jpg) center center no-repeat; height: 220px;overflow: hidden;}
.NewsList{padding:10px 15px 0;}
.NewsList li{height:36px;line-height: 36px;overflow: hidden;}
.NewsList li.NoRead a{color: #55b0ff;}
.DomeNews .layui-layer-content{ padding: 15px;}
.NewsPop .NewsPopTit{font-size: 16px; font-weight: bold; text-align: center;}
.NewsPop .NewsPopTime{ color: #999; text-align: center;padding: 5px 0;}
.NewsPop .NewsPopCont{border-top: 1px dashed #ededed; padding-top: 10px;}
/*旅游会员首页*/
.MtourIndexInfor{}
.UserImg{width: 100px;height: 100px;border: 5px solid #d9dde0;border-radius: 100%;overflow: hidden;margin-right: 40px;}
.UserImg img{width: 100px;height: 100px;border-radius: 100%;}
.MtourIndexRi{width: 610px;}
.MtourIndexRi .SafeHight{color: #90c31f;}
.MtourIndexRi .SafeMiddle{color: #ffa943;}
.MtourIndexRi .SafeLow{color: #ff5863;}
/*会员收藏*/
.Mcollect{}
.McollectTit{font-size: 16px;font-weight: bold;}
.McollectHd{background: #f2f2f2; height: 31px;line-height: 31px; overflow: hidden;padding: 0 15px;}
.McollectHd a{padding:0 15px; margin: 0 5px;float: left;color: #3c3c3c;}
.McollectHd a.on{font-weight: bold;}
.McollectHd a:hover{background: #ebebeb;}
.NoCollect{background:url(http://images.57us.com/img/user/NoCollect.jpg) center center no-repeat; height: 220px; overflow: hidden;}
.McollectList{width:801px;}
.McollectList li{width: 246px;height: 263px;float: left;overflow: hidden;margin:20px 21px 0 0;position: relative;}
.McollectList img{width: 246px;height: 168px;}
.McollectList .ClassTip{background:#ffa943;width: 42px;height: 23px;display: block;overflow: hidden;text-align: center;line-height: 23px;color: #fff;position: absolute;top: 0;left: 0;z-index: 10;}
.McollectList .McollectM{ padding:10px 10px 8px;border: 1px solid #eaeef2; height: 72px; overflow: hidden;}
.McollectList .McollectM .title{height:48px;overflow: hidden;line-height: 24px;}
.McollectList .McollectM .bottom{height: 22px;line-height: 22px;padding: 4px 0 0 4px;}
.McollectList .McollectM .bottom .price i{font-size: 20px;}

.McollectList li a{color: #3c3c3c;}
.McollectList li a:hover{color: #55b0ff;}
/*常用地址*/
.AddAdressBtn{background:url(http://images.57us.com/img/common/ncommon.png) right -101px no-repeat #fff;border: 1px solid #ffa943; height:22px;line-height: 22px;display: inline-block;padding: 0 25px 0 10px; color: #ffa943;}
.AddAdressBtn:hover{ color: #ffa943;}
.AdressTab th{background:#f2f2f2;font-weight: normal;height: 31px;}
.AdressTab td{text-align: center;padding: 15px;}
.AdressTab td a{padding: 0 5px;display: block;}
.StepAdress,.DeAdress{background:#55b0ff;width: 64px;height: 20px;text-align: center;line-height: 20px;font-size: 13px;display: inline-block;color: #fff;display: none;}
.StepAdress{cursor: pointer;}
.DeAdress{background:#fff;border: 1px solid #ff5863;color: #ff5863;}
.AdressTab tr.default .DeAdress{display: inline-block;}
.AdressTab .TrOn .StepAdress{display: inline-block;}
.TrOn td{background:#f7f7f7;}
.AdressPop{}
.AdressBox{width: 525px;height: auto;overflow: hidden;padding: 25px 30px 19px;}
.AdressBoxTit{ height: 20px;line-height: 20px; font-weight: bold;color: #55b0ff;border-left: 5px solid #55b0ff;padding-left: 5px;font-size: 16px;}
.AdressBox table th{width: 102px;text-align: left;font-weight: normal;}
.AdressBox i{ width:20px; height:20px; display:inline-block; margin-right:5px;vertical-align: middle;}
.AdressBox th.i1 i{background-position: 0 -340px;}
.AdressBox th.i2 i{background-position: 0 -360px;}
.AdressBox th.i3 i{background-position: 0 -380px;}
.AdressBox th.i4 i{background-position: 0 -320px;}
.AdressBox th.i5 i{background-position: 0 -20px;}
.LayPop .layui-layer-btn{text-align: center;padding: 0 0 25px;}
.LayPop .layui-layer-btn a{width: 140px;height: 43px;line-height: 43px;border:1px solid #b1b1b1;font-size: 16px;border-radius: 0;padding: 0;margin: 0 20px;}
.LayPop .layui-layer-btn .layui-layer-btn0{border-color: #55b0ff;background: #55b0ff;}
.LayPop .layui-layer-btn .layui-layer-btn1{background: none;}
/*添加常用人*/
.AddpassengHd{height:30px; overflow: hidden;}
.AddpassengHd a{float: left;margin-right: 50px;line-height: 30px; padding: 0 5px;}
.AddpassengHd a.on{color: #55b0ff;}
.AddpassengHd a:hover{color: #55b0ff;}
.AddpassengBox th{text-align: left;font-weight: normal;}
.SaveBtn,.CanceBtn{width: 140px;height: 43px;line-height: 43px;text-align:center;border:1px solid #b1b1b1;font-size: 16px;display: inline-block;margin-right: 40px;}
.SaveBtn{border-color: #55b0ff;background: #55b0ff;color: #fff;}
.SaveBtn:hover{color: #fff;}
.CanceBtn{color: #3c3c3c;}
.AddpassengBox input{width: 222px;}
.AddpassengBox label{margin-right:32px;}
.Addpassengbd i{width:20px; height:20px; display:inline-block; margin-right:5px;vertical-align: middle;} 
.Addpassengbd th.i1 i{background-position: 0 -420px;}
.Addpassengbd th.i2 i{background-position: 0 -60px;}
.Addpassengbd th.i3 i{background-position: 0 -80px;}
.Addpassengbd th.i4 i{background-position: 0 -460px;}
.Addpassengbd th.i5 i{background-position: 0 -20px;}
.Addpassengbd th.i6 i{background-position: 0 -220px;}
.Addpassengbd th.i7 i{background-position: 0 -440px;}
/*我的钱包*/
.Notrans{background:url(http://images.57us.com/img/user/NoTransaction.jpg) center center no-repeat;height:220px;overflow: hidden;}
.TransactionTab{}
.TransactionTab th{height: 31px;line-height: 31px;background: #eaeef2; font-weight: normal;}
.TransactionTab td{padding: 15px 0; text-align: center;}
.TransactionName{padding:0 20px;}

/*租车订单*/
.OrderList{}
.OrderList li{ background:#f6faff;height:155px;margin:28px 2px 0; color:#3c3c3c;font-size: 13px; }
.OrderList li:hover{box-shadow: 0 0 3px rgba(0,0,0,0.3)}
.OrderListTop{ background: #eaeef2;height:31px; line-height:31px; overflow:hidden;font-size: 13px;}
.OrderListTop p{ width:244px; float:left; margin-left:15px;}
.OrderListMiddle{ padding:15px; height:92px; overflow:hidden;border: 1px solid #eaeef2;}
.OrderListMiddle .tit{height:42px; line-height: 21px; overflow:hidden; color:#55b0ff; font-weight:bold; padding-right:10px;}
.OrderListMiddle .tit a{ color:#00a5e3;}
.OrderListMiddle .price{ color:#ff5863; height:24px; overflow:hidden}
.OrderListMiddle .price span{ font-size:24px}
.OrderListMiddle .LineBox{ border-right:1px dashed #dddddd; width:1px; height:92px; text-align:center; display: inline-table}
.OrderListMiddle .NumBox{ width:85px;line-height:45px;}
.OrderListMiddle .ListAllPrice{ width:158px;}
.OrderListMiddle .ListAllPrice p{ padding-top:3px;}
.OrderListMiddle .ListStatus{ width:100px; margin:0 10px;}
.OrderListMiddle .line{ border-bottom:1px dashed #e1e5e9}
.OrderListMiddle a{ color:#c3c3c3c;}
.OrderListMiddle a:hover{ color:#00a5e3;}
.OrderListMiddle .GoPay{ width:60px; height:22px; line-height:22px;  background:#ffa943;border:1px solid #ffa943; display:inline-block; color:#fff; margin-bottom:5px;}
.OrderListMiddle .GoPay:hover{ color:#fff; background:#ffa132;}
.CarImg{ width:112px; height:85px;}
.CarOrderDate{ padding-left:40px; position:relative;font-size: 13px;}
.CarOrderDate .squar{ width:14px; height:24px; border:1px solid #90c31f; border-right:0; display:inline-block; position:absolute; top:50%; left:20px; margin-top:-13px;}
.CarOrderDate .HowDate{ background:#90c31f;width:35px; height:16px; line-height:16px; text-align:center; color:#fff; display:inline-block; position:absolute; top:50%; left:0; margin-top:-8px;}
.CarOrderDate p{height:18px;overflow: hidden;line-height: 18px;}

/*高级定制订单详情*/
.MorderDetailBox {color: #999;}
.MorderDetailTit{height: 39px;border-bottom: 1px solid #55b0ff;}
.MorderDetailTit .name{float: left;height: 18px;line-height: 18px; border-left: 5px solid #55b0ff; padding-left: 5px; color: #55b0ff;font-size: 16px;font-weight: bold; padding-right: 10px;margin-top: 3px;}
.MorderDetailBox th{font-weight: normal;text-align: left;}
.MorderDetailBox th,.MorderDetailBox td{padding: 10px 0;}
.MorderDetailBox span{padding-right: 40px;}
.MorderDetailBox .Destination li{float: left; margin:0 10px 8px 0;position: relative;}
.MorderDetailBox .Destination li a{padding: 0 15px; height: 29px;line-height: 29px;border: 1px solid #ffa943;color: #ffa943;display: inline-block;cursor: default;}
.MorderDetailBox #Destination li a{cursor: pointer;}

.OrderDetailHead{border: 1px solid #eaeef2;}
.OrderDetailHead th{height: 30px; background: #eaeef2; font-weight: normal;text-align: left; padding: 0 15px;}
.OrderDetailHead td{ padding: 15px;}
.OrderDetailHead .tit a{color: #55b0ff;font-weight: bold;font-size: 16px;}
.OrderDetailHead .price{ color:#ff5863; height:24px; overflow:hidden}
.OrderDetailHead .price span{ font-size:24px}
.OrderDetailHead .GoPay{ width:60px; height:22px; line-height:22px; background:#ffa943;border:1px solid #ffa943; display:inline-block; color:#fff; margin-bottom:5px;}
.OrderDetailHead .GoPay:hover{ color:#fff; background:#ffa132;}
.OrderDetailHead .mm a{margin: 0 8px;}

#Destination li:hover .DestBox{display: inline-block;}
.DestBox{width: 391px; position: absolute; bottom: 30px;left:50%;  margin-left:-195px;z-index: 10;text-align: left;display: none;}
.DestBoxT{background:url(http://images.57us.com/img/user/BoxTop.png) left top no-repeat;height: 21px; overflow: hidden;}
.DestBoxB{background:url(http://images.57us.com/img/user/BoxBottom.png) left top no-repeat;height: 37px; overflow: hidden;}
.DestBoxM{background:url(http://images.57us.com/img/user/BoxBg.png) left top repeat-y;height: auto;overflow: hidden;padding: 0 33px;}
.DestBoxM table{padding-top: 8px;}
.DestBoxM td,.DestBoxM th{text-align: left; padding: 7px 0;font-weight: bold;}
.DestBoxM th{color: #999999; min-width: 50px;}
.DestBoxM td b{ color: #999999;padding-right: 12px; font-weight: normal;}
.DestBoxM .tit{height: 50px;line-height: 50px;border-bottom: 1px solid #e0e0e0;font-size: 18px; color: #55b0ff;}
/*退款流程*/
.RefundBox{border:1px solid #eaeef2;border-top: 0;height: auto;overflow: hidden;font-size: 16px;padding:20px 45px 20px 20px;}
.RefundBoxLc{background:url(http://images.57us.com/img/user/Refund1.png) no-repeat;width: 575px;height: 80px; float: left;}
.RefundBoxLc2{background:url(http://images.57us.com/img/user/Refund2.png) no-repeat;}
.RefundBoxLc3{background:url(http://images.57us.com/img/user/Refund3.png) no-repeat;}
.RefundBox .date{ margin: 25px 0 0 0; }

/*租车订单详情*/
.CarOrderDetail{width: 806px; height: auto;overflow: hidden; padding-left: 16px;}
.GetCarDetailBox{ height:83px; overflow:hidden;}
.GetCarDetailBox img{ width:112px; height:85px; float:left; margin-right:40px;}
.GetCarDetailBox .tit{height: 35px;line-height: 35px;overflow: hidden;font-weight: bold;font-size: 16px;color: #55b0ff;display: block;}
.CarOrderDetail .nr {line-height: 30px;}
.GetCarFun{ padding-top:5px; }
.GetCarFun span{ float:left; margin-right:15px; padding-right: 5px;}
.GetCarFun span .ico{ background:url(http://images.57us.com/img/user/UserCarIcon.png) no-repeat; width:18px; height:18px; display:inline-block; vertical-align:middle;}
.GetCarFun span.i1 .ico{ background-position:-30px 0;}
.GetCarFun span.i2 .ico{ background-position:-60px 0;}
.GetCarFun span.i3 .ico{ background-position:0px 0;}
.GetCarFun span.i4 .ico{ background-position:-90px 0;}

.GetCarDetailIns{ position:relative; padding:10px 0 0 40px;}
.GetCarDetailInsLi{padding-bottom: 15px;}
.GetCarDetailInsLi span{ margin-right:25px;}
.GetCarDetailIns .Inico{  width:25px; height:60%; position:absolute; top:12px; left:16px;border-left: 1px solid #c9c9c9 }
.GetCarDetailIns .Inico i{background:url(http://images.57us.com/img/user/UserCarIcon.png) no-repeat;width: 19px;height: 19px;display: inline-block; position: absolute;left: -10px;}
.GetCarDetailIns .Inico i.i1{background-position: -210px 0;top: 0;}
.GetCarDetailIns .Inico i.i2{background-position: -240px 0;bottom: 0;}
.GetCarDetailIns .ShowShop{ position: absolute;top: 50%; margin-top: -12px;left: 430px; color: #00a5e3; cursor: pointer;}
.GetCarDetailIns .ShowShop i{background:url(http://images.57us.com/img/user/UserCarIcon.png) -266px 4px no-repeat;width: 20px; height: 20px; display: inline-block;vertical-align: middle;overflow: hidden;}
.PilotTab{background: #e8e8e8; color: #999;}
.PilotTab th{font-weight: normal; text-align: center;}
.PilotTab td{background: #f6faff;text-align: center;}
.GetCarDetailInsLi td{padding: 0;}

.GetCarCer{background:url(http://images.57us.com/img/user/UserCarRent.png) no-repeat;width: 203px; height: 404px; overflow: hidden; margin: 20px 20px 0 0; padding-top: 90px;}
.GetCarCompany,.GetCarCompany img{width: 83x; height: 38px; margin-left: 57px;}
.GetCarCer .Print{color: #fff; text-align: left !important; text-indent: 47px;}
.GetCarCerBtn{background:#da8f3f;width: 123px;height:36px;line-height: 36px; text-align: center;color: #fff; margin:15px auto 0; display: block;}
.GetCarCerBtn:hover{background:#d38633;color: #fff;}
/*签证订单详情*/
.OrderDetailTable{ background:#afafaf; font-size:16px; width: 92%; }
.OrderDetailTable th{color:#fff; font-weight:normal; text-align: center;}
.OrderDetailTable td{ background:#f7f8f8; text-align:center}

/*酒店订单*/
.PrintOrder,.RoomTip{ padding: 0 5px;border: 1px solid #ffa943;color: #ffa943; font-size: 14px;font-weight: normal; display: inline-block; vertical-align: middle; height: 20px; line-height: 20px;}
.RoomTip{height: 18px;line-height: 18px;margin-right: 10px;}
.PrintOrder:hover{color: #ffa943;}
.HotelOrderDetail{ padding: 0 280px 0 25px; min-height:190px;height: auto;overflow: hidden;position: relative;}
.HotelOrderDetail .ChatEwm{background:url(http://images.57us.com/img/hotel/ChatEwm.png) no-repeat;width: 157px;height: 179px; position: absolute;top:15px;right: 30px;}
.HotelOrderDetail table span{padding-right:40px;}
.HotelOrderDetail .RoomManInsLis{margin-top: -5px;}
.HotelOrderDetail .RoomManInsLis li{height: 35px;line-height: 35px;overflow: hidden;}
/*登陆后设置密码*/
.PopSetp{ background: #fff; padding:25px 0px; width: 352px; margin: 0 auto;border-radius: 8px;}
.StepPop .layui-layer-btn{padding: 0; text-align: center;}
.StepPop .layui-layer-btn a{ width: 352px; height: 46px; line-height: 46px; text-align: center; color: #ffffff;font-size: 18px; display: inline-block;border-radius: 4px;padding: 0;border: 0;font-size: 18px; margin-bottom: 25px;}
.StepPop .layui-layer-btn0{background: #2b9cff;}
.StepPop .layui-layer-btn1{background: #d4d4d4;color: #666666 !important;}
.LoginBoxTit{font-size: 24px; color: #666666;}
.Loinput{ width: 350px; height: 46px; line-height: 46px;overflow: hidden; position: relative;}
.Loinput i{width: 44px; height: 44px; display: inline-block; position: absolute; top: 1px; left: 1px;z-index: 10;}
.Loinput input{width:348px; height: 44px; line-height: 44px; border: 1px solid #d4d4d4; text-indent: 44px; font-size: 16px;}
.WordInput i{background:url(http://images.57us.com/img/user/Login3.png) 8px -42px no-repeat; }
.ErroTip{display: none;}
.ErroTip i{ background:url(http://images.57us.com/img/user/Login3.png) -6px -203px no-repeat;width: 16px;height: 16px;display: inline-block; vertical-align: middle; margin-right: 5px;}
.Erro input{border-color:#ff685d;}
.Erro .ErroTip{display: inline-block;}

/*申请退款*/
.ReRefund{}
.CancePop{  height: auto;min-height:90px; width:250px;}
.CancePop i{background:url(http://images.57us.com/img/hotel/check.png) no-repeat;width: 13px;height: 13px;display: inline-block;vertical-align:top;margin: 8px 5px 0 0;}
.CancePop .rb_active i{background:url(http://images.57us.com/img/hotel/checked.png) no-repeat;}
.CancePop p{line-height: 30px;}

/*2016-8-17start*/
.LineTab table{background: #afafaf; font-size: 16px; text-align: center;}
.LineTab table th{text-align: center; color: #fff;}
.LineTab table td{background: #fff; line-height: 30px; padding: 15px 0;}
.LineTab table td.t1{ padding:15px 40px;text-align: left;}
.LineTab table .blue{color: #55b0ff;}
.LineTab table .line{width: 95px; border-bottom: 1px dashed #dcdcdc; margin: 0 auto; height: 0; display:block; overflow: hidden;}
.contTab{padding: 20px 0 0 0; text-align: center;}
.contTab .t1{text-align: left;}
.contTab th{font-size: 16px;border-bottom: 1px solid #e0e0e0; text-align: center;}
.contTab td{padding: 10px 0;}

/*20170113评价增加*/
.pjbody{background: #fff;}
.pjdetailTit{}
.otherIns{color: #999;}
.otherIns span{padding: 0 10px;}
.otherIns span .c6{color: #666;}

.pjhead{width:400px; height: auto;padding:20px; text-align: center;border-right: 1px solid #f5f5f5;float: left;}
.pjhead img{width: 400px;height: 300px;}
.pjhead .tit{font-size: 16px;text-align: left;}
.pjhead .nr{color: #666666;line-height:28px;border-top: 1px solid #f5f5f5; padding-top:8px;}
.pjhead .nr p{width: 50%; float: left; text-align: left;}

.pjcont{width: 715px; height: auto; overflow:hidden; padding:20px; float: right;}
.pjboxt{font-size: 16px; color: #666;padding: 0 0 15px;}
.pjboxList{width: 100%;}
.pjboxList li{width: 50%; float: left;padding-bottom: 10px;}
.pjbottom{height: auto;overflow: hidden;padding: 20px; text-align: center;}
.pjbottom .btn{ background: #55b0ff; font-size: 20px; padding: 0 35px; height:45px; line-height: 45px; text-align: center; border-radius: 5px; color: #fff;display: inline-block;vertical-align: top;}
.pjbottom .btn:hover{background: #49aafe;}
.pjname{width: 100px;font-size: 15px;color: #999;}
.pjtext{ height: 100px;border: 1px solid #ebebeb; resize: none;padding: 15px;width: 683px;font-family: "微软雅黑";}
.pjPicAdd{}
.pjPicAdd li{width:80px;height: 60px;float: left;position: relative;margin: 0 8px 8px 0;}
.pjPicAdd li img{width: 80px; height: 60px;}
.pjPicAdd li.last{width: 200px; line-height: 60px;color: #999;}
.pjPicAdd li.addPic{ background: url(http://images.57us.com/img/user/camera.png) no-repeat #f7f7f7; border: 1px solid #dddddd;border-radius: 2px;width:58px;height: 58px;cursor: pointer;}
.pjPicAdd li .pjclose{background: url(http://images.57us.com/img/user/plclose.png) no-repeat; width:18px; height: 18px;display: block;position: absolute;top:3px;right: 3px;cursor: pointer;display: none;}
.pjPicAdd li:hover .pjclose{display: block;}
.OrderListMiddle a.gopj{height: 24px;border: 1px solid #00a5e3;color: #00a5e3; display: inline-block;padding: 0 12px;border-radius: 2px;margin-top: 5px;}
.OrderListMiddle a.gopj:hover{background: #00a5e3;color: #fff;}
