<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>签证支付</title>
	<link href="{echo CssURL}/common/reset.css" rel="stylesheet" type="text/css" />
	<link href="{echo CssURL}/common/TourPublic.css" rel="stylesheet" type="text/css" />
	<script src="{echo JsURL}/base/jquery/1.10.2/jquery.min.js"></script>
	<script src="{echo JsURL}/base/base.js"></script>
	<!--
        作者：xiao15980751809@126.com
        时间：2016-11-23
        描述：签证样式
    -->
	<link href="{echo CssURL}/visa/visa3.0.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="wrap">
	<div class="OrderHeader">
		<div class="w1200 cf">
			<a href="http://3w.57us.com" class="NewsLogo" title="57美国网">57美国网</a>
			<ul class="TourLineProcess">
				<li class="on"><span>填写信息</span><i>1</i><em></em></li>
				<li class="on"><span>支付</span><i>2</i><em></em></li>
				<li><span>完成</span><i>3</i><em></em></li>
			</ul>
		</div>
	</div>
	<div class="cf w1000 ordermain mt45">
		<div class="payCont">
			<div class="SurplusPay">
				剩余<div class="red Countdown"><span id="RemainD" class="hidden">天</span><span class="hours"
																							 id="RemainH"></span>小时:<span
					class="minutes" id="RemainM"></span>分:<span class="seconds" id="RemainS"></span>秒<span id="RemainU"
																										   class="hidden"></span>
			</div>完成支付，逾期订单将自动取消
				<span id="numb" style="display: none"></span>
			</div>
			<table border="0" cellspacing="0" cellpadding="0" width="100%" class="payCont">
				<tbody>
				<tr height="40">
					<td colspan="3">订单号：<span>{$OrderInfo['OrderNumber']}</span></td>
				</tr>
				<tr height="40">
					<td colspan="3">产品编号：<span>{$OrderInfo['VisaID']}</span></td>
				</tr>
				<tr height="40">
					<td>订单名称：<span>{$OrderInfo['OrderName']}</span> </td>
				</tr>
				<tr height="40">
					<td>出行日期：<span>{$OrderInfo['GoDate']}</span></td>
				</tr>
				<tr height="40">
					<td>数量：<span>{$OrderInfo['Num']}</span></td>
				</tr>
				</tbody>
			</table>
		</div>
		<div class="PayStyleBox ">
			<div class="hd"><a href="JavaScript:void(0)" class="on">微信支付</a><a href="JavaScript:void(0)">支付宝支付</a></div>
			<div class="bd">
				<div class="BdTab" style="display: block;">
					<div class="ChatPay"></div>
					<div class="PayOrderFoot mt15">
						<a href="{echo WEB_MEMBER_URL}/payvisa/pay/?no={$NO}&type=wxpay" class="nextPay fr">去支付</a>
						<p class="allPrice  fr">总价：<b>￥<i>{$OrderInfo['Money']}</i></b></p>
					</div>
				</div>
				<div class="BdTab">
					<div class="Alipay"></div>
					<div class="PayOrderFoot mt15">
						<a href="{echo WEB_MEMBER_URL}/payvisa/pay/?no={$NO}&type=alipay" class="nextPay fr">去支付</a>
						<p class="allPrice  fr">总价：<b>￥<i>{$OrderInfo['Money']}</i></b></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="cf mt30"></div>
{template VisaFooter}
{if strtotime($OrderInfo[ExpirationTime])>time()}
<script type="text/javascript" language="JavaScript">
    $(".PayStyleBox .hd a").click(function(){
        var num = $(this).index();
        $(this).addClass("on").siblings().removeClass("on");
        $(this).parents(".PayStyleBox").find(".BdTab").hide().eq(num).show();
    })
	var ExpirationTime = '{$OrderInfo[ExpirationTime]}'; //倒计时终止时间
	var ServerTime = '{echo date("Y-m-d H:i:s",time())}'; //服务器时间
</script>
<script type="text/javascript" src="{echo JsURL}/base/Countdown/1.0/Countdown.js"></script>
{/if}
</body>
</html>