{template Header}
<div class="page-group">
    <div class="page page-current loginPage" id="index1">
        <header class="bar bar-nav loginBar">
            <a href="javascript:window.history.back();" class="pull-left back backBtn"><i class="icon iconfont icon-left"></i></a>
            <h2 class="title">重置密码</h2>
        </header>
        <div class="content">
            <div class="loginCont">
                <div class="erroTip" style="display: none">
                    <i class="icon iconfont icon-close"></i><span class="erroIfno"></span>
                </div>
                <p class="loginT">请填写要找回的账号</p>
                <div class="mt30 cf">
                    <div class="loginInput">
                        <div class="input"><input type="text" name="user" value="" class="user" placeholder="请输入手机号码或者邮箱" /></div>
                    </div>
                    <div class="loginInput">
                        <div class="input"><input type="text" name="imgCode" value="" class="imgCode" placeholder="请输入图形验证码" /></div>
                        <div class="picYz">
                            <img src="/code/pic.jpg" class="img_yzm click_code" width="155" height="54"/>
                        </div>
                    </div>
                    <div class="loginInput">
                        <div class="input"><input type="text" name="code" value="" class="code" placeholder="请输入验证码" /></div>
                        <input type="button" class="sendSm" name="codeBtn" id="codeBtn" value="获取动态密码">
                    </div>
                </div>
                <div class="mt20">
                    <a href="javascript:void(0)" class="button button-fill loginBtn nextBtn">提交</a>
                </div>
            </div>
        </div>
    </div>
    <div class="page page-current loginPage" id="index2" style="display: none">
        <header class="bar bar-nav loginBar">
            <a href="javascript:void(0)" class="pull-left back backBtn"><i class="icon iconfont icon-left"></i></a>
            <h2 class="title">重置密码</h2>
        </header>
        <div class="content">
            <div class="loginCont">
                <div class="erroTip" style="display: none">
                    <i class="icon iconfont icon-close"></i><span class="erroIfno"></span>
                </div>
                <p class="loginT">输入新的密码</p>
                <div class="mt30 cf">
                    <div class="loginInput">
                        <div class="input"><input type="password" name="password" value="" class="password" placeholder="6-20位数字、字母或者符号组合" /></div>
                    </div>
                    <div class="loginInput">
                        <div class="input"><input type="password" name="rePassword" value="" class="rePassword" placeholder="再次输入新密码" /></div>
                    </div>
                </div>
                <div class="mt20">
                    <a href="javascript:void(0)" class="button button-fill loginBtn regitBtn">重置密码</a>
                </div>
            </div>
        </div>
    </div>
</div>
{template Footer}
<script type='text/javascript' src="{echo JsURL}/m/muser/MuserResetPassword.js" charset='utf-8'></script>
<script type='text/javascript' src="{echo JsURL}/m/muser/MuserLoginPublic.js" charset='utf-8'></script>
</body>
</html>