{template Header}
<div class="page-group">
	<div class="page page-current">
		<header class="bar bar-nav suvBar">
			<a href="javascript:window.history.back();" class="pull-left back backBtn"><i class="icon iconfont icon-left"></i></a>
			<h2 class="title">修改密码</h2>
		</header>
		<div class="content">
			<form id="editPassword">
				<div class="changPass">
					<div class="changeList">
						<span class="listName">当前密码</span>
						<div class="listInput">
							<input type="password" name="oldPassword" id="oldPassword" value="" placeholder="请输入当前密码"/>
						</div>
					</div>
					<div class="changeList">
						<span class="listName">新密码</span>
						<div class="listInput">
							<input type="password" name="newPassword" id="newPassword" value="" placeholder="请输入6位以上密码"/>
						</div>
					</div>
					<div class="changeList">
						<span class="listName">确认密码</span>
						<div class="listInput">
							<input type="password" name="rePassword" id="rePassword" value="" placeholder="请重复输入新密码"/>
						</div>
					</div>
					<div class="sendBox">
						<a href="javascript:void(0)" class="button button-fill button-orange" id="saveBtn">保存</a>
					</div>
				</div>
				<input type="submit" class="hidden">
			</form>
		</div>
	</div>
</div>
{template Footer}
<script type='text/javascript' src="{echo JsURL}/m/muser/MuserEditPassword.js" charset='utf-8'></script>
</body>
</html>