{template Header}
<div class="page-group">
	<div class="page page-current">
		<header class="bar bar-nav indexBar">
			<p class="pull-left">
				<span class="homeBtn"><a href="{echo WEB_M_URL}/tour/"<i class="icon iconfont icon-home"></i></a></span>
			</p>
			<p class="pull-right">
				<span class="newsBtn">
					{if $_SESSION['IsHaveMessage']}<em class="redTip"></em>{/if}
					<a href="/member/messagelist/"><i class="icon iconfont icon-message"></i></a>
				</span>
			</p>
		</header>
		<div class="content ">
			<div class="userCont tac">
				<a href="{echo WEB_MUSER_URL}/member/information/"><img src="{echo LImageURL}{$UserInfo[Avatar]}" />
					<p class="mt10">{$UserInfo[NickName]}</p></a>
			</div>
			<div class="list-block mt0">
				<ul>
					<li>
						<a href="/musertour/myorder/" class="item-link item-content">
							<div class="item-inner">
								<div class="item-title">出游订单</div>
							</div>
						</a>
					</li>
					<li>
						<a href="{echo WEB_MUSER_URL}/member/mywallet/" class="item-link item-content">
							<div class="item-inner">
								<div class="item-title">我的资产</div>
							</div>
						</a>
					</li>
					<li>
						<a href="{echo WEB_MUSER_URL}/member/collection/?t=tour" class="item-link item-content">
							<div class="item-inner">
								<div class="item-title">旅游收藏</div>
							</div>
						</a>
					</li>
					<li>
						<a href="/musertour/commoninfo/" class="item-link item-content">
							<div class="item-inner">
								<div class="item-title">常用信息</div>
							</div>
						</a>
					</li>
					<li>
						<a href="{echo WEB_MUSER_URL}/member/editpassword/" class="item-link item-content">
							<div class="item-inner">
								<div class="item-title">修改密码</div>
							</div>
						</a>
					</li>
					<li>
						<a href="javascript:void(0)" class="item-link item-content chat">
							<div class="item-inner">
								<div class="item-title">联系客服</div>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!--百度商桥页面-->
<div class="page" id="chat">
	<!-- 标题栏 -->
	<header class="bar bar-nav suvBar">
		<a href="javascript:void(0)" class="pull-left back backBtn close"><i class="icon iconfont icon-left"></i></a>
		<h2 class="title">在线咨询</h2>
	</header>
	<div class="content">
	</div>
</div>
{template Footer}
</body>
</html>