{template Header}
<div class="page-group">
	<div class="page page-current" id="orderAll">
		<header class="bar bar-nav suvBar">
			<a href="" class="pull-left back backBtn"><i class="icon iconfont icon-left"></i></a>
			<h2 class="title">评价</h2>
		</header>
		<div class="content">
			<div class="pjShop card">
				<div class="card-header">{$BaseInfo['ProductName']}</div>
				<div class="card-content">
					<div class="card-content-inner cf">
						<span class="pull-left">价格：<em class="red">￥{echo ceil($OrderInfo[TotalAmount])}</em></span>
						<span class="pull-right">出行时间：{echo date('Y-m-d',strtotime($PriceInfo['Date']))}</span>
					</div>
				</div>
			</div>
			<div class="cf detailBox">
				<textarea name="evaluationText" id="evaluationText" rows="" cols="" class="pjtextarea" placeholder="写下你此次旅行的真实感受，字数不少于20"></textarea>
				<div class="deta-in">
					<ul class="picList cf">
						<li class="addLi">
							<i class="icon iconfont icon-add"></i>
							<input type="file" name="imgBtn" id="imgBtn" value="" accept="image/jpg,image/jpeg,image/png" multiple onchange="imgChange();" style="background-color:rgba(0,0,0,0);opacity:0;position: relative;left: 0; top:-3rem;width:3rem;height: 3rem;line-height: 3rem;" />
						</li>
					</ul>
					<p class="c9">最多上传10张照片</p>
					<div class="pjstart" id="pjstart">
						<div class="pjstartLi">
							<span class="name">导游服务</span>
							<p class="startB" id="ServerFraction">
								<span><i class="icon iconfont icon-start"></i></span>
								<span><i class="icon iconfont icon-start"></i></span>
								<span><i class="icon iconfont icon-start"></i></span>
								<span><i class="icon iconfont icon-start"></i></span>
								<span><i class="icon iconfont icon-start"></i></span>
							</p>
						</div>
						<div class="pjstartLi">
							<span class="name">行程安排</span>
							<p class="startB" id="ConvenientFraction">
								<span><i class="icon iconfont icon-start"></i></span>
								<span><i class="icon iconfont icon-start"></i></span>
								<span><i class="icon iconfont icon-start"></i></span>
								<span><i class="icon iconfont icon-start"></i></span>
								<span><i class="icon iconfont icon-start"></i></span>
							</p>
						</div>
						<div class="pjstartLi">
							<span class="name">餐饮住宿</span>
							<p class="startB" id="ExperienceFraction">
								<span><i class="icon iconfont icon-start"></i></span>
								<span><i class="icon iconfont icon-start"></i></span>
								<span><i class="icon iconfont icon-start"></i></span>
								<span><i class="icon iconfont icon-start"></i></span>
								<span><i class="icon iconfont icon-start"></i></span>
							</p>
						</div>
						<div class="pjstartLi">
							<span class="name">出行交通</span>
							<p class="startB" id="PerformanceFraction">
								<span><i class="icon iconfont icon-start"></i></span>
								<span><i class="icon iconfont icon-start"></i></span>
								<span><i class="icon iconfont icon-start"></i></span>
								<span><i class="icon iconfont icon-start"></i></span>
								<span><i class="icon iconfont icon-start"></i></span>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="sendBox">
				<!--data-id 产品id， data-order订单号-->
				<a href="javascript:void(0)" class="button button-fill button-orange" id="saveBtn" data-id="{$BaseInfo[TourProductID]}" data-order="{$OrderInfo[OrderNumber]}" data-type="1">提交</a>
			</div>
		</div>
	</div>
</div>
{template Footer}
<script type='text/javascript' src="{echo JsURL}/m/muser/MuserTourEvaluate.js" charset='utf-8'></script>
</body>
</html>