{template Header}
		<div class="page-group">
			<div class="page page-current" id="withdraw">
				<!--
                	作者：xiao15980751809@126.com
                	时间：2017-02-16
                	描述：遮罩
                -->
				<div class="popmask"></div>
				<header class="bar bar-nav suvBar">
					<a href="javascript:window.history.back();" class="pull-left back backBtn"><i class="icon iconfont icon-left"></i></a>
					<p class="title">提现</p>
					<div class="pull-right headMenu">
						<i class="icon iconfont icon-caidan"></i>
					</div>
				</header>
				<div class="content ">
					<div class="txsuccess">
						<div class="txsuccessCont mt10">
							<div class="text">
								<span class="textIcon"><i class="icon iconfont icon-dagou"></i></span>
								<p class="tit">提现已提交</p>
								<p class="c9">预计1-3个工作日到帐</p>
								<p class="mt10">
									<a href="/member/withdraw/" class="button button-warning backPage">返回</a>
								</p>

							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
{template Footer}
	</body>

</html>