<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{$Title}</title>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" href="{echo CssURL}/m/msui/0.6.2/sm.min.css">
	<link rel="stylesheet" href="{echo CssURL}/m/msui/0.6.2/sm-extend.min.css">
	<link rel="stylesheet" href="{echo CssURL}/m/lib/reset.css">
	<link rel="stylesheet" href="{echo CssURL}/m/study/style.css">
	<!--<link rel="stylesheet" href="{echo WEB_M_URL}/Plugins/pfonts/iconfont.css">-->
        <!--
        	作者：xiao15980751809@126.com
        	时间：2017-02-20
        	描述：临时
       -->
        <link rel="stylesheet" href="//at.alicdn.com/t/font_dbc6bmvuamrt3xr.css" />
</head>
<body>