{template OrderHeader}
    <div class="cf w1000 ordermain mt45">
        <div class="payCont">
            <div class="SurplusPay">
                剩余<div class="red Countdown"><span id="RemainD" class="hidden">天</span><span class="hours" id="RemainH"></span>小时:<span class="minutes" id="RemainM"></span>分:<span class="seconds" id="RemainS"></span>秒<span id="RemainU" class="hidden"></span><span id="numb" class="hidden"></span></div>完成支付，逾期订单将自动取消
            </div>
            <table border="0" cellspacing="0" cellpadding="0" width="100%" class="payCont">
                <tbody>
                <tr height="40">
                    <td colspan="3">订单号：<span>{$OrderNumber}</span></td>
                </tr>
                <tr height="40">
                    <td colspan="3">产品编号：<span>{$OrderInfo['TourProductID']}</span></td>
                </tr>
                <tr height="40">
                    <td>套餐名称：<span>{if $LineInfo[ProductPackage]}{$LineInfo[ProductPackage]}{else}{$LineInfo[ProductName]}{/if}</span> </td>
                </tr>
                <tr height="40">
                    <td>出发日期：<span>{$OrderInfo['Depart']}</span></td>
                </tr>
                <tr height="40">
                    <td>出行人数：<span>{$PeopleNum}</span>人</td>
                </tr>
                </tbody></table>
        </div>
        <div class="PayStyleBox ">
            <div class="hd"><a href="JavaScript:void(0)" class="on">微信支付</a><a href="JavaScript:void(0)">支付宝支付</a></div>
            <div class="bd">
                <div class="BdTab" style="display: block;">
                    <div class="ChatPay"></div>
                    <div class="PayOrderFoot mt15">
                        <a href="/group/pay/?Type=wxpay&ID={$OrderNumber}" class="nextPay fr">去支付</a>
                        <p class="allPrice  fr">总价：<b>￥<i>{$Order[TotalAmount]}</i></b></p>
                    </div>
                </div>
                <div class="BdTab">
                    <div class="Alipay"></div>
                    <div class="PayOrderFoot mt15">
                        <a href="/group/pay/?Type=alipay&ID={$OrderNumber}" class="nextPay fr">去支付</a>
                        <p class="allPrice  fr">总价：<b>￥<i>{$Order[TotalAmount]}</i></b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{template Footer}
<script type="text/javascript" src="{echo JsURL}/tour/TourPlayOrderNew.js"></script>
{if strtotime($Order[ExpirationTime])>time()}
<script type="text/javascript" language="JavaScript">
    var ExpirationTime = '{$Order[ExpirationTime]}'; //倒计时终止时间
    var ServerTime = '{echo date("Y-m-d H:i:s",time())}'; //服务器时间
</script>
<script type="text/javascript" src="{echo JsURL}/base/Countdown/1.0/Countdown.js"></script>
{/if}
</body>
</html>