{template StudyConsultantManageTop}
<link href="{echo CssURL}/study/studyStyleCenter3.0.css" rel="stylesheet" type="text/css" />
<div class="w1200 cf tac">
    <div class="ServiceSave">
        <span class="ico auditIco"></span>
        <p class="ServiceSaveT tal">{$ServiceInfo[ServiceName]}</p>
        <p class="ServiceSaveSure tal mt15">已提交给57us审核！</p>
        <p class="mt30 tal">您可在 <a href="/consultantmanage/servicelist/?S=1">我的服务->正在审核</a>查看 <a href="/consultantmanage/addservice/"> 继续添加服务</a></p>
    </div>
</div>
{template Footer}
</body>
</html>