{template StudyConsultantManageTop}
<link href="{echo CssURL}/study/studyStyleCenter3.0.css" rel="stylesheet" type="text/css" />
<div class="w1200 cf Studylocation">当前位置：
    <a href="/consultantmanage/myorder/">我的订单</a>><span>订单详情</span></div>
<div class="w1200 cf">
    <table border="0" cellspacing="1" cellpadding="0" width="100%" class="OrderDetailTab">
        <tr>
            <th colspan="6">
                <div class="MyOrderBody">
                    <img src="{$MemberInfo['Avatar']}" width="60" height="60">
                    <p class="fl StudentName">{$MemberInfo[NickName]}</p>
                    <span class="MyOrderStyle fl"><em></em>{$Status[$OrderInfo[Status]]}</span>
                    <p class="MyOrderSe fl">服务名称：<span class="red">{$ServiceInfo[ServiceName]}</span></p>
                    <p class="MyOrderSe fl">服务类型：{$ServiceType[$ServiceInfo[ServiceType]]}</p>
                </div>
            </th>
        </tr>
        <tr height="54">
            {loop $OrderConsultant $key $lists}
            <td>{$Part[$lists['Type']]['Title']}</td>
            {/loop}
            <td>总金额</td>
        </tr>
        <tr height="54">
            {loop $OrderConsultant $key $lists}
            <td><span class="red f16">¥ {$lists[Amt]}{if $lists[Status]==3}（已结算）{else}（待结算）{/if}</span></td>
            {/loop}
            <td><span class="red f16">¥ <em class="f22">{$CountMoney}</em></span></td>
        </tr>
    </table>
    <div class="cf ProcessFlow mt30">
        <div class="ProcessFlowT">
            <span class="name fl">办理流程</span>
        </div>
        <ul class="QuestionProcess mt50">
            <li class="{if $OrderInfo[IsHesitate]>=0}circle{else}carryOut{/if}">
                <span class="carryOut"></span>
                <div class="QuestionL">
                    <p class="tit">分析意向</p>
                    <p class="time mt5">{echo date("Y-m-d H:i",$OrderInfo[AddTime])}</p>
                </div>
                <div class="QuestionR cf">
                    <em class="sj"></em>
                    <div class="QuestionRl">
                        <p>学生有三天的犹豫期，期间学生不满意可以申请退款。</p>
                    </div>
                </div>
            </li>
            <li class="{if $OrderInfo[IsHesitate]==1}circle{elseif $OrderInfo[IsHesitate]==0}carryOut{/if}">
                <span class="carryOut"></span>
                <div class="QuestionL">
                    <p class="tit">签约完成</p>
                    <p class="time mt5">{echo date("Y-m-d H:i",$OrderInfo[AddTime])}</p>
                </div>
                <div class="QuestionR cf">
                    <em class="sj"></em>
                    <div class="QuestionRl">
                        <p>签约成功后，展开服务。</p>
                    </div>
                </div>
            </li>
            {loop $OrderConsultant $key $list}
            {if $list[TypeName]=='Questionnaire'}
            <li class="{if $list[Status]==3}circle{else}carryOut{/if}">
                <span class="carryOut"></span>
                <div class="QuestionL">
                    <p class="tit">信息收集</p>
                    <p class="time mt5">{echo date("Y-m-d H:i",$list[ConfirmTime])}</p>
                    <p class="Settlement">结算20%</p>
                </div>
                <div class="QuestionR cf">
                    <em class="sj"></em>
                    <div class="QuestionRl">
                        <p>发送信息收集表给学生填写。</p>
                    </div>
                </div>
            </li>
            {/if}
            {/loop}
            {loop $OrderConsultant $key $list}
            {if $list[TypeName]=='ChooseSchool'}
            <li class="{if $list[Status]==3}circle{else}carryOut{/if}">
                <span class="carryOut"></span>
                <div class="QuestionL">
                    <p class="tit">选校定校</p>
                    <p class="time mt5">{echo date("Y-m-d H:i",$list[ConfirmTime])}</p>
                </div>
                <div class="QuestionR cf">
                    <em class="sj"></em>
                    <div class="QuestionRl">
                        <p>根据学生的情况，推荐合适的院校。</p>
                    </div>
                </div>
            </li>
            {/if}
            {/loop}
            {loop $OrderConsultant $key $list}
            {if $list[TypeName]=='Document'}
            <li class="{if $list[Status]==3}circle{else}carryOut{/if}">
                <span class="carryOut"></span>
                <div class="QuestionL">
                    <p class="tit">文书材料</p>
                    <p class="time mt5">{echo date("Y-m-d H:i",$list[ConfirmTime])}</p>
                    <p class="Settlement">结算20%</p>
                </div>
                <div class="QuestionR cf">
                    <em class="sj"></em>
                    <div class="QuestionRl">
                        <p>顾问提交CV</p>
                        <p>顾问提交RL</p>
                        <p>顾问提交PS</p>
                        <p>顾问提交Essay</p>
                    </div>
                </div>
            </li>
            {/if}
            {/loop}
            {loop $OrderConsultant $key $list}
            {if $list[TypeName]=='SchoolApply'}
            <li class="{if $list[Status]==3}circle{else}carryOut{/if}">
                <span class="carryOut"></span>
                <div class="QuestionL">
                    <p class="tit">学校申请</p>
                    <p class="time mt5">{echo date("Y-m-d H:i",$list[ConfirmTime])}</p>
                    <p class="Settlement">结算40%</p>
                </div>
                <div class="QuestionR cf">
                    <em class="sj"></em>
                    <div class="QuestionRl">
                        <p>为学生申请学校</p>
                        <p>收到Offer通知后，上传Offer给学生</p>
                    </div>
                </div>
            </li>
            {/if}
            {/loop}
            {loop $OrderConsultant $key $list}
            {if $list[TypeName]=='TransactVisa'}
            <li class="{if $list[Status]==3}circle{else}carryOut{/if}">
                <span class="carryOut"></span>
                <div class="QuestionL">
                    <p class="tit">办理签证</p>
                    <p class="time mt5">{echo date("Y-m-d H:i",$list[ConfirmTime])}</p>
                    <p class="Settlement">结算20%</p>
                </div>
                <div class="QuestionR cf">
                    <em class="sj"></em>
                    <div class="QuestionRl">
                        <p>为学生办理签证。</p>
                    </div>
                </div>
            </li>
            {/if}
            {/loop}
            <li class="{if $OrderInfo[Status]==3}circle{else}carryOut{/if}">
                <span class="carryOut"></span>
                <div class="QuestionL">
                    <p class="tit">完成</p>
                    <p class="time mt5">{echo date("Y-m-d H:i",$OrderInfo[UpdateTime])}</p>
                </div>
                <div class="QuestionR cf">
                    <em class="sj"></em>
                    <div class="QuestionRl">
                        <p>已上传调查表,等待学生反馈  </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
{template Footer}
<script type="text/javascript">
    $(".MyOrderDown .helpIco").each(function() {
        $(this).hover(function() {
            var content = $(this).attr("data-text")
            layer.tips(content, $(this), {
                tips: [1, '#fff'],
                skin: 'OrderTip',
                time: 400000
            });
        }, function() {
            layer.closeAll();
        })
    })
</script>
</body>
</html>