{template StudyOrderHeader}
<link href="{echo CssURL}/study/studyStyle3.0.css" rel="stylesheet" type="text/css" />
<div class="w1200 mt45 cf">
    <div class="payCont tac cf">
        <div class="ServiceSave tal" style="margin-top: 150px;">
            <span class="ico successIco"></span>
            <p class="ServiceSaveSure mt15">订单支付成功</p>
            <p class="mt30"><span>订单号：{$OrderNo}</span>&nbsp;|&nbsp;<a href="{echo WEB_STUDY_URL}">继续购买</a>&nbsp;|&nbsp;<a href="{$RedirectUrl}">返回查看订单</a><br>如有疑问请拨打：400-018-5757</p>
        </div>
    </div>
</div>
{template Footer}
<script src="{echo JsURL}/study/OrderPaySuccess.js"></script>
</body>
</html>