{template StudyStudentManageTop}
<link href="{echo CssURL}/study/studyStyleCenter3.0.css" rel="stylesheet" type="text/css" />
<div class="w1200 studentBody cf mt30">
	<div class="inforLeft fl">
		{template StudentManageLeft}
	</div>
	<div class="w898 fr">
		<ul class="MyOrderList studyTourList">
			<li>
				<div class="MyOrderHeader">
					<p>订单号：{$OrderInfo[OrderNum]}</p>
					<p>订单日期：{echo date('Y-m-d',strtotime($OrderInfo[CreateTime]))}</p>
				</div>
				<div class="MyOrderTab">
					<table border="0" cellspacing="0" cellpadding="0" width="100%">
						<tbody>
						<tr>
							<td width="130"><a href="/studytour/{$OrderInfo[YoosureID]}.html" target="_blank" title="{$OrderInfo[OrderName]}"><img src="{$OrderInfo[Image]}" width="130" height="97" alt="{$OrderInfo[OrderName]}" title="{$OrderInfo[OrderName]}"></a></td>
							<td width="393" class="borderR">
								<a href="/studytour/{$OrderInfo[YoosureID]}.html" target="_blank" title="{$OrderInfo[OrderName]}"><p class="ServiceName">{$OrderInfo[OrderName]}</p></a>
							</td>
							<td width="140"  class="borderR">
								<div class="ServicePrice">
									<p>总额</p>
									<p class="price mt10">¥<em>{$OrderInfo[Money]}</em></p>
								</div>
							</td>
							<td width="157" class="tac">
								{if $OrderInfo[Status]==1}<a href="/order/{$OrderInfo[OrderNum]}.html" class="CheckMore transition">去支付</a>{/if}
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</li>
		</ul>
		<div class="cf ProcessFlow mt30">
			<div class="ProcessFlowT">
				<span class="name fl">订单信息</span>
			</div>
			<div class="ProcessFlowM">
				<p>产品编号:  {$OrderInfo[YoosureID]}</p>
				<p>出发时间:  {$OrderInfo[GoDate]}</p>
				<p>报名人数:  {$OrderInfo[Num]}人</p>
			</div>
		</div>
		<div class="cf ProcessFlow">
			<div class="ProcessFlowT">
				<span class="name fl">出行人信息</span>
			</div>
			{loop $OrderInfo['TravelerInformation'] $key $lists}
			<div class="cf goMan">
				<p class="tit">出行人{echo $key+1}</p>
				<table border="0" cellspacing="1" cellpadding="0" class="detailTab" width="100%">
					<tr>
						<th width="80">姓名</th>
						<td width="143">{$lists['Name']}</td>
						<th width="80">是否有护照</th>
						<td width="143">{if $lists['PassPort']!=''}有{else}无{/if}</td>
						<th width="80">护照号</th>
						<td width="143">{$lists['PassPort']}</td>
					</tr>
				</table>
			</div>
			{/loop}
		</div>
		<div class="cf ProcessFlow mt20">
			<div class="ProcessFlowT">
				<span class="name fl">订单人信息</span>
			</div>
			<div class="ProcessFlowM mt10">
				<table border="0" cellspacing="1" cellpadding="0" class="detailTab" width="100%">
					<tr>
						<th width="80">姓名</th>
						<td width="143">{$OrderInfo[Contact]}</td>
						<th width="80">手机号</th>
						<td width="143">{$OrderInfo[Mobile]}</td>
						<th width="80">邮箱</th>
						<td width="143">{$OrderInfo[Email]}</td>
					</tr>
				</table>
			</div>
		</div>
		{if $OrderInfo[Message]!=''}
		<div class="cf ProcessFlow mt30">
			<div class="ProcessFlowT">
				<span class="name fl">留言信息</span>
			</div>
			<div class="ProcessFlowM">
				<p>{$OrderInfo[Message]}</p>
			</div>
		</div>
		{/if}
	</div>
</div>
{template Footer}
<link href="{echo JsURL}/base/cropper/2.3.2/cropper.css" rel="stylesheet">
<script src="{echo JsURL}/base/cropper/2.3.2/cropper.js"></script>
<script type="text/javascript" src="{echo JsURL}/study/StudentManage.js"></script>
<script src="http://js.57us.com/base/layer/2.4/layer.js"></script>
<script type="text/javascript">
    $(".MyOrderDown .helpIco").each(function() {
        $(this).hover(function() {
            var content = $(this).attr("data-text")
            layer.tips(content, $(this), {
                tips: [1, '#fff'],
                skin: 'OrderTip',
                time: 400000
            });
        }, function() {
            layer.closeAll();
        })
    })
</script>
</body>
</html>