{template StudyStudentManageTop}
<link href="{echo CssURL}/study/studyStyleCenter3.0.css" rel="stylesheet" type="text/css" />
<div class="w1200 studentBody cf mt30">
	<div class="inforLeft fl">
		{template StudentManageLeft}
	</div>
	<div class="w898 tac fr">
		<div class="NoService" style="margin-top:250px;">
			<i class="noIco"></i>
			<p class="tit mt30">您暂时还没有可用的服务</p>
		</div>
	</div>
</div>
</div>
{template Footer}
<!--图片裁剪插件-->
<link href="{echo JsURL}/base/cropper/2.3.2/cropper.css" rel="stylesheet">
<script src="{echo JsURL}/base/cropper/2.3.2/cropper.js"></script>
<script type="text/javascript" src="{echo JsURL}/study/StudentManage.js"></script>
</body>
</html>