{template StudyOrderHeader}
<link href="{echo CssURL}/study/studyStyle3.0.css" rel="stylesheet" type="text/css" />
<div class="w1200 mt45 cf">
	<div class="sureOrder">
		<div class="sureOrderL fl">
			<div class="sureOrderBox">
				<div class="sureOrderBoxT"><span class="name">订单信息</span></div>
				<div class="sureOrderBoxM">
					<ul class="deoferDetailList f16">
						<li>产品名称：{$StudyYoosure['Title']}</li>
						<li>产品编号：<span class="productid"></span></li>
						<li>出发时间：<span class="date"></span></li>
						<li>出发地：{$DeparturePlace[$StudyYoosure['DeparturePlace']]}</li>
						<li>报名人数：<span class="num"></span>人</li>
					</ul>
				</div>
			</div>
			<div class="sureOrderBox mt15 tourManList" id="tourManList">
				<div class="sureOrderBoxT"><span class="name">出行人信息</span></div>
			</div>
			<div class="sureOrderBox mt15">
				<div class="sureOrderBoxT"><span class="name">联系人信息</span></div>
				<div class="sureOrderBoxM">
					<table border="0" cellspacing="0" cellpadding="0" width="100%" class="contactTab">
						<tr>
							<th width="120">姓名：</th>
							<td>
								<div class="inputBox">
									<input type="text" name="zhname" id="zhname" value="" class="InsInput" placeholder="请输入中文姓名" style="width: 312px;" />
									<div class="erroText"></div>
								</div>
							</td>
						</tr>
						<tr>
							<th>手机号码：</th>
							<td>
								<div class="inputBox">
									<input type="text" name="phone" id="phone" value="" data-type="phone" class="InsInput" placeholder="请输入手机号码" autocomplete="off" style="width: 312px;margin-right: 10px"/>
									<div class="erroText"></div>
									<span id="yesphone" style="display: none">您的号码已注册，可立即<a href="javascript:void(0)" class="GoLogin _MustLogin" data-type="order">登录</a></span>
								</div>
							</td>
						</tr>
						<tr id="piccode" style="display: none">
							<th>验证码：</th>
							<td>
								<div class="inputBox">
									<input type="text" name="code" id="code" value="" class="InsInput" placeholder="请输入6位验证码"/>
									<input type="button" id="codebtn" value="获取验证码" class="yzmInput"/>
								</div>
							</td>
						</tr>
						<tr>
							<th>邮箱：</th>
							<td>
								<div class="inputBox">
									<input type="text" name="email" id="email" value="" class="InsInput" placeholder="便于您接受订单信息和注意事项。" autocomplete="off" style="width: 312px;margin-right: 10px"/>
									<div class="erroText"></div>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="sureOrderBox mt15">
				<div class="sureOrderBoxT"><span class="name">购买留言</span><span class="c9 f16">（选填）</span></div>
				<div class="sureOrderBoxM">
					<textarea name="message" id="message" rows="" cols="" class="feedback" placeholder="如您有什么特殊需要，请留言。"></textarea>
				</div>
			</div>
			<div class="orderFoot mt20">
				<a href="javascript:void(0)" class="nextPay fr" id="paybtn">去支付</a>
				<p class="allPrice  fr">总价：<b>&yen;<i class="price"></i></b></p>
				<a href="javascript:window.history.back()" class="prevStep" id="BackBtn">&lt; 返回上一步</a>
			</div>
			<div class="protocol">
				<label name="rbt2" id="protocol" type="checkbox" val="" class="cbt cb checked"><i></i></label>我已阅读并接受《
				<a href="{echo WEB_MAIN_URL}/about/xieyi.html" target="_blank"><span>用户协议</span></a>》
			</div>
		</div>
		<div class="OrderRight mt40 sidebar fr autofix_sb">
			<div class="orderIns">
				<div class="orderInsTop"></div>
				<div class="orderInsM">
					<div class="OrderRightTit">
						<span class="name">订单详情</span>
						<div class="OrderRightP f20 mt15">{$StudyYoosure['Title']}</div>
						<div class="OrderRightP f16 mt10">产品编号：<span class="productid"></span></div>
						<div class="OrderRightP f16">出发时间：<span class="date"></span></div>
						<div class="OrderRightP f16">报名人数：<span class="num"></span>人</div>
						<p class="allPrice cf mt25">总价：<b>&yen;<i class="price"></i></b></p>
					</div>
				</div>
				<div class="orderInsB"></div>
			</div>
		</div>
	</div>
</div>
{template Footer}
<script type="text/javascript" src="{echo JsURL}/base/tc_login.js"></script>
<script src="{echo JsURL}/study/StudyOrderPublic.js"></script>
<script src="{echo JsURL}/study/StudyTourOrder.js"></script>
</body>
</html>