<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{$Title}</title>
	<meta name="keywords" content="{$Keywords}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>
	<meta name="description" content="{$Description}">
	<link href="{echo CssURL}/common/reset.css" rel="stylesheet" type="text/css" />
	<link href="{echo CssURL}/study/studypublic3.0.css" rel="stylesheet" type="text/css" />
	<script src="{echo JsURL}/base/jquery/1.10.2/jquery.min.js"></script>
	<script src="{echo JsURL}/base/base.js"></script>
</head>
<body>
<div class="wrap">
	<div class="NfixMenu studyFixMenu">
		<ul class="cf">
			<li class="i1">
				<a class="a transition" href="JavaScript:void(0)"><i></i></a>
			</li>
			<li class="i4">
				<a class="a transition" href="JavaScript:void(0)"><i></i></a>
				<div class="FixSecond FixPhone">
					<em></em>
					<div class="FixSecondM">400-018-5757</div>
				</div>
			</li>
			<li class="i3" href="JavaScript:void(0)">
				<a class="a transition" href=""><i></i></a>
				<div class="FixSecond FixEwm">
					<em></em>
					<div class="FixSecondM">
						<p class="tit">57US留学微信</p>

						<img src="{echo ImageURL}/img/common/wxstudy.jpg" width="134"></div>
				</div>
			</li>
			<li class="i5 backtop">
				<a class="a transition" href="JavaScript:void(0)"><i></i></a>
			</li>
			<li class="i6"></li>
		</ul>
	</div>
	<div class="header">
		<div class="w1200 cf">
			<ul class="OrderProcess fr">
				<li><span>确认订单</span><i>1</i><em></em></li>
				<li><span>支付</span><i>2</i><em></em></li>
				<li><span>完成</span><i>3</i><em></em></li>
			</ul>
			<a target="_blank" href="{echo WEB_STUDY_URL}" class="StudyLogo" title="57美国网" >57美国网</a>
		</div>
	</div>