.w1000{width: 1000px; margin: 0 auto;}
.tit1,.tit2,.tit3,.tit4{ background: url(../images/tit1.png) no-repeat; width: 250px; height: 80px; display: block; overflow: hidden; margin: 0 auto; text-indent: -999px;}
.tit2{ background: url(../images/tit2.png) no-repeat; width: 283px; }
.tit3{ background: url(../images/tit3.png) no-repeat; width: 176px; }
.tit4{ background: url(../images/tit4.png) no-repeat; width: 281px; }
/*banner*/
.ban{ width:1920px; height:600px; position:relative; left:50%; margin-left:-960px; overflow:hidden; position:relative;z-index: 1;}
.ban .pic{ position:relative; z-index:0; }
.ban .pic img { width:1920px; height:600px; display: block; }
.ban .hd { width:100%; position: absolute; bottom: 13px; text-align: center; font-size:0; z-index:1; }
.ban .hd li{ background:#5f5f5f; border-radius:100%; width:11px;height:11px;overflow: hidden;display:inline-block; *display:inline; zoom:1; cursor: pointer;margin: 0 5px; box-shadow:0 0 3px rgba(255,255,255,0.5)}
.ban .hd .on{background:#aa3830; }

.red{color: #d93625;}
.Platform{ height: 134px; overflow: hidden; font-size: 20px; color: #686868; line-height: 34px;}
.Platform img,.EB5Ins img{ width: 138px; height: 134px; float: left; margin-right: 24px;}
.EB5Ins{font-size: 20px; color: #686868; line-height: 34px;}
.EB5InsCont{width: 835px; height: auto;overflow: hidden;padding-bottom: 15px;}

.item{ background: url(../images/itembg.jpg) center top no-repeat; height: 540px; overflow: hidden; padding-top: 90px;}
.ItemLeft{width: 360px;}
.ItemTit{ font-size: 30px; color: #fff; font-weight: bold;}
.ItemTit span{font-size: 14px; font-weight: normal; line-height: 20px; display: inline-block;}
.ItemTit1{ font-size: 24px; color: #e5b274;}
.ItemList{}
.ItemList li{ height: 36px; line-height: 36px; overflow: hidden;border-bottom: 1px solid #66696c; color: #fff; font-size:22px;}
.ItemList li.m{font-weight: bold; color: #ff8981;}
.Advantage{background: url(../images/ysRight.jpg) right bottom no-repeat; height: auto;overflow: hidden; padding-bottom: 15px;}
.AdvantageList{ background: url(../images/ysLeft.png) left top no-repeat; height: 611px; width: 501px; overflow: hidden; font-size: 22px; color: #8b8b8b; line-height: 40px; padding-left: 119px;}
.AdvantageList p b{color: #747474;}

.Ghbox{background:url(../images/gh.jpg) center top no-repeat; height: 422px; overflow: hidden; text-indent: -9999px;}

.ItemSafe{background:url(../images/safe.png) left top no-repeat; height: 600px; font-size: 22px; color: #8b8b8b; line-height: 38px; padding-left: 125px; overflow: hidden;}
.AdvantTwo{ background: #e7e7e7; padding: 20px 0;}
.AdvantTwoT{color: #777777;}
.AdvantTwoT .china{font-weight: bold;font-size: 30px;color: #134780;}
.AdvantTwoLeft{width: 356px; height: 390px; padding-right: 40px; border-right: 1px solid #dadada;}
.AdvantTwoLeftM{ line-height: 34px; font-size: 20px;}
.AdvantTwoLefTit{ color: #e5b274;}
.AdvantTwoLefTit .china{font-size: 24px;font-weight: bold;}
.AdvantTwoRight{ width: 564px;}
.success{ font-size: 20px; line-height:35px;}

.wrapBottom{ background: url(../images/bg1.jpg) center bottom no-repeat; height: 1451px; overflow: hidden; position:relative; color: #fff;}
.wrapBottomBg{ filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#E5282F34', endColorstr='#E5282F34');background:rgba(40,47,52,0.9);width: 100%; height:1200px; position: absolute; top: 0; left: 0;}
.wrapBottom .AdvantTwoT{color: #fff; }
.wrapBottom .AdvantTwoT .china{color: #fff;}
.wrapBottomBox{position: relative;z-index: 1;}
.gov{line-height: 50px; font-size: 20px; position: relative;z-index: 1;}
.BottomContact{filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#E50F0F0F', endColorstr='#E50F0F0F');background:rgba(15,15,15,0.9); height: 264px; overflow: hidden;}
.ContactFeek{ background: url(../images/bottom.png) no-repeat;  height: 220px; overflow: hidden;}
.ContactList{ width: 406px; padding-top: 36px;}
.ContactList li{height: 41px; line-height: 41px; overflow: hidden;border-bottom: 1px solid #fff; text-indent: 6px; font-size: 18px; color: #cacaca;}
.ContactList li input{width: 340px; height: 41px; line-height: 41px;border: 0; background: none; color: #cacaca;font-size: 18px; }
.ContactBtn{ background: #cc3a30; width: 125px; height: 44px; text-align: center; line-height: 44px; color: #fff; border: 0; cursor: pointer; display: inline-block; font-size: 18px; margin-top: 12px;}
.ContactBtn:hover{ background: #bb271d; color: #fff;}

/*固定窗口*/
.FixContact{ background: url(../images/fixbg.png) center top no-repeat; width: 100%; height: 250px; overflow: hidden; position: fixed; bottom: -250px; left: 0; z-index: 10;}
.FixContact .close{width: 43px; height: 43px; display: inline-block; position: absolute; top: 66px; left: 50%; margin-left:520px;}
.FixContactM{ width:406px; position: absolute; top: 58px; left: 50%;margin-left: -180px;}
.FixContactM li{ height: 32px; line-height: 32px;}
.FixContactM li input{ height: 32px; line-height: 32px;}
.FixContactM .ContactBtn{height: 34px; line-height: 34px;}
.FixContact.on{bottom: 0;}
