{template Head}
<div class="wrapper">
    <div class="row">
        <div class="col-md-12">
            <!--breadcrumbs start -->
            <ul class="breadcrumb panel">
                <li>
                    <a href="#"><i class="fa fa-home"></i> Home</a>
                </li>
                <li>
                    <a href="#">问答专区管理</a>
                </li>
                <li>
                    <a href="/index.php?Module=Ask&Action=Tag&Type={$Type}" class="active">{if $Type == 1}旅游问答标签模块{else}留学问答标签模块{/if}</a>
                </li>
                <span class="position hidden">{if $Type == 1}旅游问答标签模块{else}留学问答标签模块{/if}</span>
            </ul>
            <!--breadcrumbs end -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <span style="float: left;line-height: 38px;margin-left: -10px;padding-right: 10px">关键字：</span>
                    <form class="form-inline" role="form" action="/index.php" method="get">
                        <input type="hidden" name="Module" value="Ask">
                        <input type="hidden" name="Action" value="Tag">
                        <input type="hidden" name="Type" value="{$Type}">
                        <input type="text" class="form-control" placeholder="关键字" name="Keword" value="{$Keword}">
                        <button class="btn btn-info">搜索</button>
                    </form>
                </div>
                <section id="unseen">
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>标签名</th>
                            <th>状态</th>
                            <th>提问时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {loop $Data[Data] $lists}
                        <tr height="35" align="center">
                            <td nowrap="nowrap">{$lists[TagID]}</td>
                            <td nowrap="nowrap" width="200">{$lists[TagName]}</td>
                            <td nowrap="nowrap">{if $lists['Status']==0}未审核{elseif $lists['Status']==1}审核通过{elseif $lists['Status']==2}审核不通过{/if}</td>
                            <td nowrap="nowrap">{echo date("Y-m-d H:i:s",$lists[AddTime])}</td>
                            <td nowrap="nowrap">{if $lists['Status'] == 0}<a href="/index.php?Module=Ask&Action=TagUpdata&ID={$lists['TagID']}&S=1">通过</a> | <a href="/index.php?Module=Ask&Action=TagUpdata&ID={$lists['TagID']}&S=2">不通过</a>{elseif $lists['Status'] == 1}<a href="/index.php?Module=Ask&Action=TagUpdata&ID={$lists['TagID']}&S=2">不通过</a>{else}<a href="/index.php?Module=Ask&Action=TagUpdata&ID={$lists['TagID']}&S=1">通过</a>{/if}
                        </tr>
                        {/loop}
                        </tbody>
                    </table>
                    <form action="/index.php?Module=Ask&Action=Tag&Type={$Type}{$PageUrl}" method="POST">
                        <div class="text-center">
                            <ul class="pagination" data-id="{$Page}">
                                <li><a href="/index.php?Module=Ask&Action=Tag&Type={$Type}&Page=1{$PageUrl}">首页</a></li>
                                {if $Previous}
                                <li><a href="/index.php?Module=Ask&Action=Tag&Type={$Type}&Page={$Previous}{$PageUrl}">上一页</a></li>
                                {/if}
                                {loop $Data[PageNums] $page}
                                <li><a href="/index.php?Module=Ask&Action=Tag&Type={$Type}&Page={$page}{$PageUrl}" {if $Page==$page}class="on"{/if}>{$page}</a></li>
                                {/loop}
                                {if $Next}
                                <li><a href="/index.php?Module=Ask&Action=Tag&Type={$Type}&Page={$Next}{$PageUrl}">下一页</a></li>
                                {/if}
                                <li><a href="/index.php?Module=Ask&Action=Tag&Type={$Type}&Page={$Data[PageCount]}{$PageUrl}">尾页</a></li>
                                <span style="line-height: 27px;margin-right: 10px">第{$Page}页&nbsp;&nbsp;共{$PageMax}页&nbsp;&nbsp;到<input type="text" name ='Page' value ='' style="width:30px;height: 27px;line-height: 27px;margin: 0px 8px 0px 8px">页</span>
                                <button class="btn btn-info" style="background-color: #65CEA7;border-color: #65CEA7;color: #fff;">确定</button>
                            </ul>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>
{template Foot}
