{template Head}
<style>
  .form-inline select{
    width:200px;padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
</style>
<div class="wrapper">
  <div class="row">
    <div class="col-md-12">
      <!--breadcrumbs start -->
      <ul class="breadcrumb panel">
        <li>
          <a href="#"><i class="fa fa-home"></i> Home</a>
        </li>
        <li>
          <a href="#">资讯内容管理</a>
        </li>
        <li>
          <a href="/index.php?Module=ImmigrantNewsArticle&Action=Lists">移民模块</a>
        </li>
        <li class="active">文章列表</li>
      </ul>
      <!--breadcrumbs end -->
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <!--{template TourNewsTop}-->
        <div class="panel-body">
          <span style="float: left;line-height: 38px;margin-left: -10px;padding-right: 10px"></span>
          <form class="form-inline" role="form" action="/index.php" method="get">
            <input type="hidden" name="Module" value="ImmigrantNewsArticle">
            <input type="hidden" name="Action" value="Lists">
            <input type="text" class="form-control" placeholder="文章标题" name="SearByTitle" value="{$SearByTitle}">
            <select name="SearByCategory" id="Category" onchange="GetNewTourAreaID(this.value)" style="position:relative;top:2px;">
              <option value="0">请选择类别</option>
              {loop $CategoryList $Category}
		<option value="{$Category[CategoryID]}" {if $SearByCategory==$Category[CategoryID]}selected="selected"{/if}>&nbsp;&nbsp;{echo
			str_repeat('&nbsp;',$Category[Level]*3)}|- {$Category[CategoryName]}</option>
              {/loop}
            </select>
            <input type="text" class="form-control" placeholder="添加日期({echo date('Y-m-d')})" name="AddTime" value="{$AddTime}" onclick="laydate({istime: AddTime, format: 'YYYY-MM-DD'})">
            <button class="btn btn-info">搜索</button>
            &nbsp;
            <input class="btn btn-info" type="button" value="我的编辑"
                   onclick="javascrtpt:window.location.href='/index.php?Module=ImmigrantNewsArticle&Action=Lists&ID={$AdminID}'">
          </form>
          <section id="unseen" style="position:relative;top:15px;">
          <form class="form-inline" role="form" action="/index.php?Module=ImmigrantNewsArticle&Action=Delete" method="post">
            <table class="table table-bordered table-striped table-condensed">
              <thead>
              <tr align="center">
                <th><input type="checkbox" id="checkAlls" name="checkAll"/></th>
                <th>ID</th>
                <th>文章标题</th>
                <th>图片</th>
                <th>所属分类</th>
                <th>添加日期</th>
                <th>浏览数</th>
                <th>操作</th>
              </tr>
              </thead>
              <tbody>
              {loop $Data[Data] $list}
              <tr align="center">
                <td style="vertical-align: inherit;"><input type="checkbox" id="checkAll" name="ImmigrationID[]" value="{$list[ImmigrationID]}" /></th>
                <td style="vertical-align: inherit;">{$list[ImmigrationID]}</td>
                <td style="vertical-align: inherit;" align="left"><a href="{echo WEB_MAIN_URL}/immigrant/{$list[ImmigrationID]}.html" target="_blank">{$list[Title]}</a></td>
                <td style="vertical-align: inherit;">{if $list[Image]!=''}<a target="_blank" href="{echo ImageURLP2}{$list[Image]}"><img width="100px" height="80px" src="{echo ImageURLP2}{$list[Image]}"></a>{else}无图{/if}</td>
                <td style="vertical-align: inherit;">{$list[CategoryName]}</td>
                <td style="vertical-align: inherit;">{$list[AddTime]}</td>
                <td style="vertical-align: inherit;">{$list[ViewCount]}</td>
                <td style="vertical-align: inherit;">
                  <a class="getinfo"  href="/index.php?Module=ImmigrantNewsArticle&Action=Add&ImmigrationID={$list[ImmigrationID]}">编辑</a> |
                  <a class="getinfo del" href="javascript:void(0)" data-id="{$list[ImmigrationID]}" data-text="{$list[Title]}">删除</a>                </td>
              </tr>
              {/loop}
              </tbody>
            </table>
              <button class="btn btn-danger" name = "button" value="1">批量删除</button>
          </form>
            <form action="/index.php?Module=ImmigrantNewsArticle&Action=Lists{$PageUrl}" method="post">
                    <div class="text-center">
                            <ul class="pagination" data-id="{$Page}">
                                    <li><a href="/index.php?Module=ImmigrantNewsArticle&Action=Lists&Page=1{$PageUrl}">首页</a></li>
                                    {if $Page-1>0}
                                    <li><a href="/index.php?Module=ImmigrantNewsArticle&Action=Lists&Page={echo $Page-1}{$PageUrl}">上一页</a></li>
                                    {/if}
                                    {loop $Data[PageNums] $page}
                                    <li><a href="/index.php?Module=ImmigrantNewsArticle&Action=Lists&Page={$page}{$PageUrl}" {if $Page == $page} class="on" {/if}>{$page}</a></li>
                                    {/loop}
                                    {if $Page<$Data[PageCount]}
                                    <li><a href="/index.php?Module=ImmigrantNewsArticle&Action=Lists&Page={echo $Page+1}{$PageUrl}">下一页</a></li>
                                    {/if}
                                    <li><a href="/index.php?Module=ImmigrantNewsArticle&Action=Lists&Page={$Data[PageCount]}{$PageUrl}">尾页</a></li>
                                    <span style="line-height: 27px;margin-right: 10px;margin-left:10px;">第{$Page}页&nbsp;共{$Data[PageCount]}页&nbsp;到<input type="text" name ='Page' value ='' style="width:30px;height: 27px;line-height: 27px;margin: 0px 8px 0px 8px">页</span>
                                    <button class="btn btn-info" style="background-color: #65CEA7;border-color: #65CEA7;color: #fff;">确定</button>
                            </ul>
                    </div>
            </form>
        </section>
        </div>
      </div>
    </div>
  </div>
</div>
{template Foot}
<script>
  $('.del').click(function () {
    var delid = $(this).attr('data-id');
    var text = $(this).attr('data-text');
    layer.confirm('您确定要删除<span style="color: red">'+text+'</span>？', {
      title: '删除提示',
      btn: ['确定','取消'] //按钮
    }, function(index){
      window.location.href='/index.php?Module=ImmigrantNewsArticle&Action=Delete&ImmigrationID='+delid;
      layer.close(index);
    });
  })
  
  $(function(){
    function initTableCheckbox() {
      var $thr = $('table thead tr');
      var $checkAllTh = $('<th><input type="checkbox" id="checkAll" name="checkAll" /></th>');
      /*将全选/反选复选框添加到表头最前，即增加一列*/
      /*“全选/反选”复选框*/
      var $checkAll = $thr.find('input');
      $checkAll.click(function(event){
        /*将所有行的选中状态设成全选框的选中状态*/
        $tbr.find('input').prop('checked',$(this).prop('checked'));
        /*并调整所有选中行的CSS样式*/
        if ($(this).prop('checked')) {
          $tbr.find('input').parent().parent().addClass('warning');
        } else{
          $tbr.find('input').parent().parent().removeClass('warning');
        }
        /*阻止向上冒泡，以防再次触发点击操作*/
        event.stopPropagation();
      });
      /*点击全选框所在单元格时也触发全选框的点击操作*/
      $checkAllTh.click(function(){
        $(this).find('input').click();
      });
      var $tbr = $('table tbody tr');
      /*点击每一行的选中复选框时*/
      $tbr.find('input').click(function(event){
        /*调整选中行的CSS样式*/
        $(this).parent().parent().toggleClass('warning');
        /*如果已经被选中行的行数等于表格的数据行数，将全选框设为选中状态，否则设为未选中状态*/
        $checkAll.prop('checked',$tbr.find('input:checked').length == $tbr.length ? true : false);
        /*阻止向上冒泡，以防再次触发点击操作*/
        event.stopPropagation();
      });
      /*点击每一行时也触发该行的选中操作*/
      $tbr.click(function(){
        $(this).find('input').click();
      });
    }
    initTableCheckbox();
  });
</script>
<script src="{echo JsURL}/admin/laydate/laydate.js"></script>
