<!-- 左边 start-->
<div class="left-side sticky-left-side">

    <!--logo srtat-->
    <div class="logo">
        <a href="index.html"><img src="/Templates/Admin//Images/Admin/logo.png" alt=""></a>
    </div>

    <div class="logo-icon text-center">
        <a href="index.html"><img src="/Templates/Admin//Images/Admin/logo_icon.png" alt=""></a>
    </div>
    <!--logo end-->

    <div class="left-side-inner">

        <!-- 可见的小型设备 -->
        <div class="visible-xs hidden-sm hidden-md hidden-lg">
            <div class="media logged-user">
                <img alt="" src="/Templates/Admin//Images/Admin/photos/user-avatar.png" class="media-object">
                <div class="media-body">
                    <h4><a href="javascript:void(0)">Aministrator</a></h4>
                    <span>"Hello There..."</span>
                </div>
            </div>

            <h5 class="left-nav-title">Account Information</h5>
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li><a href="#"><i class="fa fa-user"></i> <span>个人资料</span></a></li>
                <li><a href="#"><i class="fa fa-cog"></i> <span>设置</span></a></li>
                <li><a href="#"><i class="fa fa-sign-out"></i> <span>退出</span></a></li>
            </ul>
        </div>

        <!--侧边栏导航 start-->
        <ul class="nav nav-pills nav-stacked custom-nav">
            <li class="menu-list "><a href="index.html"><i class="fa fa-send"></i> <span>旅游产品管理</span></a>
                <ul class="sub-menu-list">
                    <li><a href="/index.php?Module=TourArea&Action=TourAreaList">地区管理</a></li>
                    <li><a href="/index.php?Module=TourCitySpecial&Action=Lists">城市专题管理</a></li>
                    <li><a href="/index.php?Module=TourArea&Action=AttractionsList">景点管理</a></li>
                    <li><a href="/index.php?Module=TourSupplier&Action=TourSupplierList">供应商管理</a></li>
                    <li><a href="/index.php?Module=TourCategory&Action=TourCategoryList">产品类别管理</a></li>
                    <li><a href="/index.php?Module=TourLine&Action=TourLineList">跟团游管理</a></li>
                    <li><a href="/index.php?Module=TourPlay&Action=TourPlayList">当地玩乐管理</a></li>
                    <li><a href="/index.php?Module=TourPassAttractions&Action=Lists">途径城市/景点管理</a></li>
                    <li><a href="/index.php?Module=TourSpecialSubject&Action=TourSpecialSubjectList">旅游特色主题管理</a></li>
                    <li><a href="/index.php?Module=TourFootTag&Action=TourFootTagList">旅游底部标签管理</a></li>
                    <li><a href="/index.php?Module=TourArea&Action=TourStrokeList">旅游主站首页行程管理</a></li>
                    <li><a href="/index.php?Module=TourProductOrder&Action=TourProductOrderList">旅游订单管理</a></li>
                </ul>
            </li>
            <!--<li class="menu-list"><a href=""><i class="fa fa-globe"></i> <span>移民专题管理</span></a>-->
                <!--<ul class="sub-menu-list">-->
                    <!--<li><a href="">留言管理</a></li>-->
                <!--</ul>-->
            <!--</li>-->
            <li class="menu-list"><a href=""><i class="fa fa-globe"></i> <span>签证产品管理</span></a>
                <ul class="sub-menu-list">
                    <li><a href="/index.php?Module=Visa&Action=Details">添加签证</a></li>
                    <li><a href="/index.php?Module=Visa&Action=Lists">签证列表</a></li>  
                    <li><a href="/index.php?Module=VisaOrder&Action=Lists">签证订单管理</a></li>
                </ul>
            </li>
            <li class="menu-list"><a href=""><i class="fa fa-automobile"></i> <span>租车产品管理</span></a>
                <ul class="sub-menu-list">
                    <li><a href="/index.php?Module=TourCarRent&Action=TourCarRentList">租车订单管理</a></li>
                </ul>
            </li>
            <li class="menu-list"><a href=""><i class="fa fa-tachometer"></i> <span>高端定制产品管理</span></a>
                <ul class="sub-menu-list">
                    <li><a href="/index.php?Module=TourQuestionnaire&Action=TourCustomFeaturesList">特色内容定制管理</a></li>
                    <li><a href="/index.php?Module=TourQuestionnaire&Action=TourPrivateOrderList">高端定制订单管理</a></li>
                </ul>
            </li>
            <li class="menu-list"><a href=""><i class="fa fa-hotel"></i> <span>酒店产品管理</span></a>
                <ul class="sub-menu-list">
                    <li><a href="/index.php?Module=HotelOrder&Action=Lists">酒店订单管理</a></li>
                </ul>
            </li>
            <li class="menu-list"><a href=""><i class="fa fa-navicon"></i> <span>资讯内容管理</span></a>
                <ul class="sub-menu-list">
                    <li><a href="/index.php?Module=TourNewsArticle&Action=Lists">旅游模块</a></li>
                    <li><a href="/index.php?Module=TravelsNewsArticle&Action=Lists">游记攻略</a></li>
                    <li><a href="/index.php?Module=StudyAbroadNewsArticle&Action=Lists">留学模块</a></li>
                    <li><a href="/index.php?Module=ImmigrantNewsArticle&Action=Lists">移民模块</a></li>
                    <li><a href="/index.php?Module=TagsCloud&Action=Lists">标签云模块</a></li>
                    <li><a href="/index.php?Module=Tags&Action=Lists">文章标签模块</a></li>
                    <li><a href="/index.php?Module=GetNews&Action=Lists">采集资讯模块</a></li>
                    <li><a href="/index.php?Module=CaiJiWeiXin&Action=Index">采集微信文章模块</a></li>
                </ul>
            </li>
            <li class="menu-list"><a href=""><i class="fa fa-star"></i> <span>系统内容管理</span></a>
                <ul class="sub-menu-list">
                    <li><a href="/index.php?Module=TblLinks&Action=Lists">友情链接</a></li>
                    <li><a href="/index.php?Module=Advertisement&Action=Lists">广告模块</a></li>
                    <li><a href="/index.php?Module=Articles&Action=Lists">自定义页面</a></li>
                </ul>
            </li>
            <li class="menu-list"><a href=""><i class="fa fa-clock-o"></i> <span>问答专区管理</span></a>
                <ul class="sub-menu-list">
                    <li><a href="/index.php?Module=Ask&Action=Lists&Type=1">旅游问答模块</a></li>
                    <li><a href="/index.php?Module=Ask&Action=Tag&Type=1">旅游问答标签模块</a></li>
                    <li><a href="/index.php?Module=Ask&Action=Lists&Type=2">留学问答模块</a></li>
                    <li><a href="/index.php?Module=Ask&Action=Tag&Type=2">留学问答标签模块</a></li>
                    <li><a href="/index.php?Module=Ask&Action=Stand">留学站队模块</a></li>
                </ul>
            </li>
            <li class="menu-list"><a href=""><i class="fa fa-graduation-cap"></i> <span>留学管理</span></a>
                <ul class="sub-menu-list">
                    <li><a href="/index.php?Module=StudyTour&Action=Lists">游学产品管理</a></li>
                    <li><a href="/index.php?Module=StudyTour&Action=OrderList">游学订单管理</a></li>
                    <li><a href="/index.php?Module=StudyTour&Action=ConsultantList">顾问管理</a></li>
                    <li><a href="/index.php?Module=StudyTour&Action=TeacherList">教师管理</a></li>
                    <li><a href="/index.php?Module=StudyTour&Action=IdentityAuditList">身份审核管理</a></li>
                    <li><a href="/index.php?Module=StudyTour&Action=ServiceAuditList">服务审核管理</a></li>
                    <li><a href="/index.php?Module=StudyTour&Action=CourseAuditList">课程审核管理</a></li>
                    <li><a href="/index.php?Module=StudyTour&Action=StudyMarryList">顾问匹配管理</a></li>
                    <li><a href="/index.php?Module=StudyTour&Action=StudyMarryEstimate">免费评估管理</a></li>
                </ul>
            </li>
            {if $_SESSION[AdminGroup]==1}
            <li class="menu-list"><a href=""><i class="fa fa-cogs"></i> <span>管理员管理</span></a>
                <ul class="sub-menu-list">
                    <li><a href="/index.php?Module=AdminManage&Action=Lists">管理员列表</a></li>
                </ul>
            </li>
            {/if}
            <li class="menu-list"><a href=""><i class="fa fa-user"></i> <span>会员中心管理</span></a>
                <ul class="sub-menu-list">
                    <li><a href="/index.php?Module=MemberUser&Action=Lists">会员管理</a></li>
                    <li><a href="/index.php?Module=MemberUser&Action=WithdrawList">提现管理</a></li>
                    <li><a href="/index.php?Module=MemberUser&Action=SendMessageList">站内信管理</a></li>
                </ul>
            </li>

        </ul>
        <!--侧边栏导航  end-->
    </div>
</div>