{template Head}
<style>
    .panel-body ul{
        margin-bottom: 10px;
    }
    .panel-body ul li{
        margin-bottom: 10px;
    }
</style>
<div class="wrapper">
    <div class="row">
        <div class="col-md-12">
            <!--breadcrumbs start -->
            <ul class="breadcrumb panel">
                <li>
                    <a href="#"><i class="fa fa-home"></i> Home</a>
                </li>
                <li>
                    <a href="#">资讯内容管理</a>
                </li>
                <li>
                    {if $Navs=='TourNewsArticle'}
                    <a href="/index.php?Module=TourNewsCategory&Action=Lists">旅游模块</a>
                    {elseif $Navs=='StudyAbroadNewsArticle'}
                    <a href="/index.php?Module=StudyAbroadNewsArticle&Action=Lists">留学模块</a>
                    {elseif $Navs=='ImmigrantNewsArticle'}
                    <a href="/index.php?Module=ImmigrantNewsArticle&Action=Lists">移民模块</a>
                    {elseif $Navs=='TravelsNewsArticle'}
                    <a href="/index.php?Module=TravelsNewsCategory&Action=Lists">游记攻略</a>
                    {/if}
                </li>
                <li class="active">标签列表</li>
            </ul>
            <!--breadcrumbs end -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <!--{template TourNewsTop}-->
                <div class="panel-body" style="border-bottom: 1px  #dfdfdf">
                    <span style="float: left;line-height: 38px;margin-left: 1px;padding-right: 10px"><input type="button" onClick="location.href='/index.php?Module={$Navs}&Action=TagEdit'" value="添加标签" class="btn btn-danger"></span>
                </div>
                <div class="panel-body">
                    <ul class="list-inline">
                        {loop $KeywordList $lists}
                        <li>
                            [<a href="{echo WEB_MAIN_URL}{if $Navs=='TourNewsArticle'}/tour/tags_{$lists[Keyword]}{elseif $Navs=='StudyAbroadNewsArticle'}/study/tags_{$lists[Keyword]}{elseif $Navs=='ImmigrantNewsArticle'}/immigrant/tags_{$lists[Keyword]}{elseif $Navs=='TravelsNewsArticle'}/travels/tags_{$lists[Keyword]}{/if}.html" target="_blank">{$lists[Keyword]}</a>
                            <a href="/index.php?Module={$Navs}&Action=TagEdit&ID={$lists[KeyID]}">修改</a>&nbsp;
                            <a href="javascript:void(0)" data-id="{$lists[KeyID]}" class="del">删除</a> ]
                        </li>
                        {/loop}
                        {if $listpage}
                        <div class="page mt50">
                            {$listpage}
                        </div>
                        {/if}
                        <div class="text-center">
                            <ul class="pagination" data-id="{$Page}">
                                <li><a href="/index.php?Module={$Navs}&Action=TagLists&Page=1">首页</a></li>
                                {if $Previous}
                                <li><a href="/index.php?Module={$Navs}&Action=TagLists&Page={$Previous}">上一页</a></li>
                                {/if}
                                {loop $Data[PageNums] $page}
                                <li><a href="/index.php?Module={$Navs}&Action=TagLists&Page={$page}" {if $Page==$page}class="on"{/if}>{$page}</a></li>
                                {/loop}
                                {if $Next}
                                <li><a href="/index.php?Module={$Navs}&Action=TagLists&Page={$Next}">下一页</a></li>
                                {/if}
                                <li><a href="/index.php?Module={$Navs}&Action=TagLists&Page={$Data[PageCount]}">尾页</a></li>
                            </ul>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{template Foot}
<script>
    $('.del').click(function () {
        var delid = $(this).attr('data-id');
        var text = $(this).prev().prev().text();
        layer.confirm('您确定要删除<span style="color: red">'+text+'</span>？', {
            title: '删除提示',
            btn: ['确定','取消'] //按钮
        }, function(index){
            window.location.href='/index.php?Module={$Navs}&Action=DeleteTag&ID='+delid;
            layer.close(index);
        });
    })
</script>