{template Head}
<div class="wrapper">
    <div class="row">
        <div class="col-md-12">
            <!--breadcrumbs start -->
            <ul class="breadcrumb panel">
                <li>
                    <a href="#"><i class="fa fa-home"></i> Home</a>
                </li>
                <li>
                    <a href="#">课程审核管理</a>
                </li>
                <li>
                    <a href="/index.php?Module=StudyTour&Action=CourseAuditDetail&ID={$ID}" class="active">课程审核详情</a>
                </li>
                <span class="position hidden">课程审核管理</span>
            </ul>
            <!--breadcrumbs end -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <table class="table table-bordered table-striped table-hover">
                        <tr>
                            <td height="35" colspan="3"><h5>&nbsp;&nbsp;课程信息：</h5>
                            </td>
                        </tr>
                        <tr>                    <!--一行-->
                            <td width="20%">课程名称:{$Course[CourseName]}</td>        <!--一列-->
                            <td  width="40%">课程类型:{$CourseType[$Course[CourseType]]}</td>
                            <td  width="40%">上课方式:{$TeachType[$Course[TeachType]]}</td>
                        </tr>
                        <tr>
                            <td>课程价格:{$Course[CoursePrice]}</td>
                            <td>课程说明:{$Course[CourseDescription]}</td>
                            <td>课程详情:{$Course[Content]}</td>
                        </tr>
                        <tr>
                            <td height="35" colspan="3"><h5>&nbsp;&nbsp;课程图片：</h5>
                            </td>
                        </tr>
                        <tr>
                            {loop $CourseImage $val}
                            <td><a  href="{$val}" target="_blank" title="点击查看大图"><img src="{$val}" height="150px" width="150px"></a></td><!--一行-->
                            {/loop}
                        </tr>

                        {loop $PackageList $val}
                        <tr>
                            <td height="35" colspan="3"><h5>&nbsp;&nbsp;班级信息：</h5>
                            </td>
                        </tr>
                        <tr>
                            <td>班级名称:{$val[PackageName]}</td><!--一行-->
                            <td>班级价格:{$val[PackagePrice]}元</td>        <!--一列-->
                            <td>班级人数:{$val[ClassPersonNum]}</td>
                        </tr>
                        <tr>
                            <td>课程数量:{$val[LessonNum]}</td><!--一行-->
                            <td>单节时长:{$val[LessonDuration]}</td>        <!--一列-->
                            <td>总时长:{$val[CourseDuration]}</td>
                        </tr>
                        <tr>
                            <!--一行-->
                            <td>上课地址:{$val[ClassUrl]}</td>
                            <td>安排描述:{$val[TimePlans]}</td><!--一列-->
                            <td></td>
                        </tr>
                        {/loop}
                    </table>
                    <table class="table table-bordered table-striped table-hover">
                        <form action='/index.php?Module=StudyTour&Action=CourseAuditDetail'  method='post'  enctype="multipart/form-data">
                            <tbody>
                            <tr>
                                <td class="t-r" width="150">审核状态：</td>
                                <td>
                                    <select name="Status" id="Status" class="form-control" style="width:200px;float:left;margin-right: 10px" onchange="GetNewTourAreaID(this.value)" >
                                        <option value="0" {if !$Course[Status]}selected="selected"{/if}>请选择状态</option>
                                        <option value="1" {if $Course[Status] == 1}selected="selected"{/if}>提交审核</option>
                                        <option value="2" {if $Course[Status] == 2}selected="selected"{/if}>审核失败</option>
                                        <option value="3" {if $Course[Status] == 3}selected="selected"{/if}>上架</option>
                                        <option value="4" {if $Course[Status] == 4}selected="selected"{/if}>下架</option>
                                        <option value="5" {if $Course[Status] == 5}selected="selected"{/if}>删除</option>
                                    </select>
                                    <input type="hidden" name="ID" value="{$ID}" />
                                    <input class="btn btn-danger" type="submit" name="submit" value="修改">
                                </td>
                            </tr>
                            </tbody>
                        </form>
                    </table>
                    <tr>
                        <td><a class="right" href="/index.php?Module=StudyTour&Action=CourseAuditList">返回列表</a></td>
                    </tr>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 底部 -->
<!--{template Foot}-->