{template Head}
<div class="wrapper">
    <div class="row">
        <div class="col-md-12">
            <!--breadcrumbs start -->
            <ul class="breadcrumb panel">
                <li>
                    <a href="#"><i class="fa fa-home"></i> Home</a>
                </li>
                <li>
                    <a href="#">资讯内容管理</a>
                </li>
                <li href="/index.php?Module=Tags&Action=Lists" class="active">文章标签模块</li>
            </ul>
            <span class="position hidden">文章标签模块</span>
            <!--breadcrumbs end -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel breadcrumb">
                <section id="unseen">
                    <table class="table table-bordered table-striped table-condensed">
                        <th>
                            <input class="{if $TopNavs=='CategoryAdd'}btn btn-info{else}btn btn-danger{/if}" type="button" value="添加标签"
                                   onclick="javascrtpt:window.location.href='/index.php?Module=Tags&Action=Edit'">
                        </th>
                    </table>
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>标签</th>
                            <th>地址</th>
                            <th>权重</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {loop $TagsList $lists}
                        <tr height="35" align="center">
                            <td nowrap="nowrap">{$lists[TagsID]}</td>
                            <td nowrap="nowrap">{$lists[TagsName]}</td>
                            <td nowrap="nowrap">{$lists[TagsUrl]}</td>
                            <td nowrap="nowrap">{$lists[Sort]}</td>
                            <td nowrap="nowrap">
                                <a href="/index.php?Module=Tags&Action=Edit&ID={$lists[TagsID]}">编辑</a>
                                &nbsp;|&nbsp;
                                <a class="getinfo del" href="javascript:void(0)" data-id="{$lists[TagsID]}" data-text="{$lists[TagsName]}">删除</a>
                            </td>
                        </tr>
                        {/loop}
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
    </div>
</div>
{template Foot}
<script>
    $('.del').click(function () {
        var delid = $(this).attr('data-id');
        var text = $(this).attr('data-text');
        layer.confirm('您确定要删除<span style="color: red">'+text+'</span>？', {
            title: '删除提示',
            btn: ['确定','取消'] //按钮
        }, function(index){
            window.location.href='/index.php?Module=Tags&Action=Delete&ID='+delid;
            layer.close(index);
        });
    });
</script>