{template Head}
<div class="wrapper">
    {template TourProductPlayTop}
    <div class="panel-body">
        <table class="table table-bordered table-striped table-hover">
            <tbody>
            <tr>
                <td colspan="5"><h5> SKU管理：<a class="getinfo"  href="/index.php?Module=TourPlay&Action=TourProductPlaySkuEdit&TourProductID={$TourProductID}">添加套餐</a></h5>

                </td>
            </tr>
            <tr height="35" align="center">
                <td align="left" nowrap="nowrap"><strong>SKU名称 </strong></td>
                <td nowrap="nowrap" center="left"><strong>SKU编号</strong></td>
                <td nowrap="nowrap"><strong> 状态</strong></td>
                <td width="150" nowrap="nowrap"><strong> 操作 </strong></td>
            </tr>
            {loop $SkuLists $list}
            <tr height="35" align="center">
                <td align="left" nowrap="nowrap">{$list[SKUName]}</td>
                <td nowrap="nowrap">{$list[SkuNO]}</td>
                <td nowrap="nowrap">{if $list[Status]==0}禁用{elseif $list[Status]==1}启用{/if}</td>
                <td nowrap="nowrap">{if $list[Status]=='0'}<a class="getinfo"  href="/index.php?Module=TourPlay&Action=TourProductPlaySkuStatus&ProductSkuID={$list[ProductSkuID]}&Status=1">启用</a>{else}<a class="getinfo"  href="/index.php?Module=TourPlay&Action=TourProductPlaySkuStatus&ProductSkuID={$list[ProductSkuID]}&Status=0">禁用</a>{/if} | <a class="getinfo"  href="/index.php?Module=TourPlay&Action=TourProductPlaySkuPriceList&ProductSkuID={$list[ProductSkuID]}">设置价格</a> | <a class="getinfo"  href="/index.php?Module=TourPlay&Action=TourProductPlaySkuEdit&ProductSkuID={$list[ProductSkuID]}&TourProductID={$list[TourProductID]}">SKU设置</a></td>
            </tr>
            {/loop}
            </tbody>
        </table>
    </div>
</div>
</div>
</div>
</div>
{template Foot}