{template Head}
<div class="wrapper">
    <div class="row">
        <div class="col-md-12">
            <!--breadcrumbs start -->
            <ul class="breadcrumb panel">
                <li>
                    <a href="#"><i class="fa fa-home"></i> Home</a>
                </li>
                <li>
                    <a href="#">高端定制管理</a>
                </li>
                <li class="active position">高端定制订单管理</li>
            </ul>
            <!--breadcrumbs end -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel breadcrumb">
                <div class="panel-body">
                    <span style="float: left;line-height: 36px;margin-left: -10px;padding-right: 10px">订单号：</span>
                    <form class="form-inline" role="form" action="/index.php?Module=TourQuestionnaire&Action=TourPrivateOrderList" method="get">
                        <input type="hidden" name="Module" value="TourQuestionnaire">
                        <input type="hidden" name="Action" value="TourPrivateOrderList">
                        <input type="text" class="form-control" placeholder="订单号" name="OrderNo" value="{$OrderNo}">
                        订单状态：
                        <select name="Status" id="Status"  class="form-control" onchange="GetNewTourAreaID(this.value)">
                            <option style="width:200px;"  value="{$Status}">{if !$StatusInfo[$Status]}请选择状态{else}{$StatusInfo[$Status]}{/if}</option>
                            <option  value="">全部</option>
                            {loop $StatusInfo $key $value}
                            <option  value="{$key}">{$value}</option>
                            {/loop}
                        </select>
                        <button class="btn btn-info">搜索</button>
                    </form>
                </div>
                <section id="unseen">
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                        <tr>
                            <th>订单编号</th>
                            <th>下单时间</th>
                            <th>姓名</th>
                            <th>金额</th>
                            <th>状态</th>
                            <th>手机号</th>
                            <th>邮箱</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {loop $Data[Data] $list}
                        <tr height="35" align="center">
                            <td align="center" nowrap="nowrap">{$list[OrderNo]} </td>
                            <td nowrap="nowrap">{$list[CreateTime]}</td>
                            <td nowrap="nowrap">{$list[Name]}</td>
                            <td nowrap="nowrap">{$list[Money]}</td>
                            <td nowrap="nowrap">{$StatusInfo[$list[Status]]}</td>
                            <td nowrap="nowrap">{$list[Phone]}</td>
                            <td nowrap="nowrap">{$list[Mail]}</td>
                            <td nowrap="nowrap"><a  class="getinfo" href="/index.php?Module=TourQuestionnaire&Action=TourPrivateOrderEdit&OrderID={$list[OrderID]}">订单管理</a>&nbsp;|&nbsp;<a class="getinfo"  href="/index.php?Module=TourQuestionnaire&Action=TourPrivateOrderDetail&OrderID={$list[OrderID]}">详情</a> </td>
                        </tr>
                        {/loop}
                        </tbody>
                    </table>
                    <form action="" method="POST">
                        <div class="text-center">
                            <ul class="pagination" data-id="{$Page}">
                                <li><a href="/index.php?Module=TourQuestionnaire&Action=TourPrivateOrderList&Page=1{$PageUrl}">首页</a></li>
                                {if $Previous}
                                <li><a href="/index.php?Module=TourProductOrder&Action=TourProductOrderList&Page={$Previous}{$PageUrl}">上一页</a></li>
                                {/if}
                                {loop $Data[PageNums] $page}
                                <li><a href="/index.php?Module=TourQuestionnaire&Action=TourPrivateOrderList&Page={$page}{$PageUrl}" {if $Page == $page} class="on" {/if}>{$page}</a></li>
                                {/loop}
                                {if $Next}
                                <li><a href="/index.php?Module=TourProductOrder&Action=TourProductOrderList&Page={$Next}{$PageUrl}">下一页</a></li>
                                {/if}
                                <li><a href="/index.php?Module=TourQuestionnaire&Action=TourPrivateOrderList&Page={$Data[PageCount]}{$PageUrl}">尾页</a></li>
                                <span style="line-height: 27px;margin-right: 10px">第{$Page}页&nbsp;&nbsp;共{$PageMax}页&nbsp;&nbsp;到<input type="text" name ='page' value ='' style="width:30px;height: 27px;line-height: 27px;margin: 0px 8px 0px 8px">页</span>
                                <button class="btn btn-info" style="background-color: #65CEA7;border-color: #65CEA7;color: #fff;">确定</button>
                            </ul>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>
{template Foot}
