{template Head}
<div class="wrapper">
  <div class="row">
    <div class="col-md-12">
      <!--breadcrumbs start -->
      <ul class="breadcrumb panel">
        <li>
          <a href="#"><i class="fa fa-home"></i> Home</a>
        </li>
        <li>
          <a href="#">旅游产品管理</a>
        </li>
        <li class="active position">特色内容定制管理</li>
      </ul>
      <!--breadcrumbs end -->
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel breadcrumb">
        <div class="panel-body">
          <span style="float: left;line-height: 38px;margin-left: -10px;padding-right: 10px">标题：</span>
          <form class="form-inline" role="form" action="/index.php" method="get">
            <input type="hidden" name="Module" value="TourQuestionnaire">
            <input type="hidden" name="Action" value="TourCustomFeaturesList">
            <input type="text" class="form-control" placeholder="特色名称" name="Title" value="{$Title}">
            <button class="btn btn-info">搜索</button>
            <input type="button" onClick="location.href='/index.php?Module=TourQuestionnaire&Action=TourCustomFeaturesAdd'" value="添加" class="btn btn-danger">
          </form>
        </div>
        <section id="unseen">
          <table class="table table-bordered table-striped table-condensed">
            <thead>
            <tr align="center">
              <th width="50px">ID</th>
              <th>特色名称</th>
              <th>特色简单描述</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {loop $Data[Data] $lists}
            <tr height="35" align="center">
              <td nowrap="nowrap" width="20px">{$lists[ID]}</td>
              <td nowrap="nowrap" width="100px">{$lists[CustomName]}</td>
              <td nowrap="nowrap" width="200px">{$lists[Description]}</td>
              <td nowrap="nowrap" width="50px">
                <a href="/index.php?Module=TourQuestionnaire&Action=TourCustomFeaturesAdd&ID={$lists[ID]}">修改</a> |
                <a href="javascript:void(0)" class="del" data-id="{$lists[ID]}" data-text="{$lists[CustomName]}">删除</a>
            </tr>
            {/loop}
            </tbody>
          </table>
        </section>
      </div>
    </div>
  </div>
</div>
{template Foot}
<script>
  $('.del').click(function () {
    var delid = $(this).attr('data-id');
    var text = $(this).attr('data-text');
    layer.confirm('您确定要删除<span style="color: red">'+text+'</span>吗？', {
      title: '删除提示',
      btn: ['确定','取消'] //按钮
    }, function(index){
      window.location.href='/index.php?Module=TourQuestionnaire&Action=TourCustomFeaturesDelete&ID='+delid;
      layer.close(index);
    });
  })
</script>
