{template Head}
<div class="wrapper">
  <div class="row">
    <div class="col-md-12">
      <!--breadcrumbs start -->
      <ul class="breadcrumb panel">
        <li>
          <a href="#"><i class="fa fa-home"></i> Home</a>
        </li>
        <li>
          <a href="#">旅游产品管理</a>
        </li>
        <li>
          <a href="/index.php?Module=TourQuestionnaire&Action=TourPrivateOrderList" class="position">高端定制订单管理</a>
        </li>
        <li class="active" id="modify">高端定制订单信息</li>
      </ul>
      <!--breadcrumbs end -->
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-body">
          <form action='/index.php?Module=TourQuestionnaire&Action=TourPrivateOrderEdit'  method='post'  enctype="multipart/form-data">
            <table class="table table-bordered table-striped table-hover">
              <tr>
                <td class="t-h" colspan="3">订单详情：</td>
              </tr>
              <tr>
                <td>订单号：{$OderInfo[OrderNo]}</td>
                <td>下单时间：{$OderInfo[CreateTime]}</td>
                <td>客户端IP：{$OderInfo[IP]}</td>
              </tr>
              <tr>
                <td>订单金额：{$OderInfo[Money]}</td>
                <td>订单状态：{$StatusInfo[$OderInfo[Status]]}</td>
                <td>支付方式：{if $OderInfo[PayType] ==''}无{elseif $OderInfo[PayType] == 1}支付宝{elseif $OderInfo[PayType] == 2}微信{elseif $OderInfo[PayType] == 3}网银{/if}</td>
              </tr>
              <tr>
                <td>出发地：{$OderInfo[StartCity]}</td>
                <td>目的地：{$OderInfo[EndCity]}</td>
                <td>游玩景点：{$OderInfo[ScenicSpots]}</td>
              </tr>
              <tr>
                <td>特色项目定制：{$OderInfo[Customizatin]}</td>
                <td>特色定制需要：{$OderInfo[Demand]}</td>
                <td>其他需求：{$OderInfo[OtherDemand]}</td>
              </tr>
              <tr>
                <td>酒店星级：{$OderInfo[StarHotel]}</td>
                <td>人员：成人{$Number[Addult]}儿童{$Number[Minor]}</td>
                <td>出发时间是否可以跳转：{if $OderInfo[adjust]==1}可以{elseif $OderInfo[adjust]==2}不可以{/if}</td>
              </tr>
              <tr>
                <td>姓名：{$OderInfo[Name]}</td>
                <td>手机号：{$OderInfo[Phone]}</td>
                <td>邮箱：{$OderInfo[Mail]}</td>
              </tr>
              <tr>
            </table>
            <table class="table table-bordered table-striped table-hover">
              <form action='/index.php?Module=TourQuestionnaire&Action=TourPrivateOrderEdit'  method='post'  enctype="multipart/form-data">
                <tbody>
                <tr>
                  <td class="t-r" width="150">订单金额：</td>
                  <td>
                    <div class="col-sm-2">
                      <input type="text" name="Money" value="{$OderInfo[Money]}" class="form-control"/>
                      <input type="hidden" name="OrderID" value="{$OderInfo[OrderID]}" />
                    </div>
                    <input class="btn btn-danger" type='submit' name='submit' value='提交'/>
                  </td>
                </tr>
                </tbody>
              </form>
            </table>
            <table class="table table-bordered table-striped table-hover">
              <form action='/index.php?Module=TourQuestionnaire&Action=TourPrivateOrderEdit'  method='post'  enctype="multipart/form-data">
                <tbody>
                <tr>
                  <td colspan="t-r" width="150">订单状态：</td>
                  <td>
                    <div class="col-sm-2">
                      <select name="Status" id="Status" class="form-control" onchange="GetNewTourAreaID(this.value)">
                        <option value="{$OderInfo[Status]}">{$StatusInfo[$OderInfo[Status]]}</option>
                        {loop $StatusInfo $key $value}
                        <option  value="{$key}">{$value}</option>
                        {/loop}
                      </select>
                    </div>
                    <input type="hidden" name="OrderID" value="{$OderInfo[OrderID]}" />
                    <input class="btn btn-danger" type="submit" name="submit" value="修改">
                  </td>
                </tr>
                </tbody>
              </form>
            </table>
            <table class="table table-bordered table-striped table-hover">
              <form action='/index.php?Module=TourQuestionnaire&Action=TourPrivateOrderEdit'  method='post'  enctype="multipart/form-data">
                <tbody>
                <tr>
                  <td class="t-r" width="150">备注：</td>
                  <td>
                    <div class="col-sm-4">
                      <textarea   type="text" name="Remarks" class="form-control" rows="2">{$OderInfo[Remarks]}</textarea>
                      <input type="hidden" name="OrderID" value="{$OderInfo[OrderID]}" />
                    </div><br>
                    <input class="btn btn-danger" type='submit' name='submit' value='保存'/>
                  </td>
                </tr>
                </tbody>
              </form>
            </table>
            <tr>
              <td height="35" width="500px"><a class="right"  href="/index.php?Module=TourQuestionnaire&Action=TourPrivateOrderList">返回高端订单列表</a></td>
            </tr>
            <input type="hidden" name="ID" value="{$OderInfo[ID]}" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{template Foot}
