<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{$Title}</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="{echo CssURL}/wechat/wapkj/style.css">
</head>
<body>
<div class="body kanjiBody">
    <div class="conter inner">
        <header class="header">
            <span class="fr headRi">
        		<a href="/bargain/ranking/">砍价排行</a>|<a href="JavaScript:void(0)" class="ruleBtn">活动规则</a>
        	</span>
            <a href="/bargain/index/" class="logo fl">57美国网</a>
        </header>
        <div class="PopT2 mt40"></div>
        <p class="activeDate">体验时间：2017.1.30(正月初三)-2017.2.9(元宵节前两天)</p>
        <a href="/bargain/detail/" class="checkMore">查看极光之旅详情</a>
        <input type="hidden" id="UserID" value="{$UserID}">
        <div class="helpMan mt20">
            <img src="{$UserInfo['HeadImgUrl']}"/>
            <span><b>{$UserInfo['Nickname']}</b>邀请您帮忙砍价</span>
        </div>
        <div class="RemainDate tac mt10">
            活动时间剩余：<span class="downTime settime" endTime="{echo date("Y-m-d H:i:s",$BargainInfo[TimeEnd])}"></span>
        </div>
        <div class="kanjiaPrice mt20">
            <span>¥{$BargainInfo['Amount']}</span>/¥29998.00
        </div>
        <div class="kjLoading"><span class="load" style="width: {echo (3000-$BargainInfo['BargainAmount'])/3000*100}%;"></span></div>
        <div class="tac mt20">
            {if !$IsBargain}
            <a href="JavaScript:void(0)" class="btn helpKanjia" id="{if !$IsJudge}helpKanjia{/if}{if $IsJudge}selfKanjia{/if}" data-type="2" data-id="{$UserID}">帮TA砍一刀</a>
            {else}
            <a href="/bargain/index/" class="btn Iaway" >我也要去看极光</a>
            {/if}
            <a href="JavaScript:void(0)" class="btn inviteBtn">邀请好友砍价</a>
        </div>
        <div class="KanjiaMast mt20">
            <p class="tit">砍价高手 <img src="{echo ImageURL}/img/chat/wapkj/start.png" height="80%" style="vertical-align: middle;"/> </p>
            <div class="KanjiaMastM">
                <ul class="lists">
                </ul>
            </div>
        </div>
    </div>
    <div class="Popmask">
        <span class="PopClose"></span>
        <div class="PopT mt40"></div>
        <div class="PopT1 mt10"></div>
        <div class="tac mt10">
            <img src="{echo ImageURL}/img/chat/wapkj/ruleText.png" width="95%" />
        </div>

    </div>
    <div class="mask" id="ewmMask">
        <div class="popewmBox">
            <span class="PopClose"></span>
            <div class="popewm tac">
                <img src="{echo ImageURL}/img/chat/wapkj/ewmtext.png" width="80%" class="mt20"/>
                <img src="{echo ImageURL}/img/common/wxtravel.jpg" class="ewm mt10"/>
            </div>
        </div>
    </div>
    <div class="shareBox">
        <div class="shareDiv"><img src="{echo ImageURL}/img/chat/wapkj/shareBg.png" width="100%"/></div>
    </div>
    <span class="backTop"></span>
</div>
<script type='text/javascript' src="{echo JsURL}/m/lib/zepto/1.2/zepto.js" charset='utf-8'></script>
<script type='text/javascript' src="{echo JsURL}/m/lib/lib.js" charset='utf-8'></script>
<script type='text/javascript' src="{echo JsURL}/m/lib/layer.mobile/2.0/layer.js" charset='utf-8'></script>
<script type='text/javascript' src="{echo JsURL}/wechat/wapkj/public.js" charset='utf-8'></script>
<script type='text/javascript' src="{echo JsURL}/m/lib/Dropload/0.9.0/dropload.min.js" charset='utf-8'></script>
<script type='text/javascript' src="{echo JsURL}/wechat/wapkj/Bargain.js" charset='utf-8'></script>
<script type="text/javascript">
    $("#helpKanjia").click(function(){
        $("#ewmMask").show();
    });
    $(".PopClose").click(function(){
        $("#ewmMask").hide();
    })
</script>
<!--倒计时插件-->
<script type='text/javascript' src="{echo JsURL}/wechat/wapkj/Countdown.js" charset='utf-8'></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    wx.config({
        debug: false,
        appId: '{$SignPackage[appId]}',
        timestamp: {$SignPackage[timestamp]},
        nonceStr: '{$SignPackage[nonceStr]}',
        signature: '{$SignPackage[signature]}',
        jsApiList: [
            // 所有要调用的 API 都要加到这个列表中
            'checkJsApi',
            'openLocation',
            'getLocation',
            'onMenuShareTimeline',
            'onMenuShareAppMessage'
        ]
    });
</script>
<script>
    // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在 页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready 函数中。
    wx.ready(function(){
        wx.onMenuShareAppMessage({
            title: '{$Message}', // 分享标题
            desc: '厦门出发，费尔班克斯+西雅图+奥林匹克国家公园11天9夜极光之旅',
            imgUrl: '{echo ImageURL}/img/chat/bargain/wechat_bargain_fx.jpg',
            link:'{$Url}',
            trigger: function (res) {
                // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
                // alert('用户点击发送给朋友');
            },
            success: function (res) {
                // alert('已分享');
            },
            cancel: function (res) {
                // alert('已取消');
            },
            fail: function (res) {
                // alert(JSON.stringify(res));
            }
        });
        wx.onMenuShareTimeline({
            title: '{$Message}',
            imgUrl: '{echo ImageURL}/img/chat/bargain/wechat_bargain_fx.jpg',
            link:'{$Url}',
            trigger: function (res) {
                // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
                // alert('用户点击分享到朋友圈');
            },
            success: function (res) {
                // alert('已分享');
            },
            cancel: function (res) {
                // alert('已取消');
            },
            fail: function (res) {
                // alert(JSON.stringify(res));
            }
        });
    });
</script>
</body>
</html>