<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{$Title}</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="{echo CssURL}/wechat/wapkj/style.css">
</head>
<body>
<div class="body indexBody">
    <div class="conter">
        <header class="header">
            <span class="fr headRi">
        		<a href="/bargain/ranking/">砍价排行</a>|<a href="JavaScript:void(0)" class="ruleBtn">活动规则</a>
        	</span>
            <a href="/bargain/index/" class="logo fl">57美国网</a>
        </header>
        <section class="indexText"></section>
        <a href="/bargain/detail/" class="checkMore">查看极光之旅详情</a>
<!--
        <a href="/bargain/bargain/" class="startKanjia">开始砍价</a>
-->
        <a href="javascript:void(0)" class="startKanjia" id="over">开始砍价</a>
    </div>
    <div class="Popmask">
        <span class="PopClose"></span>
        <div class="PopT mt40"></div>
        <div class="PopT1 mt10"></div>
        <div class="tac mt10">
            <img src="{echo ImageURL}/img/chat/wapkj/ruleText.png" width="95%" />
        </div>
    </div>
</div>
<script type='text/javascript' src="{echo JsURL}/m/lib/zepto/1.2/zepto.js" charset='utf-8'></script>
<script type='text/javascript' src="{echo JsURL}/m/lib/lib.js" charset='utf-8'></script>
<script type='text/javascript' src="{echo JsURL}/wechat/wapkj/public.js" charset='utf-8'></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type='text/javascript' src="{echo JsURL}/m/lib/layer.mobile/2.0/layer.js" charset='utf-8'></script>
<script>
    $('#over').click(function () {
        layer.open({
            content: '活动结束'
            ,btn: '确定'
        });
        return false;
    });
</script>
<script>
    wx.config({
        debug: false,
        appId: '{$SignPackage[appId]}',
        timestamp: {$SignPackage[timestamp]},
        nonceStr: '{$SignPackage[nonceStr]}',
        signature: '{$SignPackage[signature]}',
        jsApiList: [
            // 所有要调用的 API 都要加到这个列表中
            'checkJsApi',
            'openLocation',
            'getLocation',
            'onMenuShareTimeline',
            'onMenuShareAppMessage'
        ]
    });
</script>
<script>
    // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在 页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready 函数中。
    wx.ready(function(){
        wx.onMenuShareAppMessage({
            title: '我要去看极光!据说朋友越多省越多-57美国网', // 分享标题
            desc: '厦门出发，费尔班克斯+西雅图+奥林匹克国家公园11天9夜极光之旅',
            imgUrl: '{echo ImageURL}/img/chat/bargain/wechat_bargain_fx.jpg',
            link:'{$Url}',
            trigger: function (res) {
                // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
                // alert('用户点击发送给朋友');
            },
            success: function (res) {
                // alert('已分享');
            },
            cancel: function (res) {
                // alert('已取消');
            },
            fail: function (res) {
                // alert(JSON.stringify(res));
            }
        });
        wx.onMenuShareTimeline({
            title: '我要去看极光!据说朋友越多省越多-57美国网', // 分享标题
            imgUrl: '{echo ImageURL}/img/chat/bargain/wechat_bargain_fx.jpg',
            link:'{$Url}',
            trigger: function (res) {
                // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
                // alert('用户点击分享到朋友圈');
            },
            success: function (res) {
                // alert('已分享');
            },
            cancel: function (res) {
                // alert('已取消');
            },
            fail: function (res) {
                // alert(JSON.stringify(res));
            }
        });
    });
</script>
</body>
</html>