<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{$Title}</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="{echo CssURL}/wechat/wapkj/style.css">
</head>

<body>
<div class="body kanjiBody">
    <div class="conter inner">
        <ul class="rankHead">
            <li>排名</li>
            <li>用户</li>
            <li>最终成单价</li>
        </ul>
        <ul class=" rankList lists">
        </ul>
    </div>
    <span class="backTop"></span>
</div>
<script type='text/javascript' src="{echo JsURL}/m/lib/zepto/1.2/zepto.js" charset='utf-8'></script>
<script type='text/javascript' src="{echo JsURL}/m/lib/lib.js" charset='utf-8'></script>
<script type='text/javascript' src="{echo JsURL}/wechat/wapkj/public.js" charset='utf-8'></script>
<script type='text/javascript' src="{echo JsURL}/m/lib/Dropload/0.9.0/dropload.min.js" charset='utf-8'></script>
<script type='text/javascript' src="{echo JsURL}/wechat/wapkj/Ranking.js" charset='utf-8'></script>
</body>

</html>